/*

OFFLINE

*/
.OfflineVisit > li > a:hover,
.OfflineVisit > li > a:focus {
  color: #ff6666;
  text-decoration: none;
}
@media (max-width: 768px) {
  .OfflineTitle {
    font: 60px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 15px auto;
    line-height: 60px;
    text-align: left;
  }
  .OfflineComingsoon {
    font: 30px 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
    margin: 15px auto;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .OfflineVisit > li {
    margin: 5px;
    display: inline-block;
  }
  #Visit, #sendEmail {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}
@media (min-width: 768px) and (max-width: 992px) {
  .OfflineTitle {
    font: 80px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 30px auto;
    line-height: 80px;
    text-align: left;
  }
  .OfflineComingsoon {
    font: 40px 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
    margin: 30px auto;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 5px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}
@media (min-width: 992px) and (max-width: 1200px) {
  .OfflineTitle {
    font: 100px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 20px auto;
    line-height: 100px;
  }
  .OfflineComingsoon {
    font: 60px 'Work Sans', sans-serif;
    color: #fff;
    margin: 30px auto 0;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 30px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 75px;
    height: 75px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}
@media (min-width: 1200px) {
  .OfflineTitle {
    font: 100px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 20px auto;
    line-height: 100px;
  }
  .OfflineComingsoon {
    font: 36px 'Work Sans', sans-serif;
    color: #fff;
    margin: 30px auto 0;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 30px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 75px;
    height: 75px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}
/*

MAIN CLASS

*/
.MAINColor {
  fill: #FF6666;
  color: #FF6666;
}
.FOODColor {
  fill: #FF3366;
  color: #FF3366;
}
.PTEKColor {
  fill: #FFFF00;
  color: #FFFF00;
}
.MAVColor {
  fill: #0099FF;
  color: #0099FF;
}
.ITColor {
  fill: #00FF99;
  color: #00FF99;
}
.WColor {
  fill: #FFFFFF;
  color: #FFFFFF;
}
.GColor {
  fill: #333333;
  color: #333333;
}
.Bold12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.Regular12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
/*

Base structure

*/
*:focus {
  outline: none;
}
html {
  height: 100%;
  width: 100%;  
}
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  background-image: url(../svg/Mappa_Faenza.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #ff6666;
  font-family: 'Work Sans', sans-serif;
  cursor: url(../svg/Cursor.svg), default;
}
.container-fluid {
  text-align: center;
  padding: 0 15px;
  margin: auto;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
/*

TOOLTIP 

*/
.Tootisx {
  margin: 0;
  padding: 0;
  cursor: default;
  border: none;
  background: transparent;
  float: right;
}
.Tootidx {
  margin: 0;
  padding: 0;
  cursor: default;
  border: none;
  background: transparent;
  float: left;
}
button + .tooltip > .tooltip-inner {
  font-family: 'Work Sans', sans-serif;
  background: #000;
  color: #fff;
  font-size: 12px;
}
/*

HOME

*/
#Logo {
  margin: 50px 0;
}
.StrokePages {
  fill:none;stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.StrokeRettangoloCentrale {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.StrokeLines {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.StrokeWindows {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.TitleFont {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 39px;
}
.ButtonStart {
  cursor: pointer;
}
.MAINStroke2px {
  fill: none;
  stroke: #FF6666;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.Enter {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.Sigla { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 150%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
/*

MAP

*/
.FOODRound {
  fill: none;
  stroke: #FF3366;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.PTEKRound {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.MAVRound {
  fill: none;
  stroke: #0099FF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.ITRound {
  fill: none;
  stroke: #00FF99;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.FOODMetroLine {
  fill: none;
  stroke: #FF3366;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.ITMetroLine {
  fill: none;
  stroke: #00FF99;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  opacity: 0.1;
}
.MAVMetroLine {
  fill: none;
  stroke: #0099FF;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.PTEKMetroLine {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#fillValmori, #fillBandini, #fillTampieri, #fillRuta, #fillBertoni, #fillMartelli, #fillPeroni, #fillSavorani, #fillZauli, #fillSalvatori, #fillBorgini, #fillFionda, #fillRava, #fillTamba, #fillMantovani {
  cursor: pointer;
}
.MLine {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.M {  
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 56px;
}
.FOODStroke2pxLinecap {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.FOODStroke2pxLinejoinbevel {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}
.FOODStroke2pxLinejoinround {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.MAVStroke2px {
  fill: none;
  stroke: #0099FF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.PTEKStroke2px {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.ITStroke2px {
  fill: none;
  stroke: #00FF99;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.ContainerLegendaMetro {
  padding-left: 5px;
}
.ContainerLegendaMetro > svg {
  margin: 10px auto;
}
.ContainerProfileMetro {
  padding-left: 5px;
}
.ContainerProfileMetro > svg {
  margin: 10px auto;
  float: left;
}
/*

ILLUSTRATION

*/
.st0{fill:#8E8E8E;}
.MAVLine{fill:none;stroke:#0099FF;stroke-width:10;stroke-linecap:round;stroke-miterlimit:10;}
.st2{fill:#C1C1C1;}
.ITLine{fill:none;stroke:#66FFCC;stroke-width:10;stroke-linecap:round;stroke-miterlimit:10;}
.st4{fill:#FFFFFF;}
.st5{fill:#663300;}
.st6{fill:#666666;}
.st7{fill:#66FFCC;}
.st8{fill:#CCCCCC;}
.st9{fill:#333333;}
.st10{fill:#D6D6D6;}
.st11{fill:#3D3D3D;}
.st12{fill:#A3A3A3;}
.biointerviewed{color:white;font-family: 'Work Sans', sans-serif;font-weight: 400;font-size: 12px;text-align:left;float: left;}
/*

PROFILE

*/
.fakepadding {
  padding-right: 0px;
  margin-bottom: 10px;
}
.TitoloProfilo {
  font-size: 32px;
  float: left;
}
.Backto {
  cursor: pointer;
  float: right;
  margin: 5px 0;
}
#IvanoValmori, #GabrieleBandini, #AnnaTampieri, #GiuliaRuta, #RobertoBertoni, #AndreaMartelli, #MarcoPeroni, #BarbaraSavorani, #StefanoZauli, #AndreaSalvatori, #RaffaeleBorgini, #MaurizioFionda, #PaoloRava, #MarcoTamba, #FabrizioMantovani {
  padding: 0;
  width: 100%;
  height: 100%;
}
/*
.video-js .vjs-tech {
  position: initial !important;
  top: initial !important;
  left: initial !important;
  width: 100%;
  height: 100%;
}
.video-js .vjs-big-play-button {
  font-size: 6em !important;
  line-height: 6em !important;
  height: 100% !important;
  width: 100% !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
  opacity: 1 !important;
  border: 2px solid #fff !important;
  background-color: initial !important;
  border-radius: 0 !important;
  transition: all 0.4s !important;
}
*/
.NameCompany {
  font-size: 15px;
  margin: 10px auto 0;
  text-align: left;
}
.BioCompany {
  color: #fff;
  font-size: 12px;
  margin: 10px auto 0;
  text-align: left;
}
.DataContainer {
  border-top: 3px solid;
}
.DataContainer > .col-xs-6 > .TestoInfografica,
.DataContainer > .col-sm-6 > .TestoInfografica,
.DataContainer > .col-md-6 > .TestoInfografica,
.DataContainer > .col-lg-6 > .TestoInfografica {
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
}
.DataContainer > .col-xs-6,
.DataContainer > .col-sm-6,
.DataContainer > .col-md-6,
.DataContainer > .col-lg-6 {
  margin: 5px 0;
  padding-left: 0;
}
.Infografica {
  font-size: 36px;
  margin: 0 auto;
  text-align: left;
}
.Infografica > img {
  margin: 5px 0;
}
.TestoInfografica {
  font-size: 15px;
  color: #fff;
  margin: 0 auto 30px;
  text-align: left;
}
.DataLink {
  cursor: pointer;
  color: inherit;
}
.DataLink:hover,
.DataLink:focus {
  text-decoration: none;
  color: #fff;
}
.stroke {
  fill: none;
  stroke: #ff6666;
  stroke-miterlimit: 10;
}
.txt {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  fill: #ff6666;
}
/*

CREDITS

*/
.CreditsContainer {
  margin-bottom: 10px;
}
.CreditsTitle {
  text-align: left;
  margin-bottom: 5px;
  color: #ff6666;
  font-size: 15px;
}
.CreditsPosition {
  text-align: left;
  margin-bottom: 2px;
  color: #fff;
  font-size: 12px;
}
.CreditsName {
  text-align: left;
  margin-bottom: 2px;
  color: #fff;
  font-size: 15px;
}
.ButtonExample {
  margin-bottom: 15px;
  padding: 0;
  text-align: left;
}
.ButtonExample > li {
  margin: 10px 15px 0 0;
  display: inline-block;
  cursor: pointer;
}
.ContainerQwerty {
  text-align: left;
  margin: 5px 0;
  color: #fff;
  font-size: 15px;  
}
.ContainerQwertySmall {
  text-align: left;
  margin: 5px 0;
  color: #fff;
  font-size: 12px;  
}
.ContainerPowered {
  text-align: left;
  margin: 10px 0;
}
.Sponsor {
  margin-right: 35px;
}
.WLine {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.WLine2px {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.WLine2px_ {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:2;
  stroke-miterlimit:10;
}
.G2Color {
  fill: #D0D2D3;
}
.PressKit{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 7.5px;
}
.SCBS {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 33px;
  letter-spacing: 3pt;
}
.fondazione {
  font-family: 'Droid Serif', serif;
  font-size: 10px;
  font-weight: 600;
}
/*

CONTACT US 

*/
.ContactTitle {
  text-align: left;
  font-weight: 600;
  color: #ff6666;
  font-size: 32px;
}
.ContactScbs > input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: 3px solid #333;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.ContactScbs > textarea {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: 3px solid #333;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.ContactScbs > label {
  width: 49%;
  float: left;
  height: 60px;
  padding: 0;
  margin: 0px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: 3px solid #333;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.ContactScbs > label > input[type=checkbox] {
  width: 20px;
  height: 20px;
  float: left;
  padding: 0;
  margin: 10px 15px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: 3px solid #333;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.ContactScbs > label > p {
  text-align: left;
  padding: 0;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
}
.ContactScbs > input:focus,
.ContactScbs > textarea:focus {
  font-size: 20px;
  color: #fff;
  border: 3px solid #ff6666;
  box-shadow: inset 0 2px 2px rgba(255, 102, 102, 0.075);
  outline: none;
}
.ButtonSubmit {
  position: relative;
  width: 49%;
  float: right;
  height: 60px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #ff6666;
  background: transparent;
  border: 3px solid #ff6666;
  cursor: pointer;
}
.ButtonSubmit > p {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  opacity: 1;
  transform: translate3d(80px, 0px, 0px);
  margin: 2px 0;
  font-size: 15px;
  padding: 14.5px 0;
}
.ButtonSubmit > svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  opacity: 0;
  transform: translate3d(0px, 0px, 0px);
  margin: 2px 0;
}
.MAINLine2px {
  fill: none;
  stroke: #FF6666;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
/*

MANIFESTO

*/
.ManifestoTitle {
  text-align: left;
  font-weight: 600;
  color: #ff6666;
  font-size: 32px;
}
/*

TOP MENU

*/
.TopMenu {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ff6666;
}
.Logo {
  color: #ff6666;
  padding: 0px;
  width: 50%;
}
.Logo > a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #ff6666;
  padding: 10px 15px;
  float: left;
}
.Logo > a:hover,
.Logo > a:focus {
  color: #ff6666;
  text-decoration: none;
}
.Nav {
  padding-top: 13px;
  width: 50%;
  float: right;
  text-align: right;
}
.Nav > a {
  margin: 5px 20px;
}
.Faenza {
  font: 18px 'Work Sans', sans-serif;
}
.UnderLine {
  fill:none;
  stroke:#FF6666;
  stroke-width:2;
  stroke-miterlimit:10;
}
/*

BOTTOM MENU

*/
.BottomMenu {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #fff;
}
.VisitMenu {
  padding: 0px;
  width: 50%;
  float: left;
  text-align: left;
}
.VisitMenu > ul > li {
  display: inline-block;
}
.VisitMenu > ul > li > a {
  font: 12px 'Work Sans', sans-serif;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.VisitMenu > ul > li > a:hover,
.VisitMenu > ul > li > a:focus {
  background-color: transparent;
  color: #ff6666;
  text-decoration: none;
}
.TechnicalMenu {
  padding: 0px;
  width: 50%;
  float: right;
  text-align: right;
}
.TechnicalMenu > a {
  font: 12px 'Work Sans', sans-serif;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  background: #000;
}
.TechnicalMenu > a:hover,
.TechnicalMenu > a:focus {
  background-color: transparent;
  color: #ff6666;
  text-decoration: none;
}
.ContainerSocial {
  display: inline-block;
}
.Share {
  font: 12px 'Work Sans', sans-serif;
  padding: 5px 10px;
  margin: 0;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.Share:hover,
.Share:focus {
  color: #ff6666;
  text-decoration: none;
}
.SocialShare {
  font: 12px 'Work Sans', sans-serif;
  padding: 5px 10px;
  margin: 0;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.SocialShare:hover,
.SocialShare:focus {
  color: #ff6666;
  text-decoration: none;
}
/*

ANIMATIONS

*/
.animationview {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  opacity: 1;
}
.animationview.ng-enter,
.animationview.ng-leave {
  transition: all ease 1s;
}
.animationview.ng-enter {
  opacity: 0;
}
.animationview.ng-enter-active {
  opacity: 1;
}
.animationview.ng-leave {
  opacity: 1;
}
.animationview.ng-leave-active {
  opacity: 0;
}
