/****************************************/
/*************   OFFLINE  **************/
/**************************************/
.OfflineVisit > li > a:hover,
.OfflineVisit > li > a:focus {
  color: #ff6666;
  text-decoration: none;
}

@media (max-width: 768px) {
  .OfflineTitle {
    font: 60px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 15px auto;
    line-height: 60px;
    text-align: left;
  }
  .OfflineComingsoon {
    font: 30px 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
    margin: 15px auto;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .OfflineVisit > li {
    margin: 5px;
    display: inline-block;
  }
  #Visit, #sendEmail {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}

@media (min-width: 768px) and (max-width: 992px) {
  .OfflineTitle {
    font: 80px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 30px auto;
    line-height: 80px;
    text-align: left;
  }
  .OfflineComingsoon {
    font: 40px 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
    margin: 30px auto;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 5px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}

@media (min-width: 992px) and (max-width: 1200px) {
  .OfflineTitle {
    font: 100px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 20px auto;
    line-height: 100px;
  }
  .OfflineComingsoon {
    font: 60px 'Work Sans', sans-serif;
    color: #fff;
    margin: 30px auto 0;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 30px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 75px;
    height: 75px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}

@media (min-width: 1200px) {
  .OfflineTitle {
    font: 100px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 20px auto;
    line-height: 100px;
  }
  .OfflineComingsoon {
    font: 36px 'Work Sans', sans-serif;
    color: #fff;
    margin: 30px auto 0;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 30px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 75px;
    height: 75px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}
/****************************************/
/************   MAIN CLASS   ***********/
/**************************************/
.MAINColor {
  fill: #FF6666;
}
.FOODColor {
  fill: #FF3366;
}
.PTEKColor {
  fill: #FFFF00;
}
.MAVColor {
  fill: #0099FF;
}
.ITColor {
  fill: #00FF99;
}
.WColor {
  fill: #FFFFFF;
}
.Bold12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

/********************************************/
/*
 * Base structure
 */
html {
  height: 100%;
  width: 100%;  
}
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  background-image: url(../svg/Mappa_Faenza.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #ff6666;
  font-family: 'Work Sans', sans-serif;
  cursor: url(../svg/Cursor.svg), default;
}
/*
 * Wrap
 */
.Wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.SiteWrapper {
  display: table-cell;
  vertical-align: middle;
}
/****************************************/
/*************   HOME   ****************/
/**************************************/
.container-fluid {
  text-align: center;
  padding: 0 15px;
  margin: auto;
}
.StrokePages {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 15;
  stroke-linecap: round;
}
.Logotype {
  font-size: 78px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
}
.StrokeRettangoloCentrale {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 15;
  stroke-linejoin: round;
}
.StrokeLines {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.StrokeWindows {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.ButtonStart {
  font-family: 'Work Sans', sans-serif;
  color: #ff6666;
  background: none;
  border: 1px solid #ff6666;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
}
.ButtonStart:hover,
.ButtonStart:active, 
.ButtonStart:focus {
  color: #ff6666;
  border: 1px solid #ff6666;
  text-decoration: none;
}
.Sigla { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 150%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
/****************************************/
/***************   MAP  ****************/
/**************************************/
.FOODRound {
  fill: none;
  stroke: #FF3366;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.PTEKRound {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.MAVRound {
  fill: none;
  stroke: #0099FF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.ITRound {
  fill: none;
  stroke: #00FF99;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.FOODMetroLine {
  fill: none;
  stroke: #FF3366;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.ITMetroLine {
  fill: none;
  stroke: #00FF99;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.MAVMetroLine {
  fill: none;
  stroke: #0099FF;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.PTEKMetroLine {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
#fValmori, #fBandini, #fTampieri, #fRuta, #fBertoni, #fMartelli, #fPeroni, #fSavorani, #fZauli, #fSalvatori, #fBorgini, #fFionda, #fRava, #fTamba, #fMantovani {
  cursor: pointer;
}
#fValmori:hover, #fBandini:hover, #fTampieri:hover, #fRuta:hover, #fBertoni:hover, #fMartelli:hover, #fPeroni:hover, #fSavorani:hover, #fZauli:hover, #fSalvatori:hover, #fBorgini:hover, #fFionda:hover, #fRava:hover, #fTamba:hover, #fMantovani:hover {
  fill: #fff;
}
.MLine {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.M {  
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 56px;
}
/********************************************/
.food0{fill:none;stroke:#FF3366;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.food1{fill:none;stroke:#FF3366;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}
.food2{fill:#FF3366;}
.food3{fill:#333333;}
.food4{fill:none;stroke:#FF3366;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
/*********************************************/
.matav0{fill:#0099FF;}
.matav1{fill:none;stroke:#0099FF;stroke-width:2;stroke-miterlimit:10;}
/*********************************************/
.tech0{fill:#FFFF00;}
.tech1{fill:none;stroke:#FFFF00;stroke-width:2;stroke-miterlimit:10;}
/*********************************************/
.it0{fill:#00FF99;}
.it1{fill:none;stroke:#00FF99;stroke-width:2;stroke-miterlimit:10;}
/********************************************/
.ContainerLegendaMetro {
  padding-left: 5px;
}
.ContainerLegendaMetro > h4 {
  font-size: 15px;
  text-align: left;
  color: #fff;
}
.ContainerLegendaMetro > svg {
  margin: 10px auto;
}
.ContainerProfileMetro {
  padding-left: 5px;
}
.ContainerProfileMetro > h4 {
  font-size: 15px;
  text-align: left;
  color: #fff;
  padding-bottom: 2px;
  margin-top: 20px;
  border-bottom: 2px solid #ff6666;
}
.ContainerProfileMetro > svg {
  margin: 10px auto;
}
/*******************************************/
/***************  PROFILE  ****************/
/*****************************************/
.TitoloProfilo {
  color: #fff;
  margin: 0 0 30px 15px;
  float: left;
}
.Backto {
  cursor: pointer;
  float: right;
}
#IvanoValmori, #GabrieleBandini, #AnnaTampieri, #GiuliaRuta, #RobertoBertoni, #AndreaMartelli, #MarcoPeroni, #BarbaraSavorani, #StefanoZauli, #AndreaSalvatori, #RaffaeleBorgini, #MaurizioFionda, #PaoloRava, #MarcoTamba, #FabrizioMantovani {
  padding: 0;
  width: 100%;
  height: 100%;
}
.video-js .vjs-tech {
  position: initial !important;
  top: initial !important;
  left: initial !important;
  width: 100%;
  height: 100%;
}
.video-js .vjs-big-play-button {
  font-size: 6em !important;
  line-height: 6em !important;
  height: 100% !important;
  width: 100% !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
  opacity: 1 !important;
  border: 2px solid #fff !important;
  background-color: initial !important;
  border-radius: 0 !important;
  transition: all 0.4s !important;
}
.NameCompany {
  font-size: 15px;
  margin: 10px auto 0;
  text-align: left;
}
.BioCompany {
  color: #fff;
  font-size: 12px;
  margin: 10px auto 0;
  text-align: left;
}
.DataContainer {
  border-top: 2px solid #00ff99;  
}
.DataContainer > .col-xs-6 > .TestoInfografica,
.DataContainer > .col-sm-6 > .TestoInfografica,
.DataContainer > .col-md-6 > .TestoInfografica,
.DataContainer > .col-lg-6 > .TestoInfografica {
  margin: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
}
.DataContainer > .col-xs-6,
.DataContainer > .col-sm-6,
.DataContainer > .col-md-6,
.DataContainer > .col-lg-6 {
  margin: 5px 0;
  padding-left: 0;
}
.Infografica {
  font-size: 36px;
  color: #00FF99;
  margin: 0 auto;
  text-align: left;
}
.Infografica > img {
  margin: 5px 0;
}
.TestoInfografica {
  font-size: 15px;
  color: #fff;
  margin: 0 auto 30px;
  text-align: left;
}
.DataLink {
  cursor: pointer;
}
.DataLink:hover,
.DataLink:focus {
  text-decoration: none;
}

/****************************************/
/*************  CREDITS  ***************/
/**************************************/
.Socialvisit {
  padding: 0;
  margin: 0;
}
.Socialvisit > li {
  margin: 0 30px;
  display: inline-block;
}
.Socialvisit > li > a > svg {
  width: 75px;
  height: 75px;
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  stroke-miterlimit: 10;
  border: 3px solid #ff6666;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
} 
.Crew {
  text-align: left;
  margin: 15px 0 10px -15px;
  border-bottom: 2px solid #ff6666;
  padding-bottom: 5px;
}
.Position {
  text-align: left;
  font-weight: bold;
  margin: 0;
}
.Nome {
  text-align: left;
  margin: 10px 0px;
  color: #fff;
}
.ThankYou {
  text-align: left;
  margin: 20px 0 0px -15px;
}
.Release {
  text-align: left;
  margin: 0 0 10px -15px;  
}
.white {
  color: #fff;
  display: inline-block;
}
.NomeProgetto {
  font: 44px 'Titillium Web', sans-serif;
  color: #ff6666;
  font-weight: 900;
  margin: 15px auto;
}
#Per {
  margin: 45px auto;
  stroke: #ff6666;
  stroke-width: 2px;
}
.Powered {
  margin: 0;
  padding: 0;
}
.Powered > li {
  background-color: #ff6666;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
}
/****************************************/
/************* CONTACT US **************/
/**************************************/
.ContactUs > div {
  margin: 0;
}
.ContactUs > div > h4 {
  margin: 30px auto;
  font-size: 20px;
}
.ContactUs > div > input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  margin: 15px auto;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  border: 3px solid #555;
  border-radius: 5px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ContactUs > div > textarea {
  display: block;
  width: 100%;
  height: 200px;
  padding: 10px 15px;
  margin: 15px auto;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  border: 3px solid #555;
  border-radius: 5px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ContactUs > div > input:focus,
.ContactUs > div > textarea:focus {
  font-size: 20px;
  color: #fff;
  border: 3px solid #ff6666;
  box-shadow: inset 0 2px 2px rgba(255, 102, 102, 0.075);
}
.InputVisited {
  font-size: 20px;
  color: #fff;
  border: 3px solid #ff6666;
  box-shadow: inset 0 2px 2px rgba(255, 102, 102, 0.075);
}
.ButtonSubmit {
  font-family: 'Work Sans', sans-serif;
  color: #ff6666;
  background: none;
  border: 1px solid #ff6666;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
}
.ButtonSubmit:hover,
.ButtonSubmit:active, 
.ButtonSubmit:focus {
  color: #ff6666;
  border: 1px solid #ff6666;
  text-decoration: none;
}
/****************************************/
/***********   MANIFESTO   *************/
/**************************************/
.slide {
  display: none;
}
.slide p {
  font-size: 18px;
  text-align: left;
}
.active-slide {
  display: block;
}
.freccia {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.controlArrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.controlArrow.arrow-prev {
  left: 25px;
  display: block;
  transition: all 0.3s;
}
.controlArrow.arrow-next {
  right: 25px;
  display: block;
  transition: all 0.3s;
}
.controlArrow.arrow-next:hover {
  stroke: #ff6666;
}
.controlArrow.arrow-prev:hover {
  stroke: #ff6666;
}
/****************************************/
/************** TOP MENU ***************/
/**************************************/
.TopMenu {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ff6666;
}
.Logo {
  color: #ff6666;
  padding: 0px;
  width: 50%;
}
.Logo > a {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #ff6666;
  padding: 10px 15px;
  float: left;
}
.Logo > a:hover,
.Logo > a:focus {
  color: #ff6666;
  text-decoration: none;
}
.Nav {
  padding: 14px 0;
  width: 50%;
  float: right;
  text-align: right;
}
.Nav > a {
  margin: 5px 20px;
  font: 15px 'Work Sans', sans-serif;
  color: #ff6666;
}
.Nav > a:hover,
.Nav > a:focus {
  border-bottom: 2px solid #ff6666;
  text-decoration: none;
}
/****************************************/
/************* BOTTOM MENU *************/
/**************************************/
.BottomMenu {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #fff;
}
.VisitMenu {
  padding: 0px;
  width: 50%;
  float: left;
  text-align: left;
}
.VisitMenu > ul > li {
  display: inline-block;
}
.VisitMenu > ul > li > a {
  font: 12px 'Work Sans', sans-serif;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.VisitMenu > ul > li > a:hover,
.VisitMenu > ul > li > a:focus {
  background-color: transparent;
  color: #ff6666;
  text-decoration: none;
}
.TechnicalMenu {
  padding: 0px;
  width: 50%;
  float: right;
  text-align: right;
}
.TechnicalMenu > a {
  font: 12px 'Work Sans', sans-serif;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  background: #000;
}
.TechnicalMenu > a:hover,
.TechnicalMenu > a:focus {
  background-color: transparent;
  color: #ff6666;
  text-decoration: none;
}
.ContainerSocial {
  display: inline-block;
}
.Share {
  font: 12px 'Work Sans', sans-serif;
  padding: 5px 10px;
  margin: 0;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.Share:hover,
.Share:focus {
  color: #ff6666;
  text-decoration: none;
}
.SocialShare {
  font: 12px 'Work Sans', sans-serif;
  padding: 5px 10px;
  margin: 0;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.SocialShare:hover,
.SocialShare:focus {
  color: #ff6666;
  text-decoration: none;
}
/****************************************/
/***********   ANIMATIONS   ************/
/**************************************/
/*
.animationview {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  opacity: 1;
}
.animationview.ng-enter,
.animationview.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.animationview.ng-enter {
  opacity: 0;
}
.animationview.ng-enter-active {
  opacity: 1;
}
.animationview.ng-leave {
  opacity: 1;
}
.animationview.ng-leave-active {
  opacity: 0;
}
*/
.fade-hide, .fade-show {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

/****************************************/
/***********   FOUNDATION   ************/
/**************************************/
.foundation0 {
  display: inline;
  fill: none;
  stroke: #333333;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.foundation1 {
  display: inline;
  opacity: 0.2;
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.foundation2 {
  font-family: 'Work Sans', sans-serif;
}
.foundation3 {
  fill: none;
  stroke: #00FF99;
  stroke-width: 15;
  stroke-miterlimit: 10;
}
.foundation4 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.foundation7 {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.foundation8 {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 15;
  stroke-miterlimit: 10;
}
.foundation9 {
  fill: #FF3366;
}
.foundation10 {
  fill: #FFFF00;
}
.foundation11 {
  fill: #FFFFFF;
}
.foundation12 {
  fill: none;
  stroke: #FF3366;
  stroke-width: 15;
  stroke-miterlimit: 10;
}
.foundation13 {
  display: inline;
}
.foundation14 {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.foundation16 {
  fill: #0099FF;
}
.foundation17 {
  fill: #00FF99;
}
.foundation20 {
  display: none;
}
.foundation21 {
  fill: none;
  stroke: #00FF99;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.foundation22 {
  fill: none;
  stroke: #0099FF;
  stroke-width: 15;
  stroke-miterlimit: 10;
}
.foundation23 {
  fill: none;
  stroke: #0099FF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.bold12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.regular12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 12px;
}
.bold15 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  fill: #FFFF00
}
.regular9 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 9px;
}
.k_txt {
  fill: black;
}
/****************************************/
/*************   REVENUE   *************/
/**************************************/
.revenue1 {
  fill: none;
  stroke: #333333;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.revenue2 {
  fill: none;
  stroke: #00FF99;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.revenue3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.revenue4 {
  fill: none;
  stroke: #0099FF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.revenue5 {
  fill: none;
  stroke: #000000;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.revenue7 {
  font-size: 9px;
}
.revenue77 {
  font-size: 9px;
}
.revenue8 {
  fill: #FF3366;
}
.revenue9 {
  fill: #FFFF00;
}
.revenue10 {
  fill: #FFFFFF;
}
.revenue11 {
  fill: #333333;
}
.revenue12 {
  fill: #0099FF;
}
.revenue13 {
  fill: #00FF99;
}
.revenue14 {
  font-size: 12px;
}
.revenue15 {
  font-size: 15px;
}
.revenue16 {
  fill: none;
  stroke: #FF3366;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.revenue17 {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.revenue18 {
  fill: #FFFFFF;
  font-size: 9px;
}
/****************************************/
/************   EMPLOYEES   ************/
/**************************************/
.greyline {
  fill: none;
  stroke: #333333;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.LineIT {
  fill: none;
  stroke: #00FF99;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.employees3 {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.LineMAV {
  fill: none;
  stroke: #0099FF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.employees7 {
  fill: #FF3366;
}
.employees8 {
  fill: #FFFF00;
}
.employees9 {
  fill: #FFFFFF;
}
.greytext {
  fill: #333333;
}
.employees11 {
  fill: #0099FF;
}
.employees12 {
  fill: #00FF99;
}
.employees13 {
  font-size: 12px;
}
.employees14 {
  font-size: 15px;
}
.LineFOOD {
  fill: none;
  stroke: #FF3366;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.LinePTEK {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.bold12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.regular12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 12px;
}
.bold15 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
  fill: #FFFF00
}
.regular9 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 9px;
}
/****************************************/
/**************   MARKET   *************/
/**************************************/

.FOOD {
  fill: #FF3366;
}
.PTEKaux {
  fill: #FF9900;
}
.PTEK {
  fill: #FFFF00;
}
.White {
  fill: #FFFFFF;
}
.IT {
  fill: #00FF99;
}
.PTEKaux_ {
  fill: #FF9900;
}
.PTEK_ {
  fill: #FFFF00;
}
.CircleMAV {
  fill: none;
  stroke: #0099FF;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.CircleIT {
  fill: none;
  stroke: #00FF99;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.CirclePTEK {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.CircleFOOD {
  fill: none;
  stroke: #FF3366;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.Logo1Lines5px {
  fill: none;
  stroke: #FF3366;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.StatLine2 {
  fill: none;
  stroke: #FF9900;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.StatLine1 {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.Logo2Lines5px {
  fill: none;
  stroke: #00FF99;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.LinesScheme {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.Logo1Lines2px {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.bold24 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.bold12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.regular12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 12px;
}
.bold15 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.regular9 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 9px;
}
.stroke {
  fill: none;
  stroke: #FF6666;
  stroke-miterlimit: 10;
}
.txt {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  fill: #FF6666;
}
/****************************************/
/***********   MOTIVATION   ************/
/**************************************/
.FOOD {
  fill: #FF3366;
}
.PTEKaux {
  fill: #FF9900;
}
.PTEK {
  fill: #FFFF00;
}
.White {
  fill: #FFFFFF;
}
.IT {
  fill: #00FF99;
}
.MAV {
  fill: #0099FF;
}
.PTEKaux_ {
  fill: #FF9900;
}
.PTEK_ {
  fill: #FFFF00;
}
.CircleMAV {
  fill: none;
  stroke: #0099FF;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.CircleIT {
  fill: none;
  stroke: #00FF99;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.CirclePTEK {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.CircleFOOD {
  fill: none;
  stroke: #FF3366;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.StatLine2 {
  fill: none;
  stroke: #FF9900;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.StatLine1 {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.LinesScheme {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}
.ReadingLinePTEKaux {
  fill: none;
  stroke: #FF9900;
  stroke-miterlimit: 10;
}
.ReadingLinePTEK {
  fill: none;
  stroke: #FFFF00;
  stroke-miterlimit: 10;
}
.bold24 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.bold12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.regular12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 12px;
}
.bold15 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.regular15 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 15px;
}
.regular9 {
  font-family: 'Work Sans', sans-serif;
  font-weight: regular;
  font-size: 9px;
}
.stroke {
  fill: none;
  stroke: #FF6666;
  stroke-miterlimit: 10;
}
.txt {
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  fill: #FF6666;
}