/*

OFFLINE

*/
.OfflineVisit > li > a:hover,
.OfflineVisit > li > a:focus {
  color: #ff6666;
  text-decoration: none;
}
@media (max-width: 768px) {
  .OfflineTitle {
    font: 60px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 15px auto;
    line-height: 60px;
    text-align: left;
  }
  .OfflineComingsoon {
    font: 30px 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
    margin: 15px auto;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .OfflineVisit > li {
    margin: 5px;
    display: inline-block;
  }
  #Visit, #sendEmail {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}
@media (min-width: 768px) and (max-width: 992px) {
  .OfflineTitle {
    font: 80px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 30px auto;
    line-height: 80px;
    text-align: left;
  }
  .OfflineComingsoon {
    font: 40px 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
    margin: 30px auto;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 5px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 50px;
    height: 50px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }  
}
@media (min-width: 992px) and (max-width: 1200px) {
  .OfflineTitle {
    font: 100px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 20px auto;
    line-height: 100px;
  }
  .OfflineComingsoon {
    font: 60px 'Work Sans', sans-serif;
    color: #fff;
    margin: 30px auto 0;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 30px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 75px;
    height: 75px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: url(../svg/cursor/32px_cursor_link.png), auto;
  }  
}
@media (min-width: 1200px) {
  .OfflineTitle {
    font: 100px 'Titillium Web', sans-serif;
    color: #ff6666;
    font-weight: 900;
    margin: 20px auto;
    line-height: 100px;
  }
  .OfflineComingsoon {
    font: 36px 'Work Sans', sans-serif;
    color: #fff;
    margin: 30px auto 0;
  }
  .OfflineVisit {
    padding: 0;
  }
  .OfflineVisit > li {
    margin: 30px;
    display: inline-block;
  }
  #Visit, #sendEmail  {
    width: 75px;
    height: 75px;
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-miterlimit: 10;
    border: 3px solid #ff6666;
    border-radius: 50px;
    padding: 10px;
    cursor: url(../svg/cursor/32px_cursor_link.png), auto;
  }  
}
/*

MAIN CLASS

*/
.W100 {
  width: 100%;
}
.Interlinea {
  line-height: 1.1;
}
.TxtLeft {
  text-align: left;
}
.TxtRight {
  text-align: right;
}
.FloatLeft {
  float: left;
}
.FloatRight {
  float: right;
}
.FakePaddingRight {
  padding-right: 0px;
}
.FakePaddingLeft {
  padding-left: 0px;
}

/* Color */

.MAINColor {
  fill: #FF6666;
  color: #FF6666;
}
.FOODColor {
  fill: #FF3366;
  color: #FF3366;
}
.PTEKColor {
  fill: #FFFF00;
  color: #FFFF00;
}
.MAVColor {
  fill: #0099FF;
  color: #0099FF;
}
.ITColor {
  fill: #00FF99;
  color: #00FF99;
}
.WColor {
  fill: #FFFFFF;
  color: #FFFFFF;
}
.GColor {
  fill: #666666;
  color: #666666;
}
.BColor {
  fill: #000000;
  color: #000000;
}

/* Stroke */

.MAINStroke {
  fill: none;
  stroke: #FF6666;
}
.FOODStroke {
  fill: none;
  stroke: #FF3366;
}
.PTEKStroke {
  fill: none;
  stroke: #FFFF00;
}
.MAVStroke {
  fill: none;
  stroke: #0099FF;
}
.ITStroke {
  fill: none;
  stroke: #00FF99;
}
.WStroke{
  fill: none;
  stroke: #FFFFFF;
}
.WStrokeFill{
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
.GStroke{
  fill: none;
  stroke: #666666;
}
.BStroke{
  fill: none;
  stroke: #000000;
}

/* StrokeWidth */

.Stroke1pxInherit {
  stroke: inherit;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.Stroke2pxInherit {
  stroke: inherit;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.Stroke5pxInherit {
  stroke: inherit;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.Stroke10pxInherit {
  stroke: inherit;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.Stroke15pxInherit {
  stroke: inherit;
  stroke-width: 15;
  stroke-miterlimit: 10;
}

/* StrokeWidth */

.Stroke1px {
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.Stroke2px {
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.Stroke5px {
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.Stroke10px {
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.Stroke15px {
  stroke-width: 15;
  stroke-miterlimit: 10;
}

/* Font */

.Regular9 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 9px;
}
.Bold12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
}
.Regular12 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.Bold15 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.Regular15 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.Bold18 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.Regular18 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.Bold21 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 21px;
}
.Regular21 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 21px;
}
.Bold24 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.Regular24 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
}
.Bold32 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.Regular32 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.Bold36 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.Regular36 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
}
.Bold42 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 42px;
}
.Regular42 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 42px;
}

/* Margin */

.MarginZero {
  margin: 0;
}
.MarginTop1pct {
  margin-top: 1%;
}
.MarginTop2pct {
  margin-top: 2%;
}
.MarginTop3pct {
  margin-top: 3%;
}
.MarginTop5pct {
  margin-top: 5%;
}
.MarginTop10pct {
  margin-top: 10%;
}
.MarginBottom1pct {
  margin-bottom: 1%;
}
.MarginBottom2pct {
  margin-bottom: 2%;
}
.MarginBottom3pct {
  margin-bottom: 3%;
}
.MarginBottom5pct {
  margin-bottom: 5%;
}
.MarginBottom10pct {
  margin-bottom: 10%;
}
.MarginBottom25pct {
  margin-bottom: 25%;
}

/* Padding */

.PaddingZero {
  padding: 0;
}
.PaddingTop1pct {
  padding-top: 1%;
}
.PaddingTop2pct {
  padding-top: 2%;
}
.PaddingTop3pct {
  padding-top: 3%;
}
.PaddingTop5pct {
  padding-top: 5%;
}
.PaddingTop10pct {
  padding-top: 10%;
}
.PaddingBottom1pct {
  padding-bottom: 1%;
}
.PaddingBottom2pct {
  padding-bottom: 2%;
}
.PaddingBottom3pct {
  padding-bottom: 3%;
}
.PaddingBottom5pct {
  padding-bottom: 5%;
}
.PaddingBottom10pct {
  padding-bottom: 10%;
}
.PaddingBottom25pct {
  padding-bottom: 25%;
}
/*

Base structure

*/
html {
  height: 100%;
  width: 100%;  
}
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  background-image: url(../svg/Mappa_Faenza.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #ff6666;
  font-family: 'Work Sans', sans-serif;
  cursor: url(../svg/cursor/32px_cursor.png), auto;
}
.container-fluid {
  text-align: center;
  padding: 0 15px;
  margin: auto;
}
*:hover,
*:focus {
  outline: none;
}
*::selection {
  background: #000000;
}
a,
a:hover,
a:focus {
  cursor: pointer;
  fill: inherit;
  color: inherit;
  text-decoration: none;
  cursor: url(../svg/cursor/32px_cursor_link.png), auto;
}
/*

TOOLTIP 

*/
.Tootisx {
  margin: 0;
  padding: 0;
  cursor: url(../svg/cursor/32px_cursor.png), auto;
  border: none;
  background: transparent;
  float: right;
}
.Tootidx {
  margin: 0;
  padding: 0;
  cursor: url(../svg/cursor/32px_cursor.png), auto;
  border: none;
  background: transparent;
  float: left;
}
button + .tooltip > .tooltip-inner {
  background: #000;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
/*

HOME

*/
.StrokePages {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.StrokeRettangoloCentrale {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.StrokeLines {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.StrokeWindows {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-linejoin:round;
}
.TitleFont {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 39px;
}
.ButtonStart {
  cursor: url(../svg/cursor/32px_cursor_linkwhite.png), auto;
}
.MAINStroke2px {
  fill: none;
  stroke: #FF6666;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.Sigla { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 150%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
/*

MAP

*/
.Round {
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.MetroLine {
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.MLine {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.M {  
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 56px;
}
.FOODStroke2pxLinecap {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.FOODStroke2pxLinejoinbevel {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}
.FOODStroke2pxLinejoinround {
  fill: none;
  stroke: #FF3366;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.MAVStroke2px {
  fill: none;
  stroke: #0099FF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.PTEKStroke2px {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.ITStroke2px {
  fill: none;
  stroke: #00FF99;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.ContainerLegendaMetro > svg {
  cursor: url(../svg/cursor/32px_cursor_link.png), auto;
}
/*

ILLUSTRATION

*/
.st0{fill:#8E8E8E;}
.MAVLine{fill:none;stroke:#0099FF;stroke-width:10;stroke-linecap:round;stroke-miterlimit:10;}
.st2{fill:#C1C1C1;}
.ITLine{fill:none;stroke:#66FFCC;stroke-width:10;stroke-linecap:round;stroke-miterlimit:10;}
.st4{fill:#FFFFFF;}
.st5{fill:#663300;}
.st6{fill:#666666;}
.st7{fill:#66FFCC;}
.st8{fill:#CCCCCC;}
.st9{fill:#333333;}
.st10{fill:#D6D6D6;}
.st11{fill:#3D3D3D;}
.st12{fill:#A3A3A3;}
.biointerviewed{color:white;font-family: 'Work Sans', sans-serif;font-weight: 400;font-size: 12px;text-align:left;float: left;}
/*

PROFILE

*/
#CircleVideo, #PlayVideo {
 /*opacity: 0;*/
}
#TestoVideo, #BorderTestoVideo {
  /*stroke: none;*/
}
.DataContainer {
  border-top: 3px solid;
}
.TestoInfografica {
  padding-left: 15px;
  padding-right: 15px;
}
.DataLink:hover,
.DataLink:focus {
  text-decoration: none;
  color: #fff;
  stroke: #fff;
}
.Stroke2pxLinecap {
  stroke: inherit;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.Stroke5pxLinecap {
  stroke: inherit;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.Stroke2pxLinejoinbevel {
  stroke: inherit;
  stroke-width: 2;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}
.Stroke5pxLinejoinbevel {
  stroke: inherit;
  stroke-width: 5;
  stroke-linejoin: bevel;
  stroke-miterlimit: 10;
}
.Stroke2pxLinejoinround {
  stroke: inherit;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.Stroke5pxLinejoinround {
  stroke: inherit;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
/*

ARRAY PROFILE

*/
.ArrayProfile {
  position: fixed;
  left: 45px;
  right: 35px;
  bottom: 7%;
  opacity: 1;
}
.FloatSx {
  float: left;
  text-align: left;
}
.FloatDx {
  float: right;
  text-align: right;
}
.FloatSx > svg + p {
  display: inline-block;
  margin: 0;
}
.FloatDx > p {
  display: inline-block;
  padding-right: 5px;
  margin: 0;
}
/*

BACK TO MAP

*/
#Backto {
  cursor: url(../svg/cursor/32px_cursor_linkwhite.png), auto;
}
.txt {
  fill: #ff6666;
  stroke: none;
}
/*

CREDITS

*/
.Sponsor {
  margin-right: 35px;
  display: inline-block;
}
/*
.Sponsor:hover,
.Sponsor:focus {
  text-decoration: none;
  color: #ff6666;
  stroke: #ff6666;
}
*/
.WLine {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.WLine2px {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.WLine2px_ {
  fill:none;
  stroke:#FFFFFF;
  stroke-width:2;
  stroke-miterlimit:10;
}
.G2Color {
  fill: #D0D2D3;
}
.PressKit{
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 7.5px;
}
.SCBS {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 33px;
  letter-spacing: 3pt;
}
.Fondazione {
  font-family: 'Droid Serif', serif;
  font-size: 10px;
  font-weight: 600;
}
/*

CONTACT US 

*/
.ContactScbs > input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  border: 2px solid #333;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  cursor: url(../svg/cursor/32px_cursor_text.png), auto;
}
.ContactScbs > textarea {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #333;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  cursor: url(../svg/cursor/32px_cursor_text.png), auto;
}
.ContactScbs > label {
  width: 49%;
  float: left;
  height: 60px;
  padding: 0;
  margin: 0px;
  background-color: transparent;
  border: 2px solid #333;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-top: 2%;
  padding-left: 5%;
  cursor: url(../svg/cursor/32px_cursor_link.png), auto;
  color: #fff;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 4% 3%;
  text-align: center;
  border: 2px solid #fff;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
input[type="checkbox"]:checked + label {
  color: #ff6666;
  border-color: #ff6666;
  cursor: url(../svg/cursor/32px_cursor_linkwhite.png), auto;
}
input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ff6666;
  border-right-color: #ff6666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ContactScbs > input:focus,
.ContactScbs > textarea:focus {
  font-size: 20px;
  color: #fff;
  border: 2px solid #ff6666;
  box-shadow: inset 0 2px 2px rgba(255, 102, 102, 0.075);
  outline: none;
}
.ButtonSubmit {
  position: relative;
  width: 49%;
  float: right;
  height: 60px;
  background: transparent;
  border: 2px solid #ff6666;
  cursor: url(../svg/cursor/32px_cursor_linkwhite.png), auto;
}
.ButtonSubmit > p {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  opacity: 1;
  transform: translate3d(100px, 0px, 0px);
  margin: 2px 0;
  padding: 14.5px 0;
}
.ButtonSubmit > svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  opacity: 0;
  transform: translate3d(0px, 0px, 0px);
  margin: 2px 0;
}
/*

MENU

*/
.TopMenu {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ff6666;
}
.BottomMenu {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #fff;
}
.LeftMenu {
  padding: 10px 15px;
  width: 50%;
  float: left;
  text-align: left;
}
.RightMenu {
  padding: 10px 15px;
  width: 50%;
  float: right;
  text-align: right;
}
.LeftMenu > a,
.RightMenu > a {
  padding: 0 10px;
  cursor: url(../svg/cursor/32px_cursor_linkwhite.png), auto;
}
.Logo {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.Faenza {
  font: 18px 'Work Sans', sans-serif;
}
.UnderLine {
  fill:none;
  stroke:#FF6666;
  stroke-width:2;
  stroke-miterlimit:10;
}
.LeftBottomMenu {
  padding: 0px 15px;
  width: 50%;
  float: left;
  text-align: left;
}
.RightBottomMenu {
  padding: 0px 15px;
  width: 50%;
  float: right;
  text-align: right;
}
.LeftBottomMenu > a,
.RightBottomMenu > a,
.ContainerSocial > a,
.ContainerSocial > p {
  padding: 5px 10px;
  margin: 0;
  display: inline-block;
  cursor: url(../svg/cursor/32px_cursor_linkwhite.png), auto;
}
.RightBottomMenu > a:visited {
  color: #666666;
}
.ContainerSocial {
  display: inline-block;
}
.ContainerSocial > a:hover,
.ContainerSocial > a:focus,
.ContainerSocial > p:hover,
.ContainerSocial > p:focus,
.ContainerSocial > p:active {
  color: #ff6666;
  text-decoration: none;
}
/*

ANIMATIONS

*/
.animationview {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  opacity: 1;
}
.animationview.ng-enter,
.animationview.ng-leave {
  transition: all ease 1s;
}
.animationview.ng-enter {
  opacity: 0;
}
.animationview.ng-enter-active {
  opacity: 1;
}
.animationview.ng-leave {
  opacity: 1;
}
.animationview.ng-leave-active {
  opacity: 0;
}
/*

INTERVISTA

*/
/*.IvanoValmori, .GabrieleBandini, .AnnaTampieri, .GiuliaRuta, .RobertoBertoni,*/ .AndreaMartelli/* .MarcoPeroni, .BarbaraSavorani, .StefanoZauli, .AndreaSalvatori, .RaffaeleBorgini, .MaurizioFionda, .PaoloRava, .MarcoTamba, .FabrizioMantovani */{
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#PlayerVideo {
  position: fixed;
  bottom: 5%;
  left: 0%;
  right: 0%;
}
#PlayNow {
  position: fixed;
  top: 10%;
  left: 0%;
  right: 0%;
  text-align: center;
}
#Structure > text {
  opacity: 0;
}
.ActiveCircle {
  fill: #fff !important;
  cursor: url(../svg/cursor/32px_cursor_link.png), auto;
}
.ActiveEl {
  opacity: 1;
  display: block !important;
}
