<div class="container-fluid">
	<div class="hidden-xs hidden-sm visibile-md visibile-lg">
		<top-menu></top-menu>
		<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<p class="TxtLeft FloatLeft MAINColor Bold32">{{ EmailAddress }}</p>
			</div>
			<div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
				<form ng-submit="processForm" novalidate class="ContactScbs">
					<input class="Regular15 MarginBottom2pct WColor" required type="email" name="email" ng-model="formData.email" placeholder="Email">
					<input class="Regular15 MarginBottom2pct WColor" required type="text" name="oggetto" ng-model="formData.oggetto" placeholder="Oggetto">
					<textarea class="Regular15 MarginBottom2pct WColor" required type="text" name="testo" ng-model="formData.testo" placeholder="Testo"></textarea>
					<input type="checkbox" id="OpenSource">
					<label for="OpenSource">Sono interessato a Scbs Open Source</label>
					<button type="submit" class="ButtonSubmit" ng-click="update(formData)">
						<svg version="1.1" id="sent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<g>
								<rect x="15" y="16.7" transform="matrix(0.7071 0.7071 -0.7071 0.7071 25.0931 -11.1291)" class="MAINStroke2px" width="21.9" height="16"/>
								<polyline class="MAINStroke2px" points="23.7,11.3 23.9,26.6 39.2,26.8"/>
								<line class="MAINStroke2px" x1="13.4" y1="23" x2="23.3" y2="23"/>
								<line class="MAINStroke2px" x1="28" y1="37.1" x2="28" y2="26.9"/>
								<line class="MAINStroke2px" x1="40.5" y1="38.6" x2="10" y2="38.6"/>
							</g>
						</svg>
						<p class="Bold15 MAINColor">{{ EmailSubmit }}</p>
					</button>
				</form>
			</div>
		</div>
		<bottom-menu></bottom-menu>
	</div>
	<div class="visibile-xs visibile-sm hidden-md hidden-lg">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30%" height="30%" viewBox="0 0 187 187" style="enable-background:new 0 0 187 187;" xml:space="preserve">
				<g id="logo">
					<text transform="matrix(1 0 0 1 45.7236 87.4932)">
				    	<tspan x="0" y="0" class="Logotype WColor">SC</tspan>
				    	<tspan x="-2.8" y="64" class="Logotype WColor">BS</tspan>
				    </text>
				</g>
				<g id="line">
				<rect x="5" y="5.5" class="Stroke10px MAINStroke" width="177" height="176"/>
				</g>
			</svg>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<p class="W100 MarginZero MarginTop5pct WColor Regular15">Crediamo che fruire un documentario interattivo da smartphone o tablet sia riduttivo: teniamo all'esperienza dei nostri utenti, per questo ti invitiamo a vivere Small city, big stories attraverso un computer.</p>
		</div>
	</div>
</div>
