<div class="container-fluid">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<p class="ContactTitle"> {{ EmailAddress }} </p>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
			<form class="ContactScbs">
				<input type="email" placeholder="Email">
				<input type="text" placeholder="Oggetto">
				<textarea type="text" placeholder="Testo"></textarea>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<button type="submit" class="ButtonSubmit">
							<svg version="1.1" id="sent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
								<g>
									<rect x="15" y="16.7" transform="matrix(0.7071 0.7071 -0.7071 0.7071 25.0931 -11.1291)" class="MAINLine2px" width="21.9" height="16"/>
									<polyline class="MAINLine2px" points="23.7,11.3 23.9,26.6 39.2,26.8"/>
									<line class="MAINLine2px" x1="13.4" y1="23" x2="23.3" y2="23"/>
									<line class="MAINLine2px" x1="28" y1="37.1" x2="28" y2="26.9"/>
									<line class="MAINLine2px" x1="40.5" y1="38.6" x2="10" y2="38.6"/>
								</g>
							</svg>
							<p>{{ EmailSubmit }}</p>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>