<div class="container-fluid">
	<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<form class="ContactUs">
			<div class="form-group">
				<h4 for="exampleInputEmail"> {{ EmailAddress }} </h4>
				<input type="email" placeholder="Insert Email" class="form-control" id="exampleInputEmail1">
				<input type="text" placeholder="Insert Object" class="form-control" id="exampleInputEmail1">
				<textarea type="text" placeholder="Insert Text" class="form-control" rows="5"></textarea>
			</div>
			<button type="submit" class="ButtonSubmit"> {{ EmailSubmit }} </button>
		</form>
	</div>
</div>