<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="MarginBottom10pct">
				<p class="TxtLeft MarginBottom2pct MarginZero MAINColor Bold15">{{ Crew }}</p>
				<div ng-repeat="crew in ProjectCrew">
					<p class="TxtLeft MarginBottom1pct MarginZero WColor Regular12">{{ crew.info }}</p>
					<p class="TxtLeft MarginBottom1pct MarginZero WColor Bold15">{{ crew.name }}</p>		
				</div>
			</div>
			<div class="MarginBottom10pct">
				<p class="TxtLeft MarginBottom2pct MarginZero MAINColor Bold15">{{ Release }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Bold15">{{ Data }}</p>
			</div>
			<div class="MarginBottom10pct">
				<p class="TxtLeft MarginBottom2pct MarginZero MAINColor Bold15">{{ Collaboration }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Regular12">{{ Videomakers }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Bold15" ng-repeat="vmn in VideomakersName">{{ vmn.name }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Regular12">{{ Voiceover }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Bold15">{{ VoiceoverName }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Regular12">{{ Sounddesigner }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Bold15">{{ SounddesignerName }}</p>
			</div>
			<div class="MarginBottom10pct">
				<p class="TxtLeft MarginBottom2pct MarginZero MAINColor Bold15">{{ ThankYou }}</p>
				<p class="TxtLeft MarginBottom1pct MarginZero WColor Bold15" ng-repeat="tnku in ProjectThankYou">{{ tnku.name }}</p>
			</div>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="TxtLeft MarginBottom2pct MarginZero MAINColor Bold15">Social channels</p>
					<ul class="TxtLeft MarginBottom10pct PaddingZero">
						<li class="Sponsor">
							<a ng-href="{{ Link_Facebook }}" target="_blank">
								<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
									<g>
										<path class="WLine2px" d="M28.6,30.2L28.7,44l-9.5,0l-0.1-13.8l-1.1,0l0-7.7l1.1,0l0-0.2c0-3.1,0.5-5.2,1.5-6.4c1-1.2,2.9-1.8,5.8-1.9c1.4,0,3,0.1,4.9,0.4l0.8,0.1l0,6.9c-2.3,0-3.5,0.2-3.5,0.6l0,0.4l3.4,0l0,7.7L28.6,30.2z"/>
									</g>
									<g>
										<path class="WLine2px" d="M44,39c0,2.8-2.2,5-5,5H11c-2.8,0-5-2.2-5-5V11c0-2.8,2.2-5,5-5h28c2.8,0,5,2.2,5,5V39z"/>
									</g>
								</svg>
							</a>
						</li>
						<li class="Sponsor">
							<a ng-href="{{ Link_Instagram }}" target="_blank">
								<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
									<g>
										<g>
											<circle class="WLine2px" cx="24.7" cy="26.2" r="8.2"/>
											<circle class="WLine2px" cx="24.7" cy="26.2" r="12"/>
											<circle class="WLine2px" cx="37.4" cy="13.2" r="2.8"/>
										</g>
										<path class="WLine2px" d="M44,39c0,2.8-2.2,5-5,5H11c-2.8,0-5-2.2-5-5V11c0-2.8,2.2-5,5-5h28c2.8,0,5,2.2,5,5V39z"/>
									</g>
								</svg>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="TxtLeft MarginBottom2pct MarginZero MAINColor Bold15">Downloads</p>
					<ul class="TxtLeft MarginBottom10pct PaddingZero">
						<li class="Sponsor">
							<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
								<g>
									<line class="WLine2px" x1="15" y1="28" x2="33" y2="28"/>
									<line class="WLine2px" x1="15" y1="32" x2="33" y2="32"/>
									<line class="WLine2px" x1="15" y1="36" x2="33" y2="36"/>
									<line class="WLine2px" x1="15" y1="40" x2="33" y2="40"/>
									<polyline class="WLine2px" points="39,39 39,9 31,9"/>
									<polyline class="WLine2px" points="17,9 9,9 9,46 39,46"/>
									<line class="WLine2px" x1="16" y1="17" x2="16" y2="25"/>
									<line class="WLine2px" x1="19" y1="20" x2="19" y2="25"/>
									<line class="WLine2px" x1="22" y1="16" x2="22" y2="25"/>
									<line class="WLine2px" x1="25" y1="19" x2="25" y2="25"/>
									<line class="WLine2px" x1="28" y1="22" x2="28" y2="25"/>
									<line class="WLine2px" x1="31" y1="18" x2="31" y2="25"/>
									<line class="WLine2px" x1="23" y1="7" x2="25" y2="7"/>
									<polygon class="WColor" points="41.9,38 38.8,43.4 35.7,38"/>
									<path class="WLine2px" d="M27.5,7c0-1.8-1.6-3.3-3.4-3.3S20.7,5.1,20.7,7L20,7h-4v6h16V7h-4L27.5,7z"/>
								</g>
							</svg>
						</li>
						<li class="Sponsor">
							<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
								<g>
									<line class="WLine2px" x1="40" y1="12" x2="40" y2="39"/>
									<polygon class="WColor" points="43.4,38 40.2,43.5 37,38"/>
									<polyline class="WLine2px" points="20.1,37 17.6,30.5 25.1,11 32.6,30.5 30.1,37 	"/>
									<line class="WLine2px" x1="25" y1="12" x2="25" y2="27"/>
									<circle class="WLine2px" cx="25.1" cy="28.5" r="2"/>
									<line class="WLine2px" x1="13" y1="9" x2="36" y2="9"/>
									<rect x="37" y="6" class="WLine2px" width="6" height="6"/>
									<rect x="7" y="6" class="WLine2px" width="6" height="6"/>
									<rect x="17" y="37" class="WLine2px" width="16" height="6"/>
									<line class="WLine2px" x1="10" y1="12" x2="10" y2="43"/>
									<path class="WLine2px" d="M40,12"/>
								</g>
							</svg>
						</li>
						<li class="Sponsor">
							<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
								<g>
									<polygon class="WColor" points="28.4,40 25.2,45.4 22.1,40"/>
									<polyline class="WLine2px" points="21,43 5,43 5,13 45,13 45,43 29,43"/>
									<polyline class="WLine2px" points="19,14 19,8 31,8 31,14"/>
									<polyline class="WLine2px" points="15,14 15,4 35,4 35,14"/>
									<text transform="matrix(1 0 0 1 12.8721 26.4482)">
										<tspan x="0" y="0" class="PressKit WColor">PRESS</tspan>
										<tspan x="6" y="6.7" class="PressKit WColor">KIT</tspan>
									</text>
									<rect x="9" y="17" class="WLine2px" width="32" height="19"/>
									<line class="WLine2px" x1="25" y1="36" x2="25" y2="40"/>
								</g>
							</svg>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="credits in creditsTesto">
					<p class="MarginZero MarginBottom2pct TxtLeft WColor Regular15"> {{ credits.paragraf }}</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="MarginZero MarginBottom2pct TxtLeft WColor Regular12">Per saperne di più sul metodo di lavoro utilizzato d Scbs scarica il report. Per portare Scbs nella tua città contattaci. </p>
				</div>
				<div class="TxtLeft MarginTop5pct col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="82px" height="82px" viewBox="0 0 82 82" style="enable-background:new 0 0 82 82;" xml:space="preserve">
						<g id="frame_scbs">
							<rect x="3.5" y="3.5" class="WLine" width="75" height="75"/>
						</g>
						<g id="scbs">
							<g>
								<text transform="matrix(1 0 0 1 20.7329 36.8906)" class="SCBS WColor">SC</text>
								<text transform="matrix(1 0 0 1 20.7329 65.5908)" class="SCBS WColor">BS</text>
							</g>
						</g>
					</svg>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="75px" height="82px" viewBox="0 0 75 82" style="enable-background:new 0 0 75 82;" xml:space="preserve">
						<g id="x">
							<g>
								<line class="WLine2px" x1="29" y1="32.5" x2="46" y2="49.5"/>
								<line class="WLine2px" x1="46" y1="32.5" x2="29" y2="49.5"/>
							</g>
						</g>
					</svg>
					<a class="Sponsor" ng-href="{{ Link_Salesiani }}" target="_blank">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="82px" height="82px" viewBox="0 0 82 82" style="enable-background:new 0 0 82 82;" xml:space="preserve">
							<rect x="3.5" y="3.2" class="WLine2px" width="75" height="75"/>
							<g>
								<path class="G2Color" d="M41,29.6L37.1,26h-3.9c0,0,5.8,15.1,5.8,15.1V51h2V29.3L41,29.6z"/>
								<path class="G2Color" d="M21,29.3c0,9.8,8.4,17.3,8.4,17.3s1.7,1.5,1.7,4.5H36v-9.8l-6.3-15c-0.9-2.2,1-4.2,2.2-4.2c1.4,0,5.3,0,5.3,0
									l3.8,3.4V12.1C30,12.1,21,19.4,21,29.3z"/>
								<path class="G2Color" d="M31.7,53l0.4,3.4l6.8-1.5c0.7-0.2,1.5,0.3,1.6,1c0.2,0.7-0.3,1.5-1,1.6l-7,1.6l0.2,1.7L41,59v-6H31.7z"/>
								<polygon class="G2Color" points="33.1,63.6 33.5,66.8 35,66.9 36.6,70 41,70 41,61.8 	"/>
								<path class="WColor" d="M43,41.1c0,0,5.5-15.1,5.5-15.1h-3.6L41,29.3V51h2V41.1z"/>
								<path class="WColor" d="M45,22c0,0,3.7,0,5,0c1.2,0,2.9,2,2,4.2l-6,15V51h4.9c0-3,1.3-4.5,1.3-4.5S61,39.1,61,29.3s-7.4-17.2-20-17.2
									l0,0v13.2l0,0.3L45,22z"/>
								<polygon class="WColor" points="50.1,53 41,53 41,59 49.6,57.1 	"/>
								<path class="WColor" d="M47.1,66.9l1.3-0.1l0.3-2c0,0-5.8,1.2-5.9,1.2c-0.6,0-1.2-0.4-1.3-1.1c-0.2-0.7,0.3-1.5,1-1.6l6.6-1.4l0.2-1.8
									L41,61.8V70h4.6L47.1,66.9z"/>
							</g>
						</svg>
					</a>
					<a class="Sponsor" ng-href="{{ Link_ContaminationLab }}" target="_blank">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="82px" height="82px" viewBox="0 0 82 82" style="enable-background:new 0 0 82 82;" xml:space="preserve">
							<g id="s20">
								<g>
									<path class="WColor" d="M21.7,16.5c-1.1,0-2.6,1-3.6,2.5c-1.3,1.9-1.6,4.2-0.8,6.1l16.2,32.3h-8.4v7.5h10.1c1.5,0,3.2-1.1,4.3-2.8c1.2-1.7,1.4-3.8,0.7-5.5L24.1,24h8.4v-7.5c-1.4,0-6.4,0-9.4,0"/>
								</g>
								<g>
									<path class="WColor" d="M64.8,25.2c0.8-2,0.5-4.2-0.8-6.1c-1-1.5-2.5-2.5-3.6-2.5c-0.4,0-10.8,0-10.8,0V24H58L41.8,56.7c-0.7,1.8-0.5,3.8,0.7,5.5c1.1,1.7,2.9,2.8,4.3,2.8H57v-7.5h-8.4L64.8,25.2z"/>
								</g>
								<g>
									<polygon class="WColor" points="48.8,24.1 48.8,16.9 41,24.7 33.1,16.9 33.1,24.1 41,31.9"/>
								</g>
								<g>
									<polygon class="WColor" points="65.2,49.7 57.7,57.2 57.7,64.5 65.2,56.9"/>
								</g>
								<g>
									<polygon class="WColor" points="16.8,56.9 24.3,64.5 24.3,57.2 16.8,49.7"/>
								</g>
							</g>
							<rect x="3.5" y="3.2" class="WLine2px" width="75" height="75"/>
						</svg>
					</a>
					<a class="Sponsor" ng-href="{{ Link_Fondazione }}" target="_blank">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="82px" height="82px" viewBox="0 0 82 82" style="enable-background:new 0 0 82 82;" xml:space="preserve">
							<g id="Fondazione">
								<g>
									<text transform="matrix(1 0 0 1 10.2896 16.4404)" class="Fondazione WColor">fondazione </text>
									<text transform="matrix(1 0 0 1 10.2896 27.6406)" class="Fondazione WColor">BANCA DEL</text>
									<text transform="matrix(1 0 0 1 10.2896 38.8408)" class="Fondazione WColor">MONTE </text>
									<text transform="matrix(1 0 0 1 10.2896 50.04)" class="Fondazione WColor">E CASSA DI</text>
									<text transform="matrix(1 0 0 1 10.2896 61.2402)" class="Fondazione WColor">RISPARMIO </text>
									<text transform="matrix(1 0 0 1 10.2896 72.4404)" class="Fondazione WColor">FAENZA</text>
								</g>
							</g>
							<rect x="3.5" y="3.2" class="WLine2px" width="75" height="75"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<bottom-menu></bottom-menu>