<div class="container-fluid">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="CreditsContainer">
				<p class="CreditsTitle">{{ Crew }}</p>
				<div ng-repeat="crew in ProjectCrew">
					<p class="CreditsPosition">{{ crew.info }}</p>
					<p class="CreditsName">{{ crew.name }}</p>		
				</div>
			</div>
			<div class="CreditsContainer">
				<p class="CreditsTitle">{{ Release }}</p>
				<p class="CreditsName">{{ Data }}</p>
			</div>
			<div class="CreditsContainer">
				<p class="CreditsTitle">{{ Collaboration }}</p>
				<div ng-repeat="coll in ProjectCollaboration">
					<p class="CreditsPosition">{{ coll.info }}</p>
					<p class="CreditsName">{{ coll.name }}</p>
				</div>
			</div>
			<div class="CreditsContainer">
				<p class="CreditsTitle">{{ ThankYou }}</p>
				<p class="CreditsName" ng-repeat="tnku in ProjectThankYou">{{ tnku.name }}</p>
			</div>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="CreditsTitle">Social Channels</p>
					<ul class="ButtonExample">
						<li>
							
						</li>
						<li>
							
						</li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="CreditsTitle">Downloads</p>
					<ul class="ButtonExample">
						<li>
							
						</li>
						<li>
							
						</li>
						<li>
							
						</li>
					</ul>				
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="ContainerQwerty">Small city, big stories nasce da un'idea di Salesiani 2.0, che ha selezionato i 15 intervistati. Il brand e il progetto di visual journalism &#232 stato interamente realizzato da Luca Gorini, Filippo Gianessi e Filippo Gorini.</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="ContainerQwerty">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-11 col-sm-11 col-md-5 col-lg-5">
				      		<h2 class="NomeProgetto"> {{ ProjectName }} </h2>
						</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<svg id="Per" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 10.1 10.1" style="enable-background:new 0 0 10.1 10.1;" xml:space="preserve">
								<line id="LineaDue" x1="1.5" y1="1.5" x2="8.6" y2="8.6"/>
								<line id="LineaUno" x1="8.6" y1="1.5" x2="1.5" y2="8.6"/>
							</svg>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" ng-repeat="powered in ProjectPowered">
							<ul class="Powered">
								<li>
									<a ng-href="{{ powered.link }}" target="_blank">{{ powered.logo }}</a>
								</li>
							</ul>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>