<div class="container-fluid">
	<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
	    <svg version="1.1" id="Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="209.2px" height="230px" viewBox="0 0 209.2 230" style="enable-background:new 0 0 209.2 230;" xml:space="preserve">
			<g id="back_ground_2">
				<polygon class="MAINColor" points="8.6,225.6 47.8,186.4 205.7,186.4 166.5,225.6"/>
			</g>
			<g id="back_ground_1">
				<polygon class="MAINColor" points="47.8,4.7 7.3,45.3 7.3,224.5 47.7,184.3"/>
			</g>
			<g id="pages">
				<line class="StrokePages" x1="23.3" y1="212.2" x2="180.3" y2="212.2"/>
				<line class="StrokePages" x1="35.3" y1="200.2" x2="194.3" y2="200.2"/>
			</g>
			<g id="line_basso">
				<polyline class="StrokeLines" points="167.3,224.2 8.3,224.2 49.2,186.8"/>
			</g>
			<g id="line_sx">
				<polyline class="StrokeLines" points="6.4,202.7 6.3,45.2 45.5,6.4"/>
			</g>
			<g id="windows">
				<line class="StrokeWindows" x1="19.3" y1="180.2" x2="19.3" y2="193.2"/>
				<line class="StrokeWindows" x1="33.3" y1="166.2" x2="33.3" y2="180.2"/>
				<line class="StrokeWindows" x1="19.3" y1="154.2" x2="19.3" y2="166.2"/>
				<line class="StrokeWindows" x1="33.3" y1="140.2" x2="33.3" y2="154.2"/>
				<line class="StrokeWindows" x1="19.3" y1="127.2" x2="19.3" y2="140.2"/>
				<line class="StrokeWindows" x1="33.3" y1="115.2" x2="33.3" y2="127.2"/>
				<line class="StrokeWindows" x1="19.3" y1="102.2" x2="19.3" y2="115.2"/>
				<line class="StrokeWindows" x1="33.3" y1="88.2" x2="33.3" y2="102.2"/>
				<line class="StrokeWindows" x1="19.3" y1="75.2" x2="19.3" y2="88.2"/>
				<line class="StrokeWindows" x1="33.3" y1="62.2" x2="33.3" y2="75.2"/>
				<line class="StrokeWindows" x1="19.3" y1="49.2" x2="19.3" y2="62.2"/>
				<line class="StrokeWindows" x1="33.3" y1="36.2" x2="33.3" y2="49.2"/>
			</g>
			<g id="rectangle_center">
				<rect x="45.3" y="6.2" class="StrokeRettangoloCentrale" width="157" height="181"/>
			</g>
			<g id="title">
				<text transform="matrix(1 0 0 1 60.6562 50.3105)">
			    <tspan x="0" y="0" class="MAINColor TitleFont">Small</tspan>
			    <tspan x="0" y="38.2" class="MAINColor TitleFont">city,</tspan>
			    <tspan x="0" y="76.4" class="MAINColor TitleFont">big</tspan>
			    <tspan x="0" y="114.6" class="MAINColor TitleFont">stories</tspan>
			  </text>
			</g>
		</svg>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<button class="Tootisx" data-toggle="tooltip" data-placement="left" title="Consigliamo di indossare le cuffie per una maggiore esperienza.">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" style="enable-background:new 0 0 65 65;" xml:space="preserve">
					<g id="headphones">
						<path class="WLine2px" d="M26,43.5c0,1.9-1.6,3.5-3.5,3.5l0,0c-1.9,0-3.5-1.6-3.5-3.5v-5c0-1.9,1.6-3.5,3.5-3.5l0,0c1.9,0,3.5,1.6,3.5,3.5V43.5z"/>
						<path class="WLine2px" d="M46,43.5c0,1.9-1.6,3.5-3.5,3.5l0,0c-1.9,0-3.5-1.6-3.5-3.5v-5c0-1.9,1.6-3.5,3.5-3.5l0,0c1.9,0,3.5,1.6,3.5,3.5V43.5z"/>
						<rect x="16" y="38" class="WLine2px" width="3" height="6"/>
						<rect x="47" y="38" class="WLine2px" width="3" height="6"/>
						<path class="WLine2px" d="M47,38v-7.3c0-7.5-6.5-13.5-14-13.5s-14,6.1-14,13.5V38"/>
						<path class="WLine2px" d="M50,40v-9.4c0-9.4-7.6-17-17-17s-17,7.6-17,17V40"/>
					</g>
					<g id="circle">
						<path class="WLine2px_" d="M62.5,32.5c0,16.6-13.4,30-30,30s-30-13.4-30-30s13.4-30,30-30S62.5,15.9,62.5,32.5z"/>
					</g>
				</svg>
			</button>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<a class="ButtonStart" onclick="RequestFullScreen()" ng-href="{{ Link_Map.direct }}">
				<svg id="enter" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="65px" viewBox="0 0 90 65" style="enable-background:new 0 0 90 65;" xml:space="preserve">
					<g id="rectangle">
						<rect x="7" y="13" class="MAINStroke2px" width="75" height="40"/>
					</g>
					<g>
						<text transform="matrix(1 0 0 1 24.8325 37.168)" class="MAINColor Enter">Enter</text>
					</g>
				</svg>
			</a>			
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<button class="Tootidx" data-toggle="tooltip" data-placement="right" title="Consigliamo di utilizzare Google Chrome, Mozilla Firefox o Safari per una maggiore esperienza.">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="0 0 65 65" style="enable-background:new 0 0 65 65;" xml:space="preserve">
					<g id="browser">
						<circle class="WColor" cx="21.6" cy="22.4" r="1.4"/>
						<path class="WColor" d="M26.4,22.4c0,0.8-0.6,1.4-1.4,1.4c-0.8,0-1.4-0.6-1.4-1.4c0-0.8,0.6-1.4,1.4-1.4C25.8,21,26.4,21.6,26.4,22.4z"/>
						<circle class="WColor" cx="28.5" cy="22.4" r="1.4"/>
						<line class="WLine2px" x1="29.4" y1="17.7" x2="38.1" y2="26.3"/>
						<line class="WLine2px" x1="17" y1="26" x2="48" y2="26"/>
						<path class="WLine2px" d="M32.6,32.1C27.7,27.8,24,29.9,24,34c0,3.7,7,7.6,8.6,8.5c1.5-0.9,8.6-4.8,8.6-8.5C41.2,29.9,37.5,27.8,32.6,32.1z"/>
						<path class="WLine2px" d="M47.7,45.6c0,0.7-0.5,1.2-1.2,1.2H18.9c-0.7,0-1.2-0.5-1.2-1.2V19.1c0-0.7,0.5-1.2,1.2-1.2h27.6c0.7,0,1.2,0.5,1.2,1.2V45.6z"/>
					</g>
					<g id="circle">
						<path class="WLine2px_" d="M62.5,32.5c0,16.6-13.4,30-30,30s-30-13.4-30-30s13.4-30,30-30S62.5,15.9,62.5,32.5z"/>
					</g>
				</svg>
			</button>
		</div>
	</div>
	<video class="Sigla" autoplay loop>
		<source src="video/HomeSCBS.mp4" type="video/mp4">
	</video>
    <audio autoplay>
        <source src="music/introSCBS.mp3">
    </audio>
</div>