<div class="container-fluid">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="960px" height="540" viewBox="500 100 1000 1000" xml:space="preserve">
			<g id="back_ground_2">
				<polygon class="logo2" points="760.9,770.3 841.7,695.5 1159.1,682.5 1078.3,763.3"/>
			</g>
			<g id="back_ground_1">
				<polygon class="logo2" points="841.9,321.6 760.3,403.1 760.3,763.3 841.7,682.5"/>
			</g>
			<g id="pages">
				<line class="logo0" x1="791" y1="739.5" x2="1109" y2="739.5"/>
				<line class="logo0" x1="814" y1="715.5" x2="1136" y2="715.5"/>
			</g>
			<g id="line_basso">
				<polyline class="logo6" points="842.1,688.5 760.3,763.5 1079,763.5"/>
			</g>
			<g id="line_sx">
				<polyline class="logo6" points="839.1,325.1 760.3,403.1 760,719.8"/>
			</g>
			<g id="windows">
				<line class="logo7" x1="785.5" y1="675" x2="785.5" y2="702"/>
				<line class="logo7" x1="811.5" y1="649" x2="811.5" y2="675"/>
				<line class="logo7" x1="785.5" y1="623" x2="785.5" y2="649"/>
				<line class="logo7" x1="811.5" y1="596" x2="811.5" y2="623"/>
				<line class="logo7" x1="785.5" y1="570" x2="785.5" y2="596"/>
				<line class="logo7" x1="811.5" y1="545" x2="811.5" y2="570"/>
				<line class="logo7" x1="785.5" y1="519" x2="785.5" y2="545"/>
				<line class="logo7" x1="811.5" y1="492" x2="811.5" y2="519"/>
				<line class="logo7" x1="785.5" y1="466" x2="785.5" y2="492"/>
				<line class="logo7" x1="811.5" y1="439" x2="811.5" y2="466"/>
				<line class="logo7" x1="785.5" y1="414" x2="785.5" y2="439"/>
				<line class="logo7" x1="811.5" y1="387" x2="811.5" y2="414"/>
			</g>
			<g id="rectangle_center">
				<rect x="839.5" y="325.5" class="logo4" width="315" height="366"/>
			</g>
			<g id="Smallcitybigstories">
				<text transform="matrix(1 0 0 1 876.0713 413.1865)">
				    <tspan x="0" y="0" class="logo5">Small</tspan>
				    <tspan x="0" y="76.8" class="logo5">city,</tspan>
				    <tspan x="0" y="153.5" class="logo5">big</tspan>
				    <tspan x="0" y="230.3" class="logo5">stories</tspan>
			  	</text>
			</g>
		</svg>
	    <a class="ButtonStart" ng-href=" {{ Link_Map.direct }}">Enter</a>
	</div>
	<video class="Sigla" autoplay loop>
		<source src="video/PietroSedda.mp4" type="video/mp4">
	</video>
    <audio autoplay>
        <source src="music/introSCBS.mp3">
    </audio>
</div>