<div class="container-fluid">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="418.5px" height="460px" viewBox="0 0 418.5 460" style="enable-background:new 0 0 418.5 460;" xml:space="preserve">
			<g id="back_ground_2">
				<polygon class="MAINColor" points="12.8,449.5 91.6,370.7 409,370.7 330.2,449.5"/>
			</g>
			<g id="back_ground_1">
				<polygon class="MAINColor" points="93.8,7.7 12.2,89.2 12.2,449.5 93.6,368.7"/>
			</g>
			<g id="pages">
				<line class="StrokePages" x1="42.9" y1="425.7" x2="360.9" y2="425.7"/>
				<line class="StrokePages" x1="65.9" y1="401.7" x2="387.9" y2="401.7"/>
			</g>
			<g id="line_basso">
				<polyline class="StrokeLines" points="330.9,449.7 12.2,449.7 94,374.7"/>
			</g>
			<g id="line_sx">
				<polyline class="StrokeLines" points="12.4,405.7 12.2,89.2 91,11.2"/>
			</g>
			<g id="windows">
				<line class="StrokeWindows" x1="37.4" y1="361.2" x2="37.4" y2="388.2"/>
				<line class="StrokeWindows" x1="63.4" y1="335.2" x2="63.4" y2="361.2"/>
				<line class="StrokeWindows" x1="37.4" y1="309.2" x2="37.4" y2="335.2"/>
				<line class="StrokeWindows" x1="63.4" y1="282.2" x2="63.4" y2="309.2"/>
				<line class="StrokeWindows" x1="37.4" y1="256.2" x2="37.4" y2="282.2"/>
				<line class="StrokeWindows" x1="63.4" y1="231.2" x2="63.4" y2="256.2"/>
				<line class="StrokeWindows" x1="37.4" y1="205.2" x2="37.4" y2="231.2"/>
				<line class="StrokeWindows" x1="63.4" y1="178.2" x2="63.4" y2="205.2"/>
				<line class="StrokeWindows" x1="37.4" y1="152.2" x2="37.4" y2="178.2"/>
				<line class="StrokeWindows" x1="63.4" y1="125.2" x2="63.4" y2="152.2"/>
				<line class="StrokeWindows" x1="37.4" y1="100.2" x2="37.4" y2="125.2"/>
				<line class="StrokeWindows" x1="63.4" y1="73.2" x2="63.4" y2="100.2"/>
			</g>
			<g id="rectangle_center">
				<rect x="91.4" y="11.7" class="StrokeRettangoloCentrale" width="315" height="366"/>
			</g>
			<g id="title">
				<text transform="matrix(1 0 0 1 127.9702 99.3457)">
					<tspan x="0" y="0" class="MAINColor Logotype">Small</tspan>
					<tspan x="0" y="76.8" class="MAINColor Logotype">city,</tspan>
					<tspan x="0" y="153.5" class="MAINColor Logotype">big</tspan>
					<tspan x="0" y="230.3" class="MAINColor Logotype">stories</tspan>
				</text>
			</g>
		</svg>
	    <a class="ButtonStart" ng-href=" {{ Link_Map.direct }}">Enter</a>
	</div>
	<video class="Sigla" autoplay loop>
		<source src="video/PietroSedda.mp4" type="video/mp4">
	</video>
    <audio autoplay>
        <source src="music/introSCBS.mp3">
    </audio>
</div>