<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<p class="TxtLeft Bold32 MAINColor">{{ manifestoTitle }}</p>
		</div>
		<div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 MarginTop2pct">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="manifesto in manifestoTesto">
					<p class="TxtLeft MarginBottom2pct Regular15 WColor">{{ manifesto.paragraf }}</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="TxtLeft MarginBottom2pct Regular21 WColor">{{ manifestoCit }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<bottom-menu></bottom-menu>