<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3 class="TitoloProfilo"> {{ details.name }} {{ paramaters }}</h3>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<backto-profile></backto-profile>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<video id="VideoIntervistato" loop>
						<source src="video/PietroSedda.mp4" type="video/mp4">
					</video>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="NameCompany"> {{ details.company }} </p>
					<p class="BioCompany"> {{ details.bio_company }} </p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="626.6px" height="544.2px" viewBox="0 0 626.6 544.2">
					<g id="XBtnStroke">
						<rect x="500" y="10" class="stroke" width="106" height="32"/>
					</g>
					<g id="XBtnTesto">
						<text transform="matrix(1 0 0 1 510 30)" class="txt">Back to profile</text>
					</g>
					<g id="DV7Scheme">
						<line class="LinesScheme" x1="35.1" y1="404.5" x2="35.1" y2="532.5"/>
						<line class="LinesScheme" x1="66.1" y1="404.5" x2="66.1" y2="532.5"/>
						<line class="LinesScheme" x1="128.1" y1="404.5" x2="128.1" y2="532.5"/>
						<line class="LinesScheme" x1="190.1" y1="404.5" x2="190.1" y2="532.5"/>
						<line class="LinesScheme" x1="252.1" y1="404.5" x2="252.1" y2="532.5"/>
						<line class="LinesScheme" x1="97.1" y1="419.5" x2="97.1" y2="532.5"/>
						<line class="LinesScheme" x1="159.1" y1="419.5" x2="159.1" y2="532.5"/>
						<line class="LinesScheme" x1="221.1" y1="419.5" x2="221.1" y2="532.5"/>
						<line class="LinesScheme" x1="283.1" y1="419.5" x2="283.1" y2="532.5"/>
					</g>
					<g id="DV7Names">
						<text transform="matrix(1 0 0 1 316.1045 434.5479)" class="regular12 PTEK_">Marco Peroni, Andrea Martelli</text>
						<text transform="matrix(1 0 0 1 316.1045 462.7148)" class="regular12 PTEKaux_">Paolo Rava, Andrea Salvatori</text>
						<text transform="matrix(1 0 0 1 316.1045 502.5469)" class="regular12 PTEK_">Roberto Bertoni, Raffaele Borgini</text>
					</g>
					<g id="DV7ReadingStat3">
						<line class="ReadingLinePTEK" x1="158.6" y1="500" x2="302.6" y2="500"/>
					</g>
					<g id="DV7Stat3">
						<line class="StatLine1" x1="34.6" y1="500" x2="158.6" y2="500"/>
					</g>
					<g id="DV7ReadingStat2">
						<line class="ReadingLinePTEKaux" x1="158.6" y1="460" x2="302.6" y2="460"/>
					</g>
					<g id="DV7Stat2">
						<line class="StatLine2" x1="34.6" y1="460" x2="158.6" y2="460"/>
					</g>
					<g id="DV7ReadingStat1">
						<line class="ReadingLinePTEK" x1="158.6" y1="431" x2="302.6" y2="431"/>
					</g>
					<g id="DV7Stat1">
						<line class="StatLine1" x1="34.6" y1="431" x2="159.6" y2="431"/>
					</g>
					<g id="DV7IstogramText">
							<text transform="matrix(1 0 0 1 3.1045 434.5479)" class="regular12 PTEK">B2B</text>
							<text transform="matrix(1 0 0 1 3.1045 462.5479)" class="regular12 PTEKaux">B2C</text>
							<text transform="matrix(1 0 0 1 3.1045 490.5479)">
								<tspan x="0" y="0" class="regular12 PTEK">B2B</tspan>
								<tspan x="0" y="14.4" class="regular12 PTEK">&amp;</tspan>
								<tspan x="0" y="28.8" class="regular12 PTEK">B2C</tspan>
							</text>
					</g>
					<g id="DV7Legend">
						<text transform="matrix(1 0 0 1 94.0684 413.5107)" class="regular12 White">1</text>
						<text transform="matrix(1 0 0 1 156.0098 413.5107)" class="regular12 White">2</text>
						<text transform="matrix(1 0 0 1 217.5479 413.5107)" class="regular12 White">3</text>
						<text transform="matrix(1 0 0 1 278.8945 413.5107)" class="regular12 White">4</text>
					</g>
					<g id="DV7Percentage3MAV">
						<text transform="matrix(1 0 0 1 40.9717 276.9062)" class="bold24 MAV">35%</text>
					</g>
					<g id="DV7Circle3PTEK">
						<circle class="CirclePTEK" cx="65.6" cy="268" r="55.4"/>
					</g>
					<g id="DV7Circle3MAV">
						<path class="CircleMAV" d="M10.2,268c0-30.6,24.8-55.4,55.4-55.4S121,237.4,121,268s-24.8,55.4-55.4,55.4"/>
					</g>
					<g id="DV7Circle3IT">
						<path class="CircleIT" d="M10.2,268c0-30.6,24.8-55.4,55.4-55.4S121,237.4,121,268"/>
					</g>
					<g id="DV7Circle3FOOD">
						<path class="CircleFOOD" d="M10.2,268c0-30.6,24.8-55.4,55.4-55.4"/>
					</g>
					<g id="DV7Percentage2PTEK">
						<text transform="matrix(1 0 0 1 354.9717 133.9062)" class="bold24 PTEK">35%</text>
					</g>
					<g id="DV7Circle2PTEK">
						<circle class="CirclePTEK" cx="379.6" cy="125" r="55.4"/>
					</g>
					<g id="DV7Circle2MAV">
						<path class="CircleMAV" d="M324.2,125c0-30.6,24.8-55.4,55.4-55.4S435,94.4,435,125s-24.8,55.4-55.4,55.4"/>
					</g>
					<g id="DV7Circle2IT">
						<path class="CircleIT" d="M324.2,125c0-30.6,24.8-55.4,55.4-55.4S435,94.4,435,125"/>
					</g>
					<g id="DV7Circle2FOOD">
						<path class="CircleFOOD" d="M324.2,125c0-30.6,24.8-55.4,55.4-55.4"/>
					</g>
					<g id="DV7Percentage1IT">
						<text transform="matrix(1 0 0 1 40.9717 133.9062)" class="bold24 IT">35%</text>
					</g>
					<g id="DV7Circle1PTEK">
						<circle class="CirclePTEK" cx="65.6" cy="125" r="55.4"/>
					</g>
					<g id="DV7Circle1MAV">
						<path class="CircleMAV" d="M10.2,125c0-30.6,24.8-55.4,55.4-55.4S121,94.4,121,125s-24.8,55.4-55.4,55.4"/>
					</g>
					<g id="DV7Circle1IT">
						<path class="CircleIT" d="M10.2,125c0-30.6,24.8-55.4,55.4-55.4S121,94.4,121,125"/>
					</g>
					<g id="DV7Circle1FOOD">
						<path class="CircleFOOD" d="M10.2,125c0-30.6,24.8-55.4,55.4-55.4"/>
					</g>
					<g id="DV7Text">
						<text transform="matrix(1 0 0 1 159.8301 80.6123)">
							<tspan x="0" y="0" class="bold15 White">B2B –</tspan>
							<tspan x="0" y="18" class="regular15 White">Business</tspan>
							<tspan x="0" y="36" class="regular15 White">to business</tspan>
						</text>
						<text transform="matrix(1 0 0 1 472.1045 80.6123)">
							<tspan x="0" y="0" class="bold15 White">B2C –</tspan>
							<tspan x="0" y="18" class="regular15 White">Business</tspan>
							<tspan x="0" y="36" class="regular15 White">to consumer</tspan>
						</text>
						<text transform="matrix(1 0 0 1 159.8301 222.7559)">
							<tspan x="0" y="0" class="bold15 White">B2B &amp; B2C –</tspan>
							<tspan x="0" y="18" class="regular15 White">Business to business</tspan>
							<tspan x="0" y="36" class="regular15 White">and business to consumer</tspan>
						</text>
					</g>
					<g id="DV7Subtitles">
						<text transform="matrix(1 0 0 1 2.1045 38.8311)" class="regular12 PTEK">Statistiche totali</text>
						<text transform="matrix(1 0 0 1 2.1045 375.5479)" class="regular12 PTEK">Statistiche progettazione tecnologica</text>
					</g>
					<g id="DV7Title">
						<text transform="matrix(1 0 0 1 2.1045 19.5479)" class="bold15 PTEK">Motivazioni che hanno spinto a fondare l’attività</text>
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>