<div class="container-fluid">
	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
	    <h1 class="OfflineTitle"> Small city, big stories </h1>
	    <h2 class="OfflineComingsoon"> coming soon </h2>
        <ul class="OfflineVisit">
            <li>
            	<a class="hidden-xs" href="https://www.facebook.com/smallcitybigstories/" target="_blank">
            		<svg version="1.1" id="facebookVisit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
	            		<g>
							<path class="st0" d="M42.9,39l0.1,17.8l-12.3,0.1l-0.1-17.8l-1.5,0l0-10l1.5,0l0-0.2c0-4,0.6-6.7,1.9-8.3c1.3-1.6,3.8-2.4,7.5-2.4
								c1.8,0,3.9,0.2,6.3,0.5l1,0.2l0,8.9c-3,0-4.5,0.3-4.5,0.7l0,0.5l4.4,0l0,10L42.9,39z"/>
						</g>
					</svg>
				</a>
				<a class="visible-xs" href="fb://profile/1561591874169792">
            		<svg version="1.1" id="facebookVisit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
	            		<g>
							<path class="st0" d="M42.9,39l0.1,17.8l-12.3,0.1l-0.1-17.8l-1.5,0l0-10l1.5,0l0-0.2c0-4,0.6-6.7,1.9-8.3c1.3-1.6,3.8-2.4,7.5-2.4
								c1.8,0,3.9,0.2,6.3,0.5l1,0.2l0,8.9c-3,0-4.5,0.3-4.5,0.7l0,0.5l4.4,0l0,10L42.9,39z"/>
						</g>
					</svg>
				</a>
			</li>
			<li>
				<a class="hidden-xs" href="https://twitter.com/SCBS_studio" target="_blank">
            		<svg version="1.1" id="twitterVisit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
						<path class="st0" d="M58,23.4v-1.7l-5.1,0c-1.6-1.9-3.8-2.9-6.5-2.9c-4.9,0-8.9,4.2-8.9,9.2h-0.3L18,20.3v18.3l9.5,9.7l-8,8.7h20.1
							l15.5-16L55,29.1C54.8,26.6,58,23.4,58,23.4z"/>
					</svg>
				</a>
				<a class="visible-xs" href="twitter://user?screen_name=SCBS_studio">
            		<svg version="1.1" id="twitterVisit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
						<path class="st0" d="M58,23.4v-1.7l-5.1,0c-1.6-1.9-3.8-2.9-6.5-2.9c-4.9,0-8.9,4.2-8.9,9.2h-0.3L18,20.3v18.3l9.5,9.7l-8,8.7h20.1
							l15.5-16L55,29.1C54.8,26.6,58,23.4,58,23.4z"/>
					</svg>
				</a>
			</li>
			<li>
				<a class="hidden-xs" href="https://www.instagram.com/smallcitybigstories/" target="_blank">
            		<svg version="1.1" id="instagramVisit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
						<rect x="19" y="19" class="st0" width="37" height="37"/>
						<circle class="st0" cx="37.7" cy="39.7" r="8.2"/>
						<line class="st0" x1="30.5" y1="35" x2="18.5" y2="35"/>
						<line class="st0" x1="44.5" y1="35" x2="56.5" y2="35"/>
						<line class="st0" x1="23.5" y1="26" x2="28.5" y2="26"/>
						<line class="st0" x1="43.5" y1="26" x2="51.5" y2="26"/>
					</svg>
				</a>
				<a class="visible-xs"  href="instagram://user?username=smallcitybigstories">
            		<svg version="1.1" id="instagramVisit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
						<rect x="19" y="19" class="st0" width="37" height="37"/>
						<circle class="st0" cx="37.7" cy="39.7" r="8.2"/>
						<line class="st0" x1="30.5" y1="35" x2="18.5" y2="35"/>
						<line class="st0" x1="44.5" y1="35" x2="56.5" y2="35"/>
						<line class="st0" x1="23.5" y1="26" x2="28.5" y2="26"/>
						<line class="st0" x1="43.5" y1="26" x2="51.5" y2="26"/>
					</svg>
				</a>
			</li>
			<li>
				<a href="mailto:crew@smallcitybigstories.com" target="_blank">
            		<svg version="1.1" id="sendEmail" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="75px" height="75px" viewBox="0 0 75 75" style="enable-background:new 0 0 75 75;" xml:space="preserve">
						<g>
							<rect x="17.5" y="22.5" class="st0" width="40" height="29"/>
							<polyline class="st0" points="17.5,22.6 37.4,42.1 57.4,22.6"/>
							<line class="st0" x1="17.5" y1="51.8" x2="32.3" y2="37"/>
							<line class="st0" x1="57.4" y1="51.8" x2="42.6" y2="37"/>
						</g>
					</svg>
				</a>
			</li>
        </ul>
	</div>
</div>