<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<h3 class="TitoloProfilo"> {{ details.name }} {{ paramaters }}</h3>	
			</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<a type="button" href="#/map/">
					<svg version="1.1" class="ButtonClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 10.1 10.1" style="enable-background:new 0 0 10.1 10.1;" xml:space="preserve">
						<line id="LineaDue" style="stroke:#ff6666;stroke-width:3;stroke-linecap:round;stroke-miterlimit:50;" x1="1.5" y1="1.5" x2="8.6" y2="8.6" />
						<line id="LineaUno" style="stroke:#ff6666;stroke-width:3;stroke-linecap:round;stroke-miterlimit:50;" x1="8.6" y1="1.5" x2="1.5" y2="8.6" />
					</svg>
				</a>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<video id="VideoIntervistato" ng-src="{{details.interview|trusted}}" onmouseover="this.play()" onmouseout="this.pause()" autobuffer autoloop controls poster="/images/video.png">
						<track kind="chapters" ng-src="{{details.chapters|trusted}}">
					</video>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a href="#/map/{{paramaters}}/revenue">
							<div class="DataContainer">
								<p class="Infografica"> {{ details.revenue }} </p>
								<p class="TestoInfografica"> {{ details.label_revenue }} </p>
							</div>
						</a>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a href="#/map/{{paramaters}}/employees">
							<div class="DataContainer">
								<p class="Infografica"> {{ details.employees }} </p>
								<p class="TestoInfografica"> {{ details.label_employees }} </p>
							</div>
						</a>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a href="#/map/{{paramaters}}/foundation">
							<div class="DataContainer">
								<p class="Infografica"> {{ details.foundation }} </p>
								<p class="TestoInfografica"> {{ details.label_foundation }} </p>
							</div>
						</a>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a href="#/map/{{paramaters}}/motivations">
							<div class="DataContainer">
								<p class="Infografica"> {{ details.motivations }} </p>
								<p class="TestoInfografica"> {{ details.label_motivations }} </p>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a href="#/map/{{paramaters}}/service">
							<div class="DataContainer">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="Infografica"> <img ng-src="{{ details.service }}"></p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="TestoInfografica"> {{ details.label_service }} </p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a href="#/map/{{paramaters}}/reference_market">
							<div class="DataContainer">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="Infografica"> {{ details.reference_market }} </p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="TestoInfografica"> {{ details.label_reference_market }} </p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a href="#/map/{{paramaters}}/economic_growth">
							<div class="DataContainer">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="Infografica"> {{ details.economic_growth }} </p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="TestoInfografica"> {{ details.label_economic_growth }} </p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a href="#/map/{{paramaters}}/type">
							<div class="DataContainer">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="Infografica"> {{ details.type }} </p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<p class="TestoInfografica"> {{ details.label_type }} </p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<p class="NameCompany"> {{ details.company }} </p>
				<p class="BioCompany"> {{ details.bio_company }} </p>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="legend in legends">
					<p class="BioCompany"> {{ legend.element }} </p>
				</div>
			</div>
	</div>
</div>