<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<h3 class="TitoloProfilo"> {{ details.name }} {{ paramaters }}</h3>
			</div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
				<backto-profile></backto-profile>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<video id="VideoIntervistato" loop>
						<source src="video/PietroSedda.mp4" type="video/mp4">
					</video>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="NameCompany"> {{ details.company }} </p>
					<p class="BioCompany"> {{ details.bio_company }} </p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<p class="confronto" ng-repeat="comparison in comparisons"> {{ comparison.name }} - {{ comparison.company }} - {{ comparison.reference_market }} </p>
			</div>
		</div>
	</div>
</div>