<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3 class="TitoloProfilo"> {{ details.name }} {{ paramaters }}</h3>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<backto-profile></backto-profile>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<video id="VideoIntervistato" loop>
						<source src="video/PietroSedda.mp4" type="video/mp4">
					</video>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="NameCompany"> {{ details.company }} </p>
					<p class="BioCompany"> {{ details.bio_company }} </p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="627.4px" height="550.4px" viewBox="0 0 627.4 550.4" style="enable-background:new 0 0 627.4 550.4;" xml:space="preserve">
					<g id="XBtnStroke">
						<rect x="500" y="10" class="stroke" width="106" height="32"/>
					</g>
					<g id="XBtnTesto">
						<text transform="matrix(1 0 0 1 510 30)" class="txt">Back to profile</text>
					</g>
					<g id="DV5Names2">
						<text transform="matrix(1 0 0 1 404.5928 466.6035)">
							<tspan x="0" y="0" class="PTEKaux_ regular12">Andrea Salvatori, Roberto</tspan>
							<tspan x="0" y="14.4" class="PTEKaux_ regular12">Bertoni, Raffaele Borgini,</tspan>
							<tspan x="0" y="28.8" class="PTEKaux_ regular12">Andrea Martelli</tspan>
						</text>
					</g>
					<g id="DV5Names1">
						<text transform="matrix(1 0 0 1 404.5928 438.7705)" class="PTEK_ regular12">Marco Peroni, Paolo Rava</text>
					</g>
					<g id="DV5Stat2">
						<line class="StatLine2" x1="128.4" y1="465.3" x2="376.4" y2="465.3"/>
					</g>
					<g id="DV5Stat1">
						<line class="StatLine1" x1="128.4" y1="435.3" x2="253.4" y2="435.3"/>
					</g>
					<g id="DV5IstogrammaMercatoGlobale">
						<text transform="matrix(1 0 0 1 3.9268 466.7705)" class="PTEKaux regular12">Mercato globale</text>
					</g>
					<g id="DV5IstogrammaMercatoITA">
						<text transform="matrix(1 0 0 1 3.9268 438.7705)" class="PTEK regular12">Mercato italiano</text>
					</g>
					<g id="DV5Legend">
						<text transform="matrix(1 0 0 1 187.8906 417.7334)" class="White regular9">1</text>
						<text transform="matrix(1 0 0 1 249.832 417.7334)" class="White regular9">2</text>
						<text transform="matrix(1 0 0 1 311.3701 417.7334)" class="White regular9">3</text>
						<text transform="matrix(1 0 0 1 372.7168 417.7334)" class="White regular9">4</text>
					</g>
					<g id="DV5Scheme">
						<line class="LinesScheme" x1="128.9" y1="408.8" x2="128.9" y2="536.8"/>
						<line class="LinesScheme" x1="159.9" y1="408.8" x2="159.9" y2="536.8"/>
						<line class="LinesScheme" x1="221.9" y1="408.8" x2="221.9" y2="536.8"/>
						<line class="LinesScheme" x1="283.9" y1="408.8" x2="283.9" y2="536.8"/>
						<line class="LinesScheme" x1="345.9" y1="408.8" x2="345.9" y2="536.8"/>
						<line class="LinesScheme" x1="190.9" y1="423.8" x2="190.9" y2="536.8"/>
						<line class="LinesScheme" x1="252.9" y1="423.8" x2="252.9" y2="536.8"/>
						<line class="LinesScheme" x1="314.9" y1="423.8" x2="314.9" y2="536.8"/>
						<line class="LinesScheme" x1="376.9" y1="423.8" x2="376.9" y2="536.8"/>
					</g>
					<g id="DV5CirclePTEK2">
						<path class="CirclePTEK" d="M539.7,180.4c0,59.1-47.9,107.1-107.1,107.1c-59.1,0-107.1-47.9-107.1-107.1S373.4,73.3,432.6,73.3C491.7,73.3,539.7,121.3,539.7,180.4z"/>
					</g>
					<g id="DV5CircleMAV2">
						<path class="CircleMAV" d="M325.5,180.4c0-59.1,47.9-107.1,107.1-107.1c59.1,0,107.1,47.9,107.1,107.1s-47.9,107.1-107.1,107.1"/>
					</g>
					<g id="DV5CircleIT2">
						<path class="CircleIT" d="M325.5,180.4c0-59.1,47.9-107.1,107.1-107.1c59.1,0,107.1,47.9,107.1,107.1"/>
					</g>
					<g id="DV5CircleFOOD2">
						<path class="CircleFOOD" d="M325.5,180.4c0-59.1,47.9-107.1,107.1-107.1"/>
					</g>
					<g id="DV5CirclePTEK1">
						<path class="CirclePTEK" d="M225.7,180.4c0,59.1-47.9,107.1-107.1,107.1c-59.1,0-107.1-47.9-107.1-107.1S59.4,73.3,118.6,73.3C177.7,73.3,225.7,121.3,225.7,180.4z"/>
					</g>
					<g id="DV5CircleMAV1">
						<path class="CircleMAV" d="M11.5,180.4c0-59.1,47.9-107.1,107.1-107.1c59.1,0,107.1,47.9,107.1,107.1s-47.9,107.1-107.1,107.1"/>
					</g>
					<g id="DV5CircleIT1">
						<path class="CircleIT" d="M11.5,180.4c0-59.1,47.9-107.1,107.1-107.1c59.1,0,107.1,47.9,107.1,107.1"/>
					</g>
					<g id="DV5CircleFOOD1">
						<path class="CircleFOOD" d="M11.5,180.4c0-59.1,47.9-107.1,107.1-107.1"/>
					</g>
					<g id="DV5LogoItalia">
						<g id="italiaMAV">
							<polygon class="Logo2Lines5px" points="444.9,162.3 444.9,183.3 457.1,196.3 459.9,196.3 459.9,175.3 475.9,175.3 475.9,159.3 462.3,159.3434.9,132 438.9,125.6 438.9,118.3 403.7,118.3 389.6,131 403.8,146.3 415.1,137.5 436.1,159.3 441.3,159.3"/>
							<polygon class="Logo2Lines5px" points="432.4,185.3 427.7,190.3 409.9,190.3 409.9,199 431.9,204.3 442.9,194.8 433.5,185.3"/>
							<polygon class="Logo2Lines5px" points="414.6,154.3 410.4,154.3 399.9,154.3 399.9,154.5 403.1,158.2 404.2,180.3 411.4,180.3 413.8,177.3420.4,177.1 420.1,158.3 415.9,154.3"/>
						</g>
					</g>
					<g id="DV5LogoGlobale">
						<g id="esteroMAV">
							<circle class="Logo1Lines5px" cx="117.5" cy="151.1" r="35.2"/>
							<polyline class="Logo1Lines2px" points="85.4,143.8 90.1,143.8 91.4,143.8 91.4,148.4 96.5,157.8 100.6,157.8 103.8,160.3 99.9,163.6104.4,166.9 104.4,177.7 111,170.6 114.4,167 114.4,163.6 111.3,159.8 108,156.2 104.6,152.5 108.5,148.7 112.1,145.1108.4,141.4 108.4,135.8 104.4,135.8 104.4,130.9 104.4,127.8 111.4,127.8 111.4,131.8 114.4,131.8 114.4,137.9 118.4,134.2118.4,130.9 121.4,127.4 121.4,115.8"/>
							<polyline class="Logo1Lines2px" points="145.4,130.8 134.6,130.8 130.8,133.8 124.4,133.8 124.4,153.8 121.4,153.8 121.4,155.5 128.2,159.9128.4,165.6 128.4,168.3 133.1,173.1 133.3,165.8 136.4,165.8 136.4,156.8 141.6,156.8 145.4,153.8 153.4,153.8"/>
							<path class="Logo1Lines5px" d="M87,120.8c-7.8,7.8-12.6,18.5-12.6,30.4c0,23.7,19.2,43,43,43c11.9,0,22.6-4.8,30.4-12.6"/>
							<path class="Logo1Lines5px" d="M134.2,205.3c-5-2.7-10.7-3.9-16.7-3.9c-6,0-11.7,1.1-16.7,3.9"/>
							<line class="Logo1Lines2px" x1="81.7" y1="115.4" x2="92.5" y2="126.3"/>
							<line class="Logo1Lines2px" x1="153.6" y1="187.4" x2="142.4" y2="176.1"/>
							<line class="Logo1Lines5px" x1="117.9" y1="201.8" x2="117.9" y2="193.8"/>
						</g>
					</g>
					<g id="DV5_x25_IT">
						<text transform="matrix(1 0 0 1 406.7939 246.1289)" class="IT bold24">35%</text>
					</g>
					<g id="DV5_x25_FOOD">
						<text transform="matrix(1 0 0 1 91.7939 246.1289)" class="FOOD bold24">35%</text>
					</g>
					<g id="DV5MercatoItaliano">
						<text transform="matrix(1 0 0 1 372.9268 320.335)" class="White bold15">Mercato italiano</text>
					</g>
					<g id="DV5MercatoGlobale">
						<text transform="matrix(1 0 0 1 58.8184 320.501)" class="White bold15">Mercato globale</text>
					</g>
					<g id="DV5TitlePTEK">
						<text transform="matrix(1 0 0 1 2.9268 376.7705)" class="PTEK regular12">Statistiche progettazione tecnologica</text>
					</g>
					<g id="DV5TitleTOT">
						<text transform="matrix(1 0 0 1 2.9268 43.0537)" class="PTEK regular12">Statistiche totali</text>
					</g>			
					<g id="DV5Title">
						<text transform="matrix(1 0 0 1 2.9268 23.7705)" class="PTEK bold15">Mercato di riferimento delle aziende intervistate</text>
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>