<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h3 class="TitoloProfilo"> {{ details.name }} {{ paramaters }}</h3>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<backto-profile></backto-profile>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<video id="VideoIntervistato" loop>
						<source src="video/PietroSedda.mp4" type="video/mp4">
					</video>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="NameCompany"> {{ details.company }} </p>
					<p class="BioCompany"> {{ details.bio_company }} </p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="654.5px" height="553px" viewBox="0 0 654.5 553" style="enable-background:new 0 0 654.5 553;" xml:space="preserve">
					<g id="DV1Average">
						<line class="st1" x1="155.5" y1="96.5" x2="558.5" y2="96.5"/>
						<line class="st1" x1="155.5" y1="152.5" x2="559.5" y2="152.5"/>
						<line class="st1" x1="155.5" y1="180.5" x2="559.5" y2="180.5"/>
						<line class="st1" x1="155.5" y1="208.5" x2="559.5" y2="208.5"/>
						<line class="st1" x1="155.5" y1="264.5" x2="559" y2="264.5"/>
						<line class="st1" x1="155.5" y1="292.5" x2="559" y2="292.5"/>
						<line class="st1" x1="155.5" y1="320.5" x2="559" y2="320.5"/>
						<line class="st1" x1="155.5" y1="348.5" x2="559" y2="348.5"/>
						<line class="st1" x1="155.5" y1="376.5" x2="559" y2="376.5"/>
						<line class="st1" x1="155.5" y1="404.5" x2="559" y2="404.5"/>
						<line class="st1" x1="155.5" y1="460.5" x2="559" y2="460.5"/>
						<line class="st1" x1="155.5" y1="488.5" x2="559" y2="488.5"/>
						<line class="st1" x1="155.5" y1="236.5" x2="559.5" y2="236.5"/>
					</g>
					<g id="DV1Scheme">
						<line class="st3" x1="156" y1="53" x2="156" y2="525"/>
						<line class="st3" x1="187" y1="68" x2="187" y2="525"/>
						<line class="st3" x1="249" y1="68" x2="249" y2="525"/>
						<line class="st3" x1="280" y1="53" x2="280" y2="525"/>
						<line class="st3" x1="218" y1="53" x2="218" y2="525"/>
						<line class="st3" x1="311" y1="68" x2="311" y2="525"/>
						<line class="st3" x1="342" y1="53" x2="342" y2="525"/>
						<line class="st3" x1="373" y1="68" x2="373" y2="525"/>
						<line class="st3" x1="404" y1="53" x2="404" y2="525"/>
						<line class="st3" x1="435" y1="68" x2="435" y2="525"/>
						<line class="st3" x1="466" y1="53" x2="466" y2="525"/>
						<line class="st3" x1="497" y1="68" x2="497" y2="525"/>
						<line class="st3" x1="528" y1="53" x2="528" y2="525"/>
						<line class="st3" x1="559" y1="68" x2="559" y2="525"/>
						<line class="st3" x1="590" y1="53" x2="590" y2="525"/>
						<line class="st3" x1="621" y1="68" x2="621" y2="525"/>
					</g>
					<g id="DV1BlackLineBorgini">
						<line class="st5" x1="158.5" y1="126" x2="333.5" y2="126"/>
					</g>
					<g id="DV1BlackLineTampieri">
						<line class="st5" x1="158.5" y1="433" x2="330.5" y2="433"/>
					</g>
					<g id="DV1NoDataBorgini">
						<text transform="matrix(1 0 0 1 161 128)" class="st9 st0 st77">Startup non soggetta a fatturazione</text>
					</g>
					<g id="DV1NoDataTampieri">
						<text transform="matrix(1 0 0 1 161 435)" class="st12 st0 st77">Startup non soggetta a fatturazione</text>
					</g>
					<g id="DV1StatFood">
						<line class="st16" x1="155.5" y1="460.5" x2="293.5" y2="460.5"/>
						<line class="st16" x1="155.5" y1="488.5" x2="280" y2="488.5"/>
					</g>
					<g id="DV1StatMatAv">
						<line class="st4" x1="155.5" y1="348.5" x2="528" y2="348.5"/>
						<line class="st4" x1="155.5" y1="376.5" x2="373" y2="376.5"/>
						<line class="st4" x1="155.5" y1="404.5" x2="624" y2="404.5"/>
					</g>
					<g id="DV1StatIt">
						<line class="st2" x1="155.5" y1="264.5" x2="442" y2="264.5"/>
						<line class="st2" x1="155.5" y1="292.5" x2="530.8" y2="292.5"/>
						<line class="st2" x1="155.5" y1="320.5" x2="623" y2="320.5"/>
					</g>
					<g id="DV1StatPtech">
						<line class="st17" x1="155.5" y1="96.5" x2="512.5" y2="96.5"/>
						<line class="st17" x1="155.5" y1="152.5" x2="420.5" y2="152.5"/>
						<line class="st17" x1="155.5" y1="180.5" x2="310.5" y2="180.5"/>
						<line class="st17" x1="155.5" y1="208.5" x2="182.5" y2="208.5"/>
						<line class="st17" x1="155.5" y1="236.5" x2="182.5" y2="236.5"/>
					</g>
					<g id="DV1NameTamba">
					<g>
						<text transform="matrix(1 0 0 1 30 492)" class="st8 st0 st14">Marco Tamba</text>
					</g>
					<g id="DV1NameMantovani">
						<text transform="matrix(1 0 0 1 30 464)" class="st8 st0 st14">Fabrizio Mantovani</text>
					</g>
					<g id="DV1NameTampieri">
						<text transform="matrix(1 0 0 1 30 436)" class="st12 st0 st14">Anna Tampieri</text>
					</g>
					<g id="DV1NameSavorani">
						<text transform="matrix(1 0 0 1 30 408)" class="st12 st0 st14">Barbara Savorani</text>
					</g>
					<g id="DV1NameRuta">
						<text transform="matrix(1 0 0 1 30 380)" class="st12 st0 st14">Giulia Ruta</text>
					</g>
					<g id="DV1NameBandini">
						<text transform="matrix(1 0 0 1 30 352)" class="st12 st0 st14">Gabriele Bandini</text>
					</g>
					<g id="DV1NameZauli">
						<text transform="matrix(1 0 0 1 30 324)" class="st13 st0 st14">Stefano Zauli</text>
					</g>
					<g id="DV1NameValmori">
						<text transform="matrix(1 0 0 1 30 296)" class="st13 st0 st14">Ivano Valmori</text>
					</g>
					<g id="DV1NameFionda">
						<text transform="matrix(1 0 0 1 30 268)" class="st13 st0 st14">Maurizio Fionda</text>
					</g>
					<g id="DV1NameSalvatori">
						<text transform="matrix(1 0 0 1 30 240)" class="st9 st0 st14">Andrea Salvatori</text>
					</g>
					<g id="DV1NameRava">
						<text transform="matrix(1 0 0 1 30 212)" class="st9 st0 st14">Paolo Rava</text>
					</g>
					<g id="DV1NamePeroni">
						<text transform="matrix(1 0 0 1 30 184)" class="st9 st0 st14">Marco Peroni</text>
					</g>
					<g id="DV1NameMartelli">
						<text transform="matrix(1 0 0 1 30 156)" class="st9 st0 st14">Andrea Martelli</text>
					</g>
					<g id="DV1NameBorgini">
						<text transform="matrix(1 0 0 1 30 128)" class="st9 st0 st14">Raffaele Borgini</text>
					</g>
					<g id="DV1NameBertoni">
						<text transform="matrix(1 0 0 1 30 100)" class="st9 st0 st14">Roberto Bertoni</text>
					</g>
					<g id="DV1LegendAverage">
						<text transform="matrix(1 0 0 1 30 545.999)" class="st11 st0 st14">Il reddito annuo medio delle aziende intervistate è indicato con la linea grigia.</text>
					</g>
					<g id="DV1Legend">
						<text transform="matrix(1 0 0 1 176 60.5)" class="st7 st18">100m</text>
						<text transform="matrix(1 0 0 1 236.5 60.5)" class="st10 st18 st7">200m</text>
						<text transform="matrix(1 0 0 1 299 60.5)" class="st10 st18 st7">400m</text>
						<text transform="matrix(1 0 0 1 360 60.5)" class="st10 st18 st7">600m</text>
						<text transform="matrix(1 0 0 1 423 60.5)" class="st10 st18 st7">800m</text>
						<text transform="matrix(1 0 0 1 491.5 60.5)" class="st10 st18 st7">1M</text>
						<text transform="matrix(1 0 0 1 551.5 60.5)" class="st10 st18 st7">3M</text>
						<text transform="matrix(1 0 0 1 610 60.5)" class="st10 st18 st7">&gt;5M</text>
					</g>
					<g id="DV1Title">
						<text transform="matrix(1 0 0 1 30 18)" class="st9 st6 st15">Fatturato annuo delle aziende intervistate (€)</text>
					</g>
				</svg>
			</div>
		</div>
	</div>
</div>