<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 MarginBottom1pct">
		<p class="TxtLeft FloatLeft MarginZero Bold21">Percentuale di crescita complessiva delle aziende</p>
		<backto-map></backto-map>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular15">L’istogramma mostra le percentuali di crescita delle aziende dei singoli intervistati.</p>
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular12">La banda grigia indica la percentuale media di crescita delle 15 aziende selezionate.</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90%" height="90%" viewBox="0 0 933 520" style="enable-background:new 0 0 933 520;" xml:space="preserve">
			<g id="DV6Average">
				<line class="GstatLine" x1="158" y1="47" x2="493" y2="47"/>
				<line class="GstatLine" x1="158" y1="107" x2="494" y2="107"/>
				<line class="GstatLine" x1="158" y1="137" x2="494" y2="137"/>
				<line class="GstatLine" x1="158" y1="167" x2="494" y2="167"/>
				<line class="GstatLine" x1="158" y1="226.5" x2="493.8" y2="226.5"/>
				<line class="GstatLine" x1="158" y1="256.5" x2="493.8" y2="256.5"/>
				<line class="GstatLine" x1="158" y1="286.5" x2="493.8" y2="286.5"/>
				<line class="GstatLine" x1="158" y1="316.5" x2="493.8" y2="316.5"/>
				<line class="GstatLine" x1="158" y1="346.5" x2="493.8" y2="346.5"/>
				<line class="GstatLine" x1="158" y1="376.5" x2="493.8" y2="376.5"/>
				<line class="GstatLine" x1="158" y1="436.5" x2="493.8" y2="436.5"/>
				<line class="GstatLine" x1="158" y1="466.5" x2="493.8" y2="466.5"/>
			</g>
			<g id="DV6Scheme">
				<line class="Grid" x1="158.5" y1="10" x2="158.5" y2="482"/>
				<line class="Grid" x1="190.5" y1="25" x2="190.5" y2="482"/>
				<line class="Grid" x1="254.5" y1="25" x2="254.5" y2="482"/>
				<line class="Grid" x1="286.5" y1="10" x2="286.5" y2="482"/>
				<line class="Grid" x1="222.5" y1="10" x2="222.5" y2="482"/>
				<line class="Grid" x1="318.5" y1="25" x2="318.5" y2="482"/>
				<line class="Grid" x1="350.5" y1="10" x2="350.5" y2="482"/>
				<line class="Grid" x1="382.5" y1="25" x2="382.5" y2="482"/>
				<line class="Grid" x1="414.5" y1="10" x2="414.5" y2="482"/>
				<line class="Grid" x1="446.5" y1="25" x2="446.5" y2="482"/>
				<line class="Grid" x1="478.5" y1="10" x2="478.5" y2="482"/>
				<line class="Grid" x1="510.5" y1="25" x2="510.5" y2="482"/>
				<line class="Grid" x1="542.5" y1="10" x2="542.5" y2="482"/>
				<line class="Grid" x1="574.5" y1="25" x2="574.5" y2="482"/>
				<line class="Grid" x1="606.5" y1="10" x2="606.5" y2="482"/>
				<line class="Grid" x1="670.5" y1="10" x2="670.5" y2="482"/>
				<line class="Grid" x1="734.5" y1="10" x2="734.5" y2="482"/>
				<line class="Grid" x1="798.5" y1="10" x2="798.5" y2="482"/>
				<line class="Grid" x1="862.5" y1="10" x2="862.5" y2="482"/>
				<line class="Grid" x1="926.5" y1="10" x2="926.5" y2="482"/>
				<line class="Grid" x1="638.5" y1="25" x2="638.5" y2="482"/>
				<line class="Grid" x1="702.5" y1="25" x2="702.5" y2="482"/>
				<line class="Grid" x1="766.5" y1="25" x2="766.5" y2="482"/>
				<line class="Grid" x1="830.5" y1="25" x2="830.5" y2="482"/>
				<line class="Grid" x1="894.5" y1="25" x2="894.5" y2="482"/>
			</g>
			<g id="DV6BlackLineBorgini">
				<line class="BstatLine" x1="161" y1="78.5" x2="380" y2="78.5"/>
				<line class="BstatLine" x1="161" y1="196.5" x2="388" y2="196.5"/>
			</g>
			<g id="DV6BlackLineTampieri">
				<line class="BstatLine" x1="161" y1="406.5" x2="375" y2="406.5"/>
			</g>
			<g id="DV6NoDataBorgini">
				<g>
					<text transform="matrix(1 0 0 1 163.5 82)" class="Regular12 PTEKColor">Startup non soggetta a fatturazione</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 163.5 200)" class="Regular12 PTEKColor">Artigiano non soggetto a fatturazione</text>
				</g>
			</g>
			<g id="DV6NoDataTampieri">
				<g>
					<text transform="matrix(1 0 0 1 163.5 409)" class="Regular12 MAVColor">Startup non soggetta a fatturazione</text>
				</g>
			</g>
			<g id="DV6StatFood">
				<line class="FOODstatLine" x1="158" y1="436.5" x2="176.3" y2="436.5"/>
				<line class="FOODstatLine" x1="158" y1="466.5" x2="255" y2="466.5"/>
			</g>
			<g id="DV6StatMatAv">
				<line class="MAVstatLine" x1="158" y1="316.5" x2="383" y2="316.5"/>
				<line class="MAVstatLine" x1="158" y1="346.5" x2="351" y2="346.5"/>
				<line class="MAVstatLine" x1="158" y1="376.5" x2="351" y2="376.5"/>
			</g>
			<g id="DV6StatIt">
				<line class="ITstatLine" x1="158" y1="226.5" x2="444.5" y2="226.5"/>
				<line class="ITstatLine" x1="158" y1="256.5" x2="931" y2="256.5"/>
				<line class="ITstatLine" x1="158" y1="286.5" x2="575" y2="286.5"/>
			</g>
			<g id="DV6StatPtech">
				<line class="PTEKstatLine" x1="158" y1="47" x2="350" y2="47"/>
				<line class="PTEKstatLine" x1="158" y1="107" x2="882" y2="107"/>
				<line class="PTEKstatLine" x1="158" y1="137" x2="201" y2="137"/>
				<line class="PTEKstatLine" x1="158" y1="167" x2="255" y2="167"/>
			</g>
			<g id="DV6NameTamba">
				<g>
					<text transform="matrix(1 0 0 1 1.5 470)" class="Regular15 FOODColor">Marco Tamba</text>
				</g>
			</g>
			<g id="DV6NameMantovani">
				<g>
					<text transform="matrix(1 0 0 1 1.5 440)" class="Regular15 FOODColor">Fabrizio Mantovani</text>
				</g>
			</g>
			<g id="DV6NameTampieri">
				<g>
					<text transform="matrix(1 0 0 1 1.5 410)" class="Regular15 MAVColor">Anna Tampieri</text>
				</g>
			</g>
			<g id="DV6NameSavorani">
				<g>
					<text transform="matrix(1 0 0 1 1.5 380)" class="Regular15 MAVColor">Barbara Savorani</text>
				</g>
			</g>
			<g id="DV6NameRuta">
				<g>
					<text transform="matrix(1 0 0 1 1.5 350)" class="Regular15 MAVColor">Giulia Ruta</text>
				</g>
			</g>
			<g id="DV6NameBandini">
				<g>
					<text transform="matrix(1 0 0 1 1.5 320)" class="Regular15 MAVColor">Gabriele Bandini</text>
				</g>
			</g>
			<g id="DV6NameZauli">
				<g>
					<text transform="matrix(1 0 0 1 1.5 290)" class="Regular15 ITColor">Stefano Zauli</text>
				</g>
			</g>
			<g id="DV6NameValmori">
				<g>
					<text transform="matrix(1 0 0 1 1.5 260)" class="Regular15 ITColor">Ivano Valmori</text>
				</g>
			</g>
			<g id="DV6NameFionda">
				<g>
					<text transform="matrix(1 0 0 1 1.5 230)" class="Regular15 ITColor">Maurizio Fionda</text>
				</g>
			</g>
			<g id="DV6NameSalvatori">
				<g>
					<text transform="matrix(1 0 0 1 1.5 200)" class="Regular15 PTEKColor">Andrea Salvatori</text>
				</g>
			</g>
			<g id="DV6NameRava">
				<g>
					<text transform="matrix(1 0 0 1 1.5 170)" class="Regular15 PTEKColor">Paolo Rava</text>
				</g>
			</g>
			<g id="DV6NamePeroni">
				<g>
					<text transform="matrix(1 0 0 1 1.5 140)" class="Regular15 PTEKColor">Marco Peroni</text>
				</g>
			</g>
			<g id="DV6NameMartelli">
				<g>
					<text transform="matrix(1 0 0 1 1.5 110)" class="Regular15 PTEKColor">Andrea Martelli</text>
				</g>
			</g>
			<g id="DV6NameBorgini">
				<g>
					<text transform="matrix(1 0 0 1 1.5 80)" class="Regular15 PTEKColor">Raffaele Borgini</text>
				</g>
			</g>
			<g id="DV6NameBertoni">
				<g>
					<text transform="matrix(1 0 0 1 1.5 50)" class="Regular15 PTEKColor">Roberto Bertoni</text>
				</g>
			</g>
			<g id="DV6LegendAverage">
				<g>
					<text transform="matrix(1 0 0 1 2.5 515.999)" class="GColor Regular15">La percentuale media di crescita delle aziende intervistate è indicato con la linea grigia.</text>
				</g>
			</g>
			<g id="DV6Legend">
				<g>
					<text transform="matrix(1 0 0 1 177.5 10.5)" class="Regular12 WColor">50%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 239 10.5)" class="Regular12 WColor">100%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 302.5 10.5)" class="Regular12 WColor">200%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 365.5 10.5)" class="Regular12 WColor">400%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 429.5 10.5)" class="Regular12 WColor">600%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 494 10.5)" class="Regular12 WColor">800%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 556 10.5)" class="Regular12 WColor">1000%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 619.5 10.5)" class="Regular12 WColor">1250%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 683.5 10.5)" class="Regular12 WColor">1500%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 747.5 10.5)" class="Regular12 WColor">1750%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 810.5 10.5)" class="Regular12 WColor">2000%</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 874.5 10.5)" class="Regular12 WColor">3000%</text>
				</g>
			</g>
		</svg>
	</div>
</div>
<bottom-menu></bottom-menu>