<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 MarginBottom2pct">
		<p class="TxtLeft FloatLeft MarginZero Bold21">Percentuale di crescita complessiva delle aziende</p>
		<backto-profile></backto-profile>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular15">L'istogramma mostra le percentuali di crescita delle aziende dei singoli intervistati.</p>
		<p class="TxtLeft MarginZero MarginBottom10pct GColor Regular12">La banda grigia indica la percentuale media di crescita delle 15 aziende selezionate.</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 933 486" style="enable-background:new 0 0 933 486;" xml:space="preserve">
			<g id="DV3Average">
				<line class="GStroke Stroke10px" x1="158" y1="47" x2="842" y2="47"/>
				<line class="GStroke Stroke10px" x1="158" y1="107" x2="842" y2="107"/>
				<line class="GStroke Stroke10px" x1="158" y1="137" x2="842" y2="137"/>
				<line class="GStroke Stroke10px" x1="158" y1="167" x2="842" y2="167"/>
				<line class="GStroke Stroke10px" x1="158" y1="226.5" x2="842" y2="226.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="256.5" x2="842" y2="256.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="286.5" x2="842" y2="286.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="316.5" x2="842" y2="316.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="346.5" x2="842" y2="346.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="376.5" x2="842" y2="376.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="436.5" x2="842" y2="436.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="466.5" x2="842" y2="466.5"/>
			</g>
			<g id="DV3Scheme">
				<line class="WStroke Stroke1px" x1="158.5" y1="10" x2="158.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="190.5" y1="25" x2="190.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="254.5" y1="25" x2="254.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="286.5" y1="10" x2="286.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="222.5" y1="10" x2="222.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="318.5" y1="25" x2="318.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="350.5" y1="10" x2="350.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="382.5" y1="25" x2="382.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="414.5" y1="10" x2="414.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="446.5" y1="25" x2="446.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="478.5" y1="10" x2="478.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="510.5" y1="25" x2="510.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="542.5" y1="10" x2="542.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="574.5" y1="25" x2="574.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="606.5" y1="10" x2="606.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="670.5" y1="10" x2="670.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="734.5" y1="10" x2="734.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="798.5" y1="10" x2="798.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="862.5" y1="10" x2="862.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="926.5" y1="10" x2="926.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="638.5" y1="25" x2="638.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="702.5" y1="25" x2="702.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="766.5" y1="25" x2="766.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="830.5" y1="25" x2="830.5" y2="482"/>
				<line class="WStroke Stroke1px" x1="894.5" y1="25" x2="894.5" y2="482"/>
			</g>
			<g id="DV3BlackLine">
				<line class="BStroke Stroke15px" x1="161" y1="78.5" x2="419" y2="78.5"/>
				<line class="BStroke Stroke15px" x1="161" y1="196.5" x2="428" y2="196.5"/>
				<line class="BStroke Stroke15px" x1="161" y1="406.5" x2="420" y2="406.5"/>
			</g>
			<g id="DV3NoData">
				<text transform="matrix(1 0 0 1 163.5 82)" class="PTEKColor SVGRegular12">Startup non soggetta a fatturazione diretta</text>
				<text transform="matrix(1 0 0 1 163.5 200)" class="PTEKColor SVGRegular12">Artigiano non soggetto a fatturazione diretta</text>
				<text transform="matrix(1 0 0 1 163.5 409)" class="MAVColor SVGRegular12">Startup non soggetta a fatturazione diretta</text>
			</g>
			<g id="DV3Bars">
				<line class="FOODStroke FOODBars Stroke10px " x1="158" y1="436.5" x2="176.3" y2="436.5"/>
				<line class="FOODStroke FOODBars Stroke10px " x1="158" y1="466.5" x2="255" y2="466.5"/>
				<line class="MAVStroke MAVBars Stroke10px " x1="158" y1="316.5" x2="383" y2="316.5"/>
				<line class="MAVStroke MAVBars Stroke10px " x1="158" y1="346.5" x2="351" y2="346.5"/>
				<line class="MAVStroke MAVBars Stroke10px " x1="158" y1="376.5" x2="351" y2="376.5"/>
				<line class="ITStroke ITBars Stroke10px " x1="158" y1="226.5" x2="575" y2="226.5"/>
				<line class="ITStroke ITBars Stroke10px " x1="158" y1="256.5" x2="931" y2="256.5"/>
				<line class="ITStroke ITBars Stroke10px " x1="158" y1="286.5" x2="575" y2="286.5"/>
				<line class="PTEKStroke PTEKBars Stroke10px " x1="158" y1="47" x2="350" y2="47"/>
				<line class="PTEKStroke PTEKBars Stroke10px " x1="158" y1="107" x2="882" y2="107"/>
				<line class="PTEKStroke PTEKBars Stroke10px " x1="158" y1="137" x2="201" y2="137"/>
				<line class="PTEKStroke PTEKBars Stroke10px " x1="158" y1="167" x2="255" y2="167"/>
			</g>
			<g id="DV3Name">
				<text transform="matrix(1 0 0 1 1.5 470)" class="WColor SVGRegular15"><a class="FOODColor" href="map/marco_tamba" xlink:href="map/marco_tamba">Marco Tamba</a></text>
				<text transform="matrix(1 0 0 1 1.5 440)" class="WColor SVGRegular15"><a class="FOODColor" href="map/fabrizio_mantovani" xlink:href="map/fabrizio_mantovani">Fabrizio Mantovani</a></text>
				<text transform="matrix(1 0 0 1 1.5 410)" class="WColor SVGRegular15"><a class="MAVColor" href="map/anna_tampieri" xlink:href="map/anna_tampieri">Anna Tampieri</a></text>
				<text transform="matrix(1 0 0 1 1.5 380)" class="WColor SVGRegular15"><a class="MAVColor" href="map/barbara_savorani" xlink:href="map/barbara_savorani">Barbara Savorani</a></text>
				<text transform="matrix(1 0 0 1 1.5 350)" class="WColor SVGRegular15"><a class="MAVColor" href="map/giulia_ruta" xlink:href="map/giulia_ruta">Giulia Ruta</a></text>
				<text transform="matrix(1 0 0 1 1.5 320)" class="WColor SVGRegular15"><a class="MAVColor" href="map/gabriele_bandini" xlink:href="map/gabriele_bandini">Gabriele Bandini</a></text>
				<text transform="matrix(1 0 0 1 1.5 290)" class="WColor SVGRegular15"><a class="ITColor" href="map/stefano_zauli" xlink:href="map/stefano_zauli">Stefano Zauli</a></text>
				<text transform="matrix(1 0 0 1 1.5 260)" class="WColor SVGRegular15"><a class="ITColor" href="map/ivano_valmori" xlink:href="map/ivano_valmori">Ivano Valmori</a></text>
				<text transform="matrix(1 0 0 1 1.5 230)" class="WColor SVGRegular15"><a class="ITColor" href="map/maurizio_fionda" xlink:href="map/maurizio_fionda">Maurizio Fionda</a></text>
				<text transform="matrix(1 0 0 1 1.5 200)" class="WColor SVGRegular15"><a class="PTEKColor" href="map/andrea_salvatori" xlink:href="map/andrea_salvatori">Andrea Salvatori</a></text>
				<text transform="matrix(1 0 0 1 1.5 170)" class="WColor SVGRegular15"><a class="PTEKColor" href="map/paolo_rava" xlink:href="map/paolo_rava">Paolo Rava</a></text>
				<text transform="matrix(1 0 0 1 1.5 140)" class="WColor SVGRegular15"><a class="PTEKColor" href="map/marco_peroni" xlink:href="map/marco_peroni">Marco Peroni</a></text>
				<text transform="matrix(1 0 0 1 1.5 110)" class="WColor SVGRegular15"><a class="PTEKColor" href="map/andrea_martelli" xlink:href="map/andrea_martelli">Andrea Martelli</a></text>
				<text transform="matrix(1 0 0 1 1.5 80)" class="WColor SVGRegular15"><a class="PTEKColor" href="map/raffaele_borgini" xlink:href="map/raffaele_borgini">Raffaele Borgini</a></text>
				<text transform="matrix(1 0 0 1 1.5 50)" class="WColor SVGRegular15"><a class="PTEKColor" href="map/roberto_bertoni" xlink:href="map/roberto_bertoni">Roberto Bertoni</a></text>
			</g>
			<g id="DV3Legend">
				<text transform="matrix(1 0 0 1 177.5 10.5)" class="WColor SVGRegular12">50%</text>
				<text transform="matrix(1 0 0 1 239 10.5)" class="WColor SVGRegular12">100%</text>
				<text transform="matrix(1 0 0 1 302.5 10.5)" class="WColor SVGRegular12">200%</text>
				<text transform="matrix(1 0 0 1 365.5 10.5)" class="WColor SVGRegular12">400%</text>
				<text transform="matrix(1 0 0 1 429.5 10.5)" class="WColor SVGRegular12">600%</text>
				<text transform="matrix(1 0 0 1 494 10.5)" class="WColor SVGRegular12">800%</text>
				<text transform="matrix(1 0 0 1 556 10.5)" class="WColor SVGRegular12">1000%</text>
				<text transform="matrix(1 0 0 1 619.5 10.5)" class="WColor SVGRegular12">1250%</text>
				<text transform="matrix(1 0 0 1 683.5 10.5)" class="WColor SVGRegular12">1500%</text>
				<text transform="matrix(1 0 0 1 747.5 10.5)" class="WColor SVGRegular12">1750%</text>
				<text transform="matrix(1 0 0 1 810.5 10.5)" class="WColor SVGRegular12">2000%</text>
				<text transform="matrix(1 0 0 1 874.5 10.5)" class="WColor SVGRegular12">3000%</text>
			</g>
		</svg>	
	</div>
</div>
<bottom-menu></bottom-menu>