<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 MarginBottom1pct">
		<p class="TxtLeft FloatLeft MarginZero Bold21">Numero di dipendenti delle aziende</p>
		<backto-map></backto-map>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular15">Il seguente istogramma mostra il numero di dipendenti delle aziende dei singoli intervistati.</p>
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular12">La banda grigia indica il numero di dipendenti medio delle 15 aziende selezionate.</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90%" height="90%" viewBox="0 0 907 521" style="enable-background:new 0 0 907 521;" xml:space="preserve">
			<g id="DV2Average">
				<line class="GstatLine" x1="158" y1="48" x2="549" y2="48"/>
				<line class="GstatLine" x1="158" y1="80" x2="549" y2="80"/>
				<line class="GstatLine" x1="158" y1="108" x2="549" y2="108"/>
				<line class="GstatLine" x1="158" y1="138" x2="549" y2="138"/>
				<line class="GstatLine" x1="158" y1="168" x2="549" y2="168"/>
				<line class="GstatLine" x1="158" y1="227.5" x2="549" y2="227.5"/>
				<line class="GstatLine" x1="158" y1="257.5" x2="549" y2="257.5"/>
				<line class="GstatLine" x1="158" y1="287.5" x2="549" y2="287.5"/>
				<line class="GstatLine" x1="158" y1="317.5" x2="549" y2="317.5"/>
				<line class="GstatLine" x1="158" y1="347.5" x2="549" y2="347.5"/>
				<line class="GstatLine" x1="158" y1="407.5" x2="549" y2="407.5"/>
				<line class="GstatLine" x1="158" y1="377.5" x2="549" y2="377.5"/>
				<line class="GstatLine" x1="158" y1="437.5" x2="549" y2="437.5"/>
				<line class="GstatLine" x1="158" y1="467.5" x2="549" y2="467.5"/>
				<line class="GstatLine" x1="158" y1="198" x2="549" y2="198"/>
			</g>
			<g id="DV2Scheme">
				<line class="Grid" x1="158.5" y1="4" x2="158.5" y2="483"/>
				<line class="Grid" x1="190.5" y1="19" x2="190.5" y2="483"/>
				<line class="Grid" x1="254.5" y1="19" x2="254.5" y2="483"/>
				<line class="Grid" x1="286.5" y1="4" x2="286.5" y2="483"/>
				<line class="Grid" x1="222.5" y1="4" x2="222.5" y2="483"/>
				<line class="Grid" x1="318.5" y1="19" x2="318.5" y2="483"/>
				<line class="Grid" x1="350.5" y1="4" x2="350.5" y2="483"/>
				<line class="Grid" x1="382.5" y1="19" x2="382.5" y2="483"/>
				<line class="Grid" x1="414.5" y1="4" x2="414.5" y2="483"/>
				<line class="Grid" x1="446.5" y1="19" x2="446.5" y2="483"/>
				<line class="Grid" x1="478.5" y1="4" x2="478.5" y2="483"/>
				<line class="Grid" x1="510.5" y1="19" x2="510.5" y2="483"/>
				<line class="Grid" x1="542.5" y1="4" x2="542.5" y2="483"/>
				<line class="Grid" x1="574.5" y1="20" x2="574.5" y2="477"/>
				<line class="Grid" x1="606.5" y1="5" x2="606.5" y2="477"/>
				<line class="Grid" x1="670.5" y1="5" x2="670.5" y2="477"/>
				<line class="Grid" x1="734.5" y1="4" x2="734.5" y2="476"/>
				<line class="Grid" x1="798.5" y1="4" x2="798.5" y2="476"/>
				<line class="Grid" x1="862.5" y1="4" x2="862.5" y2="476"/>
				<line class="Grid" x1="638.5" y1="20" x2="638.5" y2="477"/>
				<line class="Grid" x1="702.5" y1="19" x2="702.5" y2="476"/>
				<line class="Grid" x1="766.5" y1="19" x2="766.5" y2="476"/>
				<line class="Grid" x1="830.5" y1="19" x2="830.5" y2="476"/>
				<line class="Grid" x1="894.5" y1="19" x2="894.5" y2="476"/>
			</g>
			<g id="DV2StatFood">
				<line class="FOODstatLine" x1="158" y1="437.5" x2="383" y2="437.5"/>
				<line class="FOODstatLine" x1="158" y1="467.5" x2="166.8" y2="467.5"/>
			</g>
			<g id="DV2StatMatAv">
				<line class="MAVstatLine" x1="158" y1="317.5" x2="536" y2="317.5"/>
				<line class="MAVstatLine" x1="158" y1="347.5" x2="302" y2="347.5"/>
				<line class="MAVstatLine" x1="158" y1="377.5" x2="897.7" y2="377.5"/>
				<line class="MAVstatLine" x1="158" y1="407.5" x2="271" y2="407.5"/>
			</g>
			<g id="DV2StatIt">
				<line class="ITstatLine" x1="158" y1="227.5" x2="897" y2="227.5"/>
				<line class="ITstatLine" x1="158" y1="257.5" x2="537" y2="257.5"/>
				<line class="ITstatLine" x1="158" y1="287.5" x2="897" y2="287.5"/>
			</g>
			<g id="DV2StatPtech">
				<line class="PTEKstatLine" x1="158" y1="48" x2="336" y2="48"/>
				<line class="PTEKstatLine" x1="158" y1="108" x2="208" y2="108"/>
				<line class="PTEKstatLine" x1="158" y1="138" x2="302" y2="138"/>
				<line class="PTEKstatLine" x1="158" y1="168" x2="208" y2="168"/>
				<line class="PTEKstatLine" x1="158" y1="198" x2="167" y2="198"/>
				<line class="PTEKstatLine" x1="158" y1="80" x2="190" y2="80"/>
			</g>
			<g id="DV2LegendAverage">
				<g>
					<text transform="matrix(1 0 0 1 2.5 516.999)" class="Regular15 GColor">Il numero medio di dipendenti delle aziende intervistate è indicato con la linea grigia.</text>
				</g>
			</g>
			<g id="DV2Legend">
				<g>
					<text transform="matrix(1 0 0 1 186.5 11.5)" class="WColor Regular12">3</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 250 11.5)" class="WColor Regular12">6</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 314.5 11.5)" class="WColor Regular12">9</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 376.5 11.5)" class="WColor Regular12">12</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 440.5 11.5)" class="WColor Regular12">15</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 503 11.5)" class="WColor Regular12">20</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 567 11.5)" class="WColor Regular12">25</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 630.5 11.5)" class="WColor Regular12">30</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 695.5 11.5)" class="WColor Regular12">35</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 758.5 11.5)" class="WColor Regular12">40</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 823.5 11.5)" class="WColor Regular12">50</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 886.5 11.5)" class="WColor Regular12">60</text>
				</g>
			</g>
			<g id="DV2Names">
				<g>
					<text transform="matrix(1 0 0 1 1.5 471)" class="WColor Regular15"><a class="FOODColor" href="map/marco_tamba">Marco Tamba</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 441)" class="WColor Regular15"><a class="FOODColor" href="map/fabrizio_mantovani">Fabrizio Mantovani</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 411)" class="WColor Regular15"><a class="MAVColor" href="map/anna_tampieri">Anna Tampieri</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 381)" class="WColor Regular15"><a class="MAVColor" href="map/barbara_savorani">Barbara Savorani</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 351)" class="WColor Regular15"><a class="MAVColor" href="map/giulia_ruta">Giulia Ruta</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 321)" class="WColor Regular15"><a class="MAVColor" href="map/gabriele_bandini">Gabriele Bandini</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 291)" class="WColor Regular15"><a class="ITColor" href="map/stefano_zauli">Stefano Zauli</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 261)" class="WColor Regular15"><a class="ITColor" href="map/ivano_valmori">Ivano Valmori</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 231)" class="WColor Regular15"><a class="ITColor" href="map/maurizio_fionda">Maurizio Fionda</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 201)" class="WColor Regular15"><a class="PTEKColor" href="map/andrea_salvatori">Andrea Salvatori</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 171)" class="WColor Regular15"><a class="PTEKColor" href="map/paolo_rava">Paolo Rava</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 141)" class="WColor Regular15"><a class="PTEKColor" href="map/marco_peroni">Marco Peroni</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 111)" class="WColor Regular15"><a class="PTEKColor" href="map/andrea_martelli">Andrea Martelli</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 81)" class="WColor Regular15"><a class="PTEKColor" href="map/raffaele_borgini">Raffaele Borgini</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 1.5 51)" class="WColor Regular15"><a class="PTEKColor" href="map/roberto_bertoni">Roberto Bertoni</a></text>
				</g>
			</g>
		</svg>
	</div>
</div>
<bottom-menu></bottom-menu>