<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 MarginBottom2pct">
		<p class="TxtLeft FloatLeft MarginZero Bold21">Motivazioni che hanno spinto la nascita delle aziende</p>
		<backto-map></backto-map>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular15">I grafici a torta mostrano le motivazioni che hanno spinto i singoli intervistati a fondare la loro azienda.</p>
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular12">Con il cursore passa sopra ai singoli grafici a torta per vedere le percentuali di ogni categoria.</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="75%" height="75%" viewBox="0 0 722 504" style="enable-background:new 0 0 722 504;" xml:space="preserve">
			<g id="DV6StatFOOD">
				<line class="FOODStroke Stroke10px" x1="400.7" y1="1138.9" x2="525.7" y2="1138.9"/>
			</g>
			<g id="DV6StatMAV">
				<line class="MAVStroke Stroke10px" x1="400.7" y1="1090.9" x2="650" y2="1090.9"/>
			</g>
			<g id="DV6StatIT">
				<line class="ITStroke Stroke10px" x1="401" y1="1011" x2="464" y2="1011"/>
				<line class="ITStroke Stroke10px" x1="400.7" y1="978.9" x2="464" y2="978.9"/>
				<line class="ITStroke Stroke10px" x1="401" y1="1042.5" x2="464" y2="1042.5"/>
			</g>
			<g id="DV6StatPTEK">
				<line class="PTEKStroke Stroke10px" x1="401" y1="897" x2="464" y2="897"/>
				<line class="PTEKStroke Stroke10px" x1="400.7" y1="863.9" x2="525.7" y2="863.9"/>
				<line class="PTEKStroke Stroke10px" x1="401" y1="930" x2="587" y2="930"/>
			</g>
			<g id="DV6Names">
				<text transform="matrix(1 0 0 1 219.8594 56.0762)">
					<tspan x="0" y="0" class="WColor Regular15"><a class="PTEKColor" href="map/marco_peroni">Marco Peroni</a>,</tspan>
					<tspan x="0" y="18" class="WColor Regular15"><a class="PTEKColor" href="map/raffaele_borgini">Raffaele Borgini</a></tspan>
				</text>
				<text transform="matrix(1 0 0 1 492.834 466.5703)">
					<tspan x="0" y="0" class="WColor Regular15"><a class="PTEKColor" href="map/paolo_rava">Paolo Rava</a>, <a class="PTEKColor" href="map/andrea_martelli">Andrea Martelli</a>,</tspan>
					<tspan x="0" y="18" class="WColor Regular15"><a class="PTEKColor" href="map/andrea_salvatori">Andrea Salvatori</a></tspan>
				</text>
				<text transform="matrix(1 0 0 1 682.168 983.373)" class="WColor Regular15"><a class="ITColor" href="map/maurizio_fionda">Maurizio Fionda</a></text>
				<text transform="matrix(1 0 0 1 215.835 200.041)" class="WColor Regular15"><a class="PTEKColor" href="map/roberto_bertoni">Roberto Bertoni</a></text>
				<text transform="matrix(1 0 0 1 497.1924 38.0762)">
					<tspan x="0" y="0" class="WColor Regular15"><a class="MAVColor" href="map/barbara_savorani">Barbara Savorani</a>,</tspan>
					<tspan x="0" y="18" class="WColor Regular15"><a class="MAVColor" href="map/giulia_ruta">Giulia Ruta</a>,</tspan>
					<tspan x="0" y="36" class="WColor Regular15"><a class="MAVColor" href="map/anna_tampieri">Anna Tampieri</a>,</tspan>
					<tspan x="0" y="54" class="WColor Regular15"><a class="MAVColor" href="map/gabriele_bandini">Gabriele Bandini</a></tspan>
				</text>
				<text transform="matrix(1 0 0 1 215.8345 432.8203)">
					<tspan x="0" y="0" class="WColor Regular15"><a class="FOODColor" href="map/marco_tamba">Marco Tamba</a>,</tspan>
					<tspan x="0" y="18" class="WColor Regular15"><a class="FOODColor" href="map/fabrizio_mantovani">Fabrizio Mantovani</a></tspan>
				</text>
				<text transform="matrix(1 0 0 1 492.168 200.041)" class="WColor Regular15"><a class="ITColor" href="map/maurizio_fionda">Maurizio Fionda</a></text>
				<text transform="matrix(1 0 0 1 492.8345 433.5703)" class="WColor Regular15"><a class="ITColor" href="map/ivano_valmori">Ivano Valmori</a></text>
				<text transform="matrix(1 0 0 1 216.543 326.041)" class="WColor Regular15"><a class="ITColor" href="map/stefano_zauli">Stefano Zauli</a></text>
			</g>
			<g id="DV6Data1PTEK">
				<text transform="matrix(1 0 0 1 394.1152 70.7715)">
					<tspan x="0" y="0" class="Bold21 PTEKColor">33</tspan>
					<tspan x="24.9" y="0" class="Bold18 PTEKColor">%</tspan>
				</text>
			</g>
			<g id="DV6Data1MAV">
				<text transform="matrix(1 0 0 1 394.1152 70.7715)">
					<tspan x="0" y="0" class="Bold21 MAVColor">67</tspan>
					<tspan x="25.8" y="0" class="Bold18 MAVColor">%</tspan>
				</text>
			</g>
			<g id="DV6Data2PTEK">
				<text transform="matrix(1 0 0 1 395.1152 197.4375)">
					<tspan x="0" y="0" class="Bold21 PTEKColor">50</tspan>
					<tspan x="25.8" y="0" class="Bold18 PTEKColor">%</tspan>
				</text>
			</g>
			<g id="DV6Data2IT">
				<text transform="matrix(1 0 0 1 395.1152 197.4375)">
					<tspan x="0" y="0" class="Bold21 ITColor">50</tspan>
					<tspan x="25.8" y="0" class="Bold18 ITColor">%</tspan>
				</text>
			</g>
			<g id="DV6Data3IT">
				<text transform="matrix(1 0 0 1 391.4492 323.1055)">
					<tspan x="0" y="0" class="Bold21 ITColor">100</tspan>
					<tspan x="36.3" y="0" class="Bold18 ITColor">%</tspan>
				</text>
			</g>
			<g id="DV6Data4PTEK">
				<text transform="matrix(1 0 0 1 395.1152 449.4375)">
					<tspan x="0" y="0" class="Bold21 PTEKColor">50</tspan>
					<tspan x="25.8" y="0" class="Bold18 PTEKColor">%</tspan>
				</text>
			</g>
			<g id="DV6Data4FOOD">
				<text transform="matrix(1 0 0 1 395.1152 449.4375)">
					<tspan x="0" y="0" class="Bold21 FOODColor">33</tspan>
					<tspan x="24.9" y="0" class="Bold18 FOODColor">%</tspan>
				</text>
			</g>
			<g id="DV6Data4IT">
				<text transform="matrix(1 0 0 1 397.1152 449.4375)">
					<tspan x="0" y="0" class="Bold21 ITColor">17</tspan>
					<tspan x="22.1" y="0" class="Bold18 ITColor">%</tspan>
				</text>
			</g>
			<g id="DV6Circ1PTEK">
				<path class="PTEKStroke PTEKCircles Stroke15px" d="M388.5,91.5c-14.6-14.6-14.6-38.4,0-53c14.6-14.6,38.4-14.6,53,0c14.6,14.6,14.6,38.4,0,53 C426.9,106.2,403.1,106.2,388.5,91.5z"/>
			</g>
			<g id="DV6Circ1MAV">
				<path class="MAVStroke MAVCircles Stroke15px" d="M388.5,38.5c14.6-14.6,38.4-14.6,53,0c14.6,14.6,14.6,38.4,0,53c-9.9,9.9-23.9,13.1-36.5,9.6"/>
			</g>
			<g id="DV6Circ2PTEK">
				<path class="PTEKStroke PTEKCircles Stroke15px" d="M390.5,217.5c-14.6-14.6-14.6-38.4,0-53c14.6-14.6,38.4-14.6,53,0c14.6,14.6,14.6,38.4,0,53 C428.9,232.2,405.1,232.2,390.5,217.5z"/>
			</g>
			<g id="DV6Circ2IT">
				<path class="ITStroke ITCircles Stroke15px" d="M417,153.5c20.7,0,37.5,16.8,37.5,37.5s-16.8,37.5-37.5,37.5"/>
			</g>
			<g id="DV6Circ3IT">
				<path class="ITStroke ITCircles Stroke15px" d="M390.5,343.5c-14.6-14.6-14.6-38.4,0-53c14.6-14.6,38.4-14.6,53,0s14.6,38.4,0,53 C428.9,358.2,405.1,358.2,390.5,343.5z"/>
			</g>
			<g id="DV6Circ4PTEK">
				<path class="PTEKStroke PTEKCircles Stroke15px" d="M389.5,469.5c-14.6-14.6-14.6-38.4,0-53c14.6-14.6,38.4-14.6,53,0c14.6,14.7,14.6,38.4,0,53 C427.9,484.2,404.1,484.2,389.5,469.5z"/>
			</g>
			<g id="DV6Circ4FOOD">
				<path class="FOODStroke FOODCircles Stroke15px" d="M389.5,416.5c14.6-14.6,38.4-14.6,53,0c14.6,14.7,14.6,38.4,0,53"/>
			</g>
			<g id="DV6Circ4IT">
				<path class="ITStroke ITCircles Stroke15px" d="M451.9,432.1c3.9,12.8,0.8,27.3-9.4,37.5"/>
			</g>
			<g id="DV6Letter">
				<text transform="matrix(1 0 0 1 2.7822 37.896)" class="Regular32 WColor Letters">A</text>
				<text transform="matrix(1 0 0 1 1.2822 163.7715)" class="Regular32 WColor Letters">B</text>
				<text transform="matrix(1 0 0 1 2.0322 289.5215)" class="Regular32 WColor Letters">C</text>
				<text transform="matrix(1 0 0 1 1.2822 414.7715)" class="Regular32 WColor Letters">D</text>
			</g>
			<g id="DV6Answers">
				<text transform="matrix(1 0 0 1 2.4492 73.9375)">
					<tspan x="0" y="0" class="Regular15 WColor">L’azienda è frutto</tspan>
					<tspan x="0" y="18" class="Regular15 WColor">di una serie di occasioni</tspan>
					<tspan x="0" y="36" class="Regular15 WColor">che andavano colte.</tspan>
				</text>
				<text transform="matrix(1 0 0 1 1.9082 199.9453)">
					<tspan x="0" y="0" class="Regular15 WColor">L’azienda è frutto</tspan>
					<tspan x="0" y="18" class="Regular15 WColor">di un’ idea personale.</tspan>
				</text>
				<text transform="matrix(1 2.280000e-03 -2.280000e-03 1 2.353 325.6777)">
					<tspan x="0" y="0" class="Regular15 WColor">L’azienda è frutto</tspan>
					<tspan x="0" y="18" class="Regular15 WColor">di una particolare</tspan>
					<tspan x="0" y="36" class="Regular15 WColor">competenza specifica.</tspan>
				</text>
				<text transform="matrix(1 0 0 1 1.8242 450.9375)">
					<tspan x="0" y="0" class="Regular15 WColor">L’azienda è frutto di</tspan>
					<tspan x="0" y="18" class="Regular15 WColor">una passione da seguire.</tspan>
				</text>
			</g>
			<g id="DV6Lines">
				<line class="WStroke WLines Stroke2px" x1="432" y1="100.5" x2="629" y2="100.5"/>
				<line class="WStroke WLines Stroke2px" x1="449" y1="208.5" x2="613" y2="208.5"/>
				<line class="WStroke WLines Stroke2px" x1="381" y1="83.5" x2="218" y2="83.5"/>
				<line class="WStroke WLines Stroke2px" x1="383" y1="209.5" x2="217" y2="209.5"/>
				<polyline class="WStroke WLines Stroke2px" points="216,460.5 362.5,460.5 362.5,406.5 419,406.5"/>
				<line class="WStroke WLines Stroke2px" x1="384" y1="334.5" x2="217" y2="334.5"/>
				<polyline class="WStroke WLines Stroke2px" points="701,495.5 382.5,495.5 382.5,459"/>
				<line class="WStroke WLines Stroke2px" x1="454" y1="442.5" x2="594" y2="442.5"/>
			</g>
			<g id="DV6Lines2">
				<line class="WStroke Grid Stroke1px" x1="3" y1="2.5" x2="721" y2="2.5"/>
				<line class="WStroke Grid Stroke1px" x1="2" y1="127.5" x2="720" y2="127.5"/>
				<line class="WStroke Grid Stroke1px" x1="3" y1="254.5" x2="720" y2="254.5"/>
				<line class="WStroke Grid Stroke1px" x1="3" y1="379.5" x2="720" y2="379.5"/>
			</g>
		</svg>
	</div>
</div>
<bottom-menu></bottom-menu>