<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 MarginBottom1pct">
		<p class="TxtLeft FloatLeft MarginZero Bold21">Motivazioni che hanno spinto la nascita delle aziende</p>
		<backto-map></backto-map>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular15">Il seguente grafico a settori circolari mostra le motivazioni che hanno spinto i singoli intervistati a fondare la loro azienda.</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90%" height="90%" viewBox="0 0 1016 461" style="enable-background:new 0 0 1016 461;" xml:space="preserve">
 			<g id="DV4Scheme">
				<line class="Grid" x1="498.5" y1="69" x2="498.5" y2="422"/>
				<line class="Grid" x1="560.5" y1="84" x2="560.5" y2="422"/>
				<line class="Grid" x1="622.5" y1="84" x2="622.5" y2="422"/>
				<line class="Grid" x1="684.5" y1="84" x2="684.5" y2="422"/>
				<line class="Grid" x1="746.5" y1="84" x2="746.5" y2="422"/>
			</g>
			<g id="DV4Scheme2">
				<line class="Grid2" x1="498" y1="109" x2="747" y2="109"/>
				<line class="Grid2" x1="498" y1="142" x2="747" y2="142"/>
				<line class="Grid2" x1="498" y1="224" x2="747" y2="224"/>
				<line class="Grid2" x1="498" y1="256" x2="747" y2="256"/>
				<line class="Grid2" x1="498" y1="288" x2="747" y2="288"/>
				<line class="Grid2" x1="498" y1="384" x2="747" y2="384"/>
				<line class="Grid2" x1="498" y1="175" x2="747" y2="175"/>
			</g>
			<g id="DV4StatFOOD">
				<line class="FOODstatLine" x1="497.7" y1="382.9" x2="622.7" y2="382.9"/>
			</g>
			<g id="DV4StatMAV">
				<line class="MAVstatLine" x1="497.7" y1="334.9" x2="747" y2="334.9"/>
			</g>
			<g id="DV4StatIT">
				<line class="ITstatLineAux" x1="498" y1="255" x2="561" y2="255"/>
				<line class="ITstatLine" x1="497.7" y1="222.9" x2="561" y2="222.9"/>
				<line class="ITstatLine" x1="498" y1="286.5" x2="561" y2="286.5"/>
			</g>
			<g id="DV4StatPTEK">
				<line class="PTEKstatLineAux" x1="498" y1="141" x2="561" y2="141"/>
				<line class="PTEKstatLine" x1="497.7" y1="107.9" x2="622.7" y2="107.9"/>
				<line class="PTEKstatLine" x1="498" y1="174" x2="684" y2="174"/>
			</g>
			<g id="DV4LegendLeft">
				<g>
					<text transform="matrix(1 0 0 1 473.168 112.373)" class="PTEKColor Bold15">A</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 473.168 145.373)" class="PTEKColorAux Bold15">B</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 473.168 179.373)" class="PTEKColor Bold15">D</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 473.168 228.373)" class="ITColor Bold15">B</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 473.168 260.373)" class="ITColorAux Bold15">C</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 473.168 291.373)" class="ITColor Bold15">D</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 473.168 339.373)" class="MAVColor Bold15">A</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 473.168 387.373)" class="FOODColor Bold15">D</text>
				</g>
			</g>
			<g id="DV4Legend">
				<g>
					<text transform="matrix(1 0 0 1 557.1318 78.3359)" class="WColor Regular15">1</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 619.0732 78.3359)" class="WColor Regular15">2</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 680.6113 78.3359)" class="WColor Regular15">3</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 741.958 78.3359)" class="WColor Regular15">4</text>
				</g>
			</g>
			<g id="DV4Names">
				<text transform="matrix(1 0 0 1 779.168 145.873)" class="WColor Regular15"><a class="PTEKColorAux" href="map/roberto_bertoni">Roberto Bertoni</a></text>
				<g>
					<text transform="matrix(1 0 0 1 779.168 113.373)" class="WColor Regular15"><a class="PTEKColor" href="map/marco_peroni">Marco Peroni</a>, <a class="PTEKColor" href="map/raffaele_borgini">Raffaele Borgini</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 779.168 178.873)"><tspan x="0" y="0" class="WColor Regular15"><a class="PTEKColor" href="map/paolo_rava">Paolo Rava</a>, <a class="PTEKColor" href="map/andrea_salvatori">Andrea Salvatori</a>,</tspan><tspan x="0" y="18" class="WColor Regular15"><a class="PTEKColor" href="map/andrea_martelli">Andrea Martelli</a></tspan></text>
				</g>
				<text transform="matrix(1 0 0 1 779.168 259.873)" class="WColor Regular15"><a class="ITColorAux" href="map/stefano_zauli">Stefano Zauli</a></text>
				<g>
					<text transform="matrix(1 0 0 1 779.168 227.373)" class="WColor Regular15"><a class="ITColor" href="map/maurizio_fionda">Maurizio Fionda</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 779.168 291.873)" class="WColor Regular15"><a class="ITColor" href="map/ivano_valmori">Ivano Valmori</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 779.168 339.373)"><tspan x="0" y="0" class="WColor Regular15"><a class="MAVColor" href="map/barbara_savorani">Barbara Savorani</a>, <a class="MAVColor" href="map/giulia_ruta">Giulia Ruta</a>, </tspan><tspan x="0" y="18" class="WColor Regular15"><a class="MAVColor" href="map/anna_tampieri">Anna Tampieri</a>, <a class="MAVColor" href="map/gabriele_bandini">Gabriele Bandini</a></tspan></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 779.168 387.373)"><tspan x="0" y="0" class="WColor Regular15"><a class="FOODColor" href="map/marco_tamba">Marco Tamba</a>,</tspan><tspan x="0" y="18" class="WColor Regular15"><a class="FOODColor" href="map/fabrizio_mantovani">Fabrizio Mantovani</a></tspan></text>
				</g>
			</g>
			<g id="DV4Data1PTEK">
				<g>
					<text transform="matrix(1 0 0 1 33.1152 110.7715)"><tspan x="0" y="0" class="PTEKColor Bold21">33</tspan><tspan x="24.9" y="0" class="PTEKColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Data1MAV">
				<g>
					<text transform="matrix(1 0 0 1 33.1152 110.7715)"><tspan x="0" y="0" class="MAVColor Bold21">67</tspan><tspan x="25.8" y="0" class="MAVColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Data2PTEK">
				<g>
					<text transform="matrix(1 0 0 1 32.1152 214.4375)"><tspan x="0" y="0" class="PTEKColor Bold21">50</tspan><tspan x="25.8" y="0" class="PTEKColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Data2IT">
				<g>
					<text transform="matrix(1 0 0 1 32.1152 214.4375)"><tspan x="0" y="0" class="ITColor Bold21">50</tspan><tspan x="25.8" y="0" class="ITColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Data3IT">
				<g>
					<text transform="matrix(1 0 0 1 26.1152 318.4375)"><tspan x="0" y="0" class="ITColor Bold21">100</tspan><tspan x="36.3" y="0" class="ITColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Data4PTEK">
				<g>
					<text transform="matrix(1 0 0 1 33.1152 420)"><tspan x="0" y="0" class="PTEKColor Bold21">50</tspan><tspan x="25.8" y="0" class="PTEKColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Data4FOOD">
				<g>
					<text transform="matrix(1 0 0 1 33.1152 420)"><tspan x="0" y="0" class="FOODColor Bold21">33</tspan><tspan x="24.9" y="0" class="FOODColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Data4IT">
				<g>
					<text transform="matrix(1 0 0 1 33.1152 420)"><tspan x="0" y="0" class="ITColor Bold21">17</tspan><tspan x="22.1" y="0" class="ITColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV4Circ1PTEK">
				<circle class="PTEKCircle" cx="50" cy="104" r="39.5"/>
			</g>
			<g id="DV4Circ1MAV">
				<path class="MAVCircle" d="M22.1,76.1c15.4-15.4,40.4-15.4,55.9,0c15.4,15.4,15.4,40.4,0,55.9c-10.4,10.4-25.2,13.8-38.4,10.2"/>
			</g>
			<g id="DV4Circ2PTEK">
				<circle class="PTEKCircle" cx="50" cy="208" r="39.5"/>
			</g>
			<g id="DV4Circ2IT">
				<path class="ITCircle" d="M50,168.5c21.8,0,39.5,17.7,39.5,39.5S71.8,247.5,50,247.5"/>
			</g>
			<g id="DV4Circ3IT">
				<circle class="ITCircle" cx="50" cy="311" r="39.5"/>
			</g>
			<g id="DV4Circ4PTEK">
				<circle class="PTEKCircle" cx="50" cy="414" r="39.5"/>
			</g>
			<g id="DV4Circ4FOOD">
				<path class="FOODCircle" d="M50,453.5c-21.8,0-39.5-17.7-39.5-39.5s17.7-39.5,39.5-39.5"/>
			</g>
			<g id="DV4Circ4IT">
				<path class="ITCircle" d="M15.1,395.4c6.6-12.5,19.8-20.9,34.9-20.9"/>
			</g>
			<g id="DV4LetterA">
				<g>
					<text transform="matrix(1 0 0 1 43.6152 110.7715)" class="WColor Bold21">A</text>
				</g>
			</g>
			<g id="DV4LetterB">
				<g>
					<text transform="matrix(1 0 0 1 42.6152 214.4375)" class="WColor Bold21">B</text>
				</g>
			</g>
			<g id="DV4LetterC">
				<g>
					<text transform="matrix(1 0 0 1 44.1152 318.4375)" class="WColor Bold21">C</text>
				</g>
			</g>
			<g id="DV4LetterD">
				<g>
					<text transform="matrix(1 0 0 1 43.6152 420.4375)" class="WColor Bold21">D</text>
				</g>
			</g>
			<g id="DV4Answers">
				<g>
					<text transform="matrix(1 0 0 1 126.2812 78.4375)"><tspan x="0" y="0" class="WColor Regular18">L’azienda è frutto</tspan><tspan x="0" y="21.6" class="WColor Regular18">di una serie di occasioni</tspan><tspan x="0" y="43.2" class="WColor Regular18">che andavano colte</tspan></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 126.2812 181.4375)"><tspan x="0" y="0" class="WColor Regular18">L’azienda è frutto</tspan><tspan x="0" y="21.6" class="WColor Regular18">di un’ idea personale</tspan></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 126.2812 285.4375)"><tspan x="0" y="0" class="WColor Regular18">L’azienda è frutto</tspan><tspan x="0" y="21.6" class="WColor Regular18">di una particolare</tspan><tspan x="0" y="43.2" class="WColor Regular18">competenza specifica</tspan></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 126.2812 388.4375)"><tspan x="0" y="0" class="WColor Regular18">L’azienda è frutto</tspan><tspan x="0" y="21.6" class="WColor Regular18">di una passione</tspan><tspan x="0" y="43.2" class="WColor Regular18">da seguire</tspan></text>
				</g>
			</g>
			<g id="DV4Subtitles">
				<g>
					<text transform="matrix(1 0 0 1 1.625 15)" class="WColor Regular18">Per domanda</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 474.625 15)" class="WColor Regular18">Per linea della metro</text>
				</g>
			</g>
		</svg>
	</div>
</div>
<bottom-menu></bottom-menu>