<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 fakepadding">
		<p class="TitoloProfilo Bold21">Lorem ipsum dolor sit amet, consectetur</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="968px" height="382px" viewBox="0 0 968 382" style="enable-background:new 0 0 968 382;" xml:space="preserve">
			<g id="DV5Scheme">
				<line class="Grid" x1="536.5" y1="69" x2="536.5" y2="380"/>
				<line class="Grid" x1="570.5" y1="84" x2="570.5" y2="380"/>
				<line class="Grid" x1="605.5" y1="84" x2="605.5" y2="380"/>
				<line class="Grid" x1="639.5" y1="84" x2="639.5" y2="380"/>
				<line class="Grid" x1="673.5" y1="84" x2="673.5" y2="380"/>
			</g>
			<g id="DV5Scheme2">
				<line class="Grid2" x1="536" y1="109" x2="673" y2="109"/>
				<line class="Grid2" x1="536" y1="141.5" x2="673" y2="141.5"/>
				<line class="Grid2" x1="536" y1="195" x2="673" y2="195"/>
				<line class="Grid2" x1="536" y1="227" x2="673" y2="227"/>
				<line class="Grid2" x1="536" y1="261" x2="673" y2="261"/>
				<line class="Grid2" x1="536" y1="293" x2="673" y2="293"/>
				<line class="Grid2" x1="536" y1="342" x2="673" y2="342"/>
			</g>
			<g id="DV5StatFood">
				<line class="FOODstatLine" x1="535.7" y1="340.9" x2="605.7" y2="340.9"/>
			</g>
			<g id="DV5StatMatAv">
				<line class="MAVstatLineAux" x1="535.7" y1="291.9" x2="640" y2="291.9"/>
				<line class="MAVstatLine" x1="535.7" y1="259.9" x2="571" y2="259.9"/>
			</g>
			<g id="DV5StatIt">
				<line class="ITstatLineAux" x1="536" y1="226" x2="606" y2="226"/>
				<line class="ITstatLine" x1="535.7" y1="193.9" x2="571" y2="193.9"/>
			</g>
			<g id="DV5StatPtech">
				<line class="PTEKstatLineAux" x1="536" y1="141" x2="674" y2="141"/>
				<line class="PTEKstatLine" x1="535.7" y1="107.9" x2="606" y2="107.9"/>
			</g>
			<g id="DV5LegendLeft">
				<g>
					<text transform="matrix(1 0 0 1 481.8345 112.373)" class="PTEKColor Bold15">Italia</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 471.4736 145.373)" class="PTEKColorAux Bold15">Estero</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 481.6738 198.373)" class="ITColor Bold15">Italia</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 471.4736 230.373)" class="ITColorAux Bold15">Estero</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 481.6738 265.373)" class="MAVColor Bold15">Italia</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 481.6738 345.373)" class="FOODColor Bold15">Italia</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 471.4736 296.373)" class="MAVColorAux Bold15">Estero</text>
				</g>
			</g>
			<g id="DV5Legend">
				<g>
					<text transform="matrix(1 0 0 1 567.1318 78.3359)" class="WColor Regular15">1</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 602.0732 78.3359)" class="WColor Regular15">2</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 635.6113 78.3359)" class="WColor Regular15">3</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 668.958 78.3359)" class="WColor Regular15">4</text>
				</g>
			</g>
			<g id="DV5Names">
				<text transform="matrix(1 0 0 1 705.168 145.873)">
					<tspan x="0" y="0" class="WColor Regular15"><a class="PTEKColorAux" href="map/roberto_bertoni">Roberto Bertoni</a>, <a class="PTEKColorAux" href="map/raffaele_borgini">Raffaele Borgini</a></tspan>
					<tspan x="0" y="18" class="WColor Regular15"><a class="PTEKColorAux" href="map/andrea_martelli">Andrea Martelli</a>, <a class="PTEKColorAux" href="map/andrea_salvatori">Andrea Salvatori</a></tspan>
				</text>
				<g>
					<text transform="matrix(1 0 0 1 705.168 113.373)" class="WColor Regular15"><a class="PTEKColor" href="map/marco_peroni">Marco Peroni</a>, <a class="PTEKColor" href="map/paolo_rava">Paolo Rava</a></text>
				</g>
					<text transform="matrix(1 0 0 1 705.168 230.873)" class="WColor Regular15"><a class="ITColorAux" href="map/maurizio_fionda">Maurizio Fionda</a>, <a class="ITColorAux" href="map/stefano_zauli">Stefano Zauli</a></text>
				<g>
					<text transform="matrix(1 0 0 1 705.168 198.373)" class="WColor Regular15"><a class="ITColor" href="map/ivano_valmori">Ivano Valmori</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 705.168 296.373)">
						<tspan x="0" y="0" class="WColor Regular15"><a class="MAVColorAux" href="map/gabriele_bandini">Gabriele Bandini</a>, <a class="MAVColorAux" href="map/barbara_savorani">Barbara Savorani</a>,</tspan>
						<tspan x="0" y="18" class="WColor Regular15"><a class="MAVColorAux" href="map/anna_tampieri">Anna Tampieri</a></tspan>
					</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 705.168 265.373)" class="WColor Regular15"><a class="MAVColor" href="map/giulia_ruta">Giulia Ruta</a></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 705.168 345.373)">
						<tspan x="0" y="0" class="WColor Regular15"><a class="FOODColor" href="map/marco_tamba">Marco Tamba</a>,</tspan>
						<tspan x="0" y="18" class="WColor Regular15"><a class="FOODColor" href="map/fabrizio_mantovani">Fabrizio Mantovani</a></tspan>
					</text>
				</g>
			</g>
			<g id="DV5Data1PTEK">
				<g>
					<text transform="matrix(1 0 0 1 66.9485 191.4375)">
						<tspan x="0" y="0" class="PTEKColor Bold42">33</tspan>
						<tspan x="49.8" y="0" class="PTEKColor Bold32">%</tspan>
				    </text>
				</g>
			</g>
			<g id="DV5Data1FOOD">
				<g>
					<text transform="matrix(1 0 0 1 66.9485 191.4375)">
				        <tspan x="0" y="0" class="FOODColor Bold42">33</tspan>
				        <tspan x="49.8" y="0" class="FOODColor Bold32">%</tspan>
				    </text>
				</g>
			</g>
			<g id="DV5Data1IT">
				<g>
					<text transform="matrix(1 0 0 1 66.9485 191.4375)">
						<tspan x="0" y="0" class="ITColor Bold42">17</tspan>
						<tspan x="44.2" y="0" class="ITColor Bold32">%</tspan>
					</text>
				</g>
			</g>
			<g id="DV5Data1MAV">
				<g>
					<text transform="matrix(1 0 0 1 66.9485 191.4375)">
						<tspan x="0" y="0" class="MAVColor Bold42">17</tspan>
						<tspan x="44.2" y="0" class="MAVColor Bold32">%</tspan>
					</text>
				</g>
			</g>
			<g id="DV5Data2PTEK">
				<g>
					<text transform="matrix(1 0 0 1 292.6152 191.4375)">
						<tspan x="0" y="0" class="PTEKColor Bold42">45</tspan>
						<tspan x="51.6" y="0" class="PTEKColor Bold32">%</tspan>
					</text>
				</g>
			</g>
			<g id="DV5Data2MAV">
				<g>
					<text transform="matrix(1 0 0 1 292.6152 191.4375)">
						<tspan x="0" y="0" class="MAVColor Bold42">33</tspan>
						<tspan x="49.8" y="0" class="MAVColor Bold32">%</tspan>
					</text>
				</g>
			</g>
			<g id="DV5Data2IT">
				<g>
					<text transform="matrix(1 0 0 1 292.6152 191.4375)">
						<tspan x="0" y="0" class="ITColor Bold42">22</tspan>
						<tspan x="50.1" y="0" class="ITColor Bold32">%</tspan>
					</text>
				</g>
			</g>
			<g id="DV5Circ1MAV">
				<circle class="MAVCircle" cx="110.2" cy="180.1" r="99"/>
			</g>
			<g id="DV5Circ1IT">
				<path class="ITCircle" d="M110.2,81.1c54.7,0,99,44.3,99,99c0,54.7-44.3,99-99,99c-54.7,0-99-44.3-99-99c0-17.9,4.8-34.7,13.1-49.2"/>
			</g>
			<g id="DV5Circ1FOOD">
				<path class="FOODCircle" d="M110.2,81.1c54.7,0,99,44.3,99,99c0,54.7-44.3,99-99,99c-36.8,0-69-20.1-86-50"/>
			</g>
			<g id="DV5Circ1PTEK">
				<path class="PTEKCircle" d="M110.2,81.1c54.7,0,99,44.3,99,99c0,18.1-4.8,35-13.3,49.6"/>
			</g>
			<g id="DV5Circ2IT">
				<circle class="ITCircle" cx="335.2" cy="180.1" r="99"/>
			</g>
			<g id="DV5Circ2MAV">
				<path class="MAVCircle" d="M335.2,81.1c54.7,0,99,44.3,99,99c0,54.7-44.3,99-99,99c-54.7,0-99-44.3-99-99c0-5.8,0.5-11.5,1.5-17"/>
			</g>
			<g id="DV5Circ2PTEK">
				<path class="PTEKCircle" d="M335.2,81.1c54.7,0,99,44.3,99,99c0,43.4-27.9,80.2-66.7,93.6"/>
			</g>
			<g id="DV5Answers">
				<g>
					<text transform="matrix(1 0 0 1 36.803 329.0391)" class="WColor Bold18">Mercato italiano</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 267.4697 329.0391)" class="WColor Bold18">Mercato estero</text>
				</g>
			</g>
			<g id="DV5Subtitles">
				<g>
					<text transform="matrix(1 0 0 1 2.625 15)" class="WColor Regular18">Per domanda</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 475.625 15)" class="WColor Regular18">Per linea della metro</text>
				</g>
			</g>
			<g id="DV5Icons">
				<g id="italia">
					<polygon class="GlobalLocal" points="122.5,181.7 122.5,202.7 134.7,215.5 137.5,215.5 137.5,194.5 153.5,194.5 153.5,178.5 140,178.5 112.5,151.3 116.5,145 116.5,137.5 81.4,137.5 67.3,150.3 81.5,165.7 92.8,156.8 113.7,178.5 119,178.5"/>
					<polygon class="GlobalLocal" points="110.1,204.5 105.4,209.5 87.5,209.5 87.5,218.4 109.5,223.6 120.6,214.1 111.1,204.5"/>
					<polygon class="GlobalLocal" points="92.3,173.5 88.1,173.5 77.5,173.5 77.5,173.8 80.7,177.5 81.8,199.5 89.1,199.5 91.5,196.6 98.1,196.4 97.8,177.6 93.6,173.5"/>
				</g>
				<g id="estero">
					<circle class="GlobalLocal" cx="338.2" cy="166.5" r="35.2"/>
					<path class="GlobalLocal" d="M306.5,135.1c-8.1,8.1-13.2,19.4-13.2,31.8c0,24.8,20.1,45,45,45c12.4,0,23.7-5,31.8-13.2"/>
					<path class="GlobalLocal" d="M356,223.6c-5.2-2.8-11.2-4-17.5-4c-6.3,0-12.3,1.2-17.5,4"/>
					<line class="GlobalLocal" x1="338.5" y1="220" x2="338.5" y2="211"/>
					<polyline class="GlobalLocal" points="342.5,131 342.5,143 338.6,146.5 331.5,146.5 331.5,142.5 323.5,142.5 323.5,154 331.3,161.8 325.5,167.8 336.5,178.6 336.5,184 328.4,192.3 324.5,188.1 324.5,181 310.5,166.5 310.5,157.5 304,157.5"/>
					<polyline class="GlobalLocal" points="369,150.5 355,150.5 351.8,153.5 344.5,153.5 344.5,168 349.5,173 349.5,184 353.8,188.2 358.5,183.6 358.5,172 363.5,167.5 373,167.5"/>
				</g>
			</g>
		</svg>
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fakepadding">
		<a class="Backto" ng-href="{{ Link_Map.direct }}">
			<svg id="Backto" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="129.6px" height="33px" viewBox="0 0 129.6 33" style="enable-background:new 0 0 129.6 33;" xml:space="preserve">
				<g id="XBtnStroke">
					<rect x="1" y="0.5" class="stroke" width="128" height="32"/>
				</g>
				<g id="XBtnTesto">
					<text transform="matrix(1 0 0 1 18.5132 20.8779)" class="txt Regular15">Back to map</text>
				</g>
			</svg>
		</a>
	</div>
</div>
<bottom-menu></bottom-menu>