<top-menu></top-menu>
<div class="container-fluid">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 MarginBottom2pct">
		<p class="TxtLeft FloatLeft MarginZero Bold21">Fatturato annuo delle aziende</p>
		<backto-map></backto-map>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<p class="TxtLeft MarginZero MarginBottom5pct WColor Regular15">L'istogramma mostra il fatturato annuo delle aziende dei singoli intervistati.</p>
		<p class="TxtLeft MarginZero MarginBottom10pct GColor Regular12">La banda grigia indica il fatturato annuo medio delle 15 aziende selezionate.</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 910 485" style="enable-background:new 0 0 910 485;" xml:space="preserve">
			<g id="DV1Average">
				<line class="GStroke Stroke10px" x1="158" y1="48" x2="854" y2="48"/>
				<line class="GStroke Stroke10px" x1="158" y1="108" x2="856" y2="108"/>
				<line class="GStroke Stroke10px" x1="158" y1="138" x2="856" y2="138"/>
				<line class="GStroke Stroke10px" x1="158" y1="168" x2="856" y2="168"/>
				<line class="GStroke Stroke10px" x1="158" y1="227.5" x2="855.8" y2="227.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="257.5" x2="855.8" y2="257.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="287.5" x2="855.8" y2="287.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="317.5" x2="855.8" y2="317.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="347.5" x2="855.8" y2="347.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="377.5" x2="855.8" y2="377.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="437.5" x2="855.8" y2="437.5"/>
				<line class="GStroke Stroke10px" x1="158" y1="467.5" x2="855.8" y2="467.5"/>
			</g>
			<g id="DV1Scheme">
				<line class="WStroke Stroke1px" x1="158.5" y1="4" x2="158.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="190.5" y1="19" x2="190.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="254.5" y1="19" x2="254.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="286.5" y1="4" x2="286.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="222.5" y1="4" x2="222.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="318.5" y1="19" x2="318.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="350.5" y1="4" x2="350.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="382.5" y1="19" x2="382.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="414.5" y1="4" x2="414.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="446.5" y1="19" x2="446.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="478.5" y1="4" x2="478.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="510.5" y1="19" x2="510.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="542.5" y1="4" x2="542.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="574.5" y1="19" x2="574.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="606.5" y1="4" x2="606.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="670.5" y1="4" x2="670.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="734.5" y1="4" x2="734.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="798.5" y1="4" x2="798.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="862.5" y1="4" x2="862.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="638.5" y1="19" x2="638.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="702.5" y1="19" x2="702.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="766.5" y1="19" x2="766.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="830.5" y1="19" x2="830.5" y2="483"/>
				<line class="WStroke Stroke1px" x1="894.5" y1="19" x2="894.5" y2="483"/>
			</g>
			<g id="DV1BlackLineBorgini">
				<line class="BStroke Stroke15px" x1="161" y1="79.5" x2="420" y2="79.5"/>
				<line class="BStroke Stroke15px" x1="161" y1="198.5" x2="430" y2="198.5"/>
			</g>
			<g id="DV1BlackLineTampieri">
				<line class="BStroke Stroke15px" x1="161" y1="407.5" x2="420" y2="407.5"/>
			</g>
			<g id="DV1NoDataBorgini">
				<text transform="matrix(1 0 0 1 163.5 83)" class="PTEKColor Regular12">Startup non soggetta a fatturazione diretta</text>
				<text transform="matrix(1 0 0 1 163.5 202)" class="PTEKColor Regular12">Artigiano non soggetto a fatturazione diretta</text>
			</g>
			<g id="DV1NoDataTampieri">
				<text transform="matrix(1 0 0 1 163.5 410)" class="MAVColor Regular12">Startup non soggetta a fatturazione diretta</text>
			</g>
			<g id="DV1StatFood">
				<line class="FOODStroke Stroke10px" x1="158" y1="437.5" x2="268.3" y2="437.5"/>
				<line class="FOODStroke Stroke10px" x1="158" y1="467.5" x2="287.5" y2="467.5"/>
			</g>
			<g id="DV1StatMatAv">
				<line class="MAVStroke Stroke10px" x1="158" y1="317.5" x2="639" y2="317.5"/>
				<line class="MAVStroke Stroke10px" x1="158" y1="347.5" x2="382.5" y2="347.5"/>
				<line class="MAVStroke Stroke10px" x1="158" y1="377.5" x2="896.7" y2="377.5"/>
			</g>
			<g id="DV1StatIt">
				<line class="ITStroke Stroke10px" x1="158" y1="227.5" x2="898" y2="227.5"/>
				<line class="ITStroke Stroke10px" x1="158" y1="257.5" x2="639" y2="257.5"/>
				<line class="ITStroke Stroke10px" x1="158" y1="287.5" x2="898" y2="287.5"/>
			</g>
			<g id="DV1StatPtech">
				<line class="PTEKStroke Stroke10px" x1="158" y1="48" x2="575" y2="48"/>
				<line class="PTEKStroke Stroke10px" x1="158" y1="108" x2="430" y2="108"/>
				<line class="PTEKStroke Stroke10px" x1="158" y1="138" x2="318" y2="138"/>
				<line class="PTEKStroke Stroke10px" x1="158" y1="168" x2="187" y2="168"/>
			</g>
			<g id="DV1NameTamba">
				<text transform="matrix(1 0 0 1 1.5 471)" class="FOODColor Regular15">Marco Tamba</text>
			</g>
			<g id="DV1NameMantovani">
				<text transform="matrix(1 0 0 1 1.5 441)" class="FOODColor Regular15">Fabrizio Mantovani</text>
			</g>
			<g id="DV1NameTampieri">
				<text transform="matrix(1 0 0 1 1.5 411)" class="MAVColor Regular15">Anna Tampieri</text>
			</g>
			<g id="DV1NameSavorani">
				<text transform="matrix(1 0 0 1 1.5 381)" class="MAVColor Regular15">Barbara Savorani</text>
			</g>
			<g id="DV1NameRuta">
				<text transform="matrix(1 0 0 1 1.5 351)" class="MAVColor Regular15">Giulia Ruta</text>
			</g>
			<g id="DV1NameBandini">
				<text transform="matrix(1 0 0 1 1.5 321)" class="MAVColor Regular15">Gabriele Bandini</text>
			</g>
			<g id="DV1NameZauli">
				<text transform="matrix(1 0 0 1 1.5 291)" class="ITColor Regular15">Stefano Zauli</text>
			</g>
			<g id="DV1NameValmori">
				<text transform="matrix(1 0 0 1 1.5 261)" class="ITColor Regular15">Ivano Valmori</text>
			</g>
			<g id="DV1NameFionda">
				<text transform="matrix(1 0 0 1 1.5 231)" class="ITColor Regular15">Maurizio Fionda</text>
			</g>
			<g id="DV1NameSalvatori">
				<text transform="matrix(1 0 0 1 1.5 201)" class="PTEKColor Regular15">Andrea Salvatori</text>
			</g>
			<g id="DV1NameRava">
				<text transform="matrix(1 0 0 1 1.5 171)" class="PTEKColor Regular15">Paolo Rava</text>
			</g>
			<g id="DV1NamePeroni">
				<text transform="matrix(1 0 0 1 1.5 141)" class="PTEKColor Regular15">Marco Peroni</text>
			</g>
			<g id="DV1NameMartelli">
				<text transform="matrix(1 0 0 1 1.5 111)" class="PTEKColor Regular15">Andrea Martelli</text>
			</g>
			<g id="DV1NameBorgini">
				<text transform="matrix(1 0 0 1 1.5 81)" class="PTEKColor Regular15">Raffaele Borgini</text>
			</g>
			<g id="DV1NameBertoni">
				<text transform="matrix(1 0 0 1 1.5 51)" class="PTEKColor Regular15">Roberto Bertoni</text>
			</g>
			<g id="DV1Legend">
				<text transform="matrix(1 0 0 1 174.5 11.5)" class="WColor Regular12">100m</text>
				<text transform="matrix(1 0 0 1 238 11.5)" class="WColor Regular12">200m</text>
				<text transform="matrix(1 0 0 1 301.5 11.5)" class="WColor Regular12">400m</text>
				<text transform="matrix(1 0 0 1 365.5 11.5)" class="WColor Regular12">600m</text>
				<text transform="matrix(1 0 0 1 429.5 11.5)" class="WColor Regular12">800m</text>
				<text transform="matrix(1 0 0 1 503 11.5)" class="WColor Regular12">1M</text>
				<text transform="matrix(1 0 0 1 560 11.5)" class="WColor Regular12">1,5 M</text>
				<text transform="matrix(1 0 0 1 629.5 11.5)" class="WColor Regular12">2M</text>
				<text transform="matrix(1 0 0 1 689.5 11.5)" class="WColor Regular12">2,5M</text>
				<text transform="matrix(1 0 0 1 757.5 11.5)" class="WColor Regular12">3M</text>
				<text transform="matrix(1 0 0 1 816.5 11.5)" class="WColor Regular12">3,5M</text>
				<text transform="matrix(1 0 0 1 882.5 11.5)" class="WColor Regular12">&gt;5M</text>
			</g>
		</svg>
	</div>
</div>
<bottom-menu></bottom-menu>