<div class="container-fluid">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 fakepadding">
		<p class="TitoloProfilo Bold21">Lorem ipsum dolor sit amet, consectetur</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fakepadding">
		<a class="Backto" ng-href="{{ Link_Map.direct }}">
			<svg id="Backto" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110px" height="35px">
				<g id="XBtnStroke">
					<rect x="0.5" y="0.5" class="stroke" width="106" height="32"/>
				</g>
				<g id="XBtnTesto">
					<text transform="matrix(1 0 0 1 15 21)" class="txt Regular12">Back to map</text>
				</g>
			</svg>
		</a>
	</div>
</div>