<div class="container-fluid">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 fakepadding">
		<p class="TitoloProfilo Bold21">Lorem ipsum dolor sit amet, consectetur</p>
		<legenda-metro></legenda-metro>
	</div>
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="914px" height="465px" viewBox="0 0 914 465" style="enable-background:new 0 0 914 465;" xml:space="preserve">
			<g id="DV7Scheme">
				<line class="Grid" x1="368.5" y1="69" x2="368.5" y2="440"/>
				<line class="Grid" x1="492.5" y1="84" x2="492.5" y2="440"/>
				<line class="Grid" x1="616.5" y1="84" x2="616.5" y2="440"/>
			</g>
			<g id="DV7Scheme2">
				<line class="Grid2" x1="368" y1="109.5" x2="617" y2="109.5"/>
				<line class="Grid2" x1="368" y1="141.5" x2="617" y2="141.5"/>
				<line class="Grid2" x1="368" y1="173.5" x2="617" y2="173.5"/>
				<line class="Grid2" x1="368" y1="141.5" x2="617" y2="141.5"/>
				<line class="Grid2" x1="368" y1="205.5" x2="617" y2="205.5"/>
				<line class="Grid2" x1="368" y1="237.5" x2="617" y2="237.5"/>
				<line class="Grid2" x1="368" y1="333.5" x2="617" y2="333.5"/>
				<line class="Grid2" x1="368" y1="301.5" x2="617" y2="301.5"/>
				<line class="Grid2" x1="368" y1="365.5" x2="617" y2="365.5"/>
				<line class="Grid2" x1="368" y1="397.5" x2="617" y2="397.5"/>
				<line class="Grid2" x1="368" y1="172.5" x2="617" y2="172.5"/>
			</g>
			<g id="DV7StatFood">
				<line class="FOODstatLine" x1="367.7" y1="364.9" x2="492.7" y2="364.9"/>
				<line class="FOODstatLineAux" x1="367.7" y1="396.9" x2="492.7" y2="396.9"/>
			</g>
			<g id="DV7StatMatAv">
				<line class="MAVstatLineAux" x1="367.7" y1="300.9" x2="493" y2="300.9"/>
				<line class="MAVstatLine" x1="368" y1="268.5" x2="617" y2="268.5"/>
				<line class="MAVstatLine" x1="368" y1="332.5" x2="493" y2="332.5"/>
			</g>
			<g id="DV7StatIt">
				<line class="ITstatLineAux" x1="368" y1="237" x2="617" y2="237"/>
				<line class="ITstatLine" x1="367.7" y1="204.9" x2="493" y2="204.9"/>
			</g>
			<g id="DV7StatPtech">
				<line class="PTEKstatLineAux" x1="368" y1="141" x2="617" y2="141"/>
				<line class="PTEKstatLineAux" x1="368" y1="173" x2="617" y2="173"/>
				<line class="PTEKstatLine" x1="367.7" y1="108.9" x2="616.7" y2="108.9"/>
				<line class="PTEKstatLine" x1="367.7" y1="172.9" x2="616.7" y2="172.9"/>
			</g>
			<g id="DV7LegendLeft">
				<g>
					<text transform="matrix(1 0 0 1 324.168 177.957)" class="PTEKColor Bold15">B2B</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 324.168 146.373)" class="PTEKColorAux Bold15">B2C</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 324.7085 105.041)"><tspan x="0" y="0" class="PTEKColor Bold15">B2B</tspan><tspan x="-9" y="18" class="PTEKColor Bold15">+B2C</tspan></text>
				</g>
				<text transform="matrix(1 0 0 1 324.168 242.207)" class="ITColorAux Bold15">B2B</text>
				<text transform="matrix(1 0 0 1 324.7085 203.041)"><tspan x="0" y="0" class="ITColor Bold15">B2B</tspan><tspan x="-9" y="18" class="ITColor Bold15">+B2C</tspan></text>
				<g>
					<text transform="matrix(1 0 0 1 325.168 401.873)" class="FOODColorAux Bold15">B2B</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 324.7534 370.291)" class="FOODColor Bold15">B2C</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 324.168 338.207)" class="MAVColor Bold15">B2B</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 324.168 306.123)" class="MAVColorAux Bold15">B2C</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 324.7085 267.791)"><tspan x="0" y="0" class="MAVColor Bold15">B2B</tspan><tspan x="-9" y="18" class="MAVColor Bold15">+B2C</tspan></text>
				</g>
			</g>
			<g id="DV7Legend">
				<g>
					<text transform="matrix(1 0 0 1 489.0732 78.3359)" class="WColor Regular15">1</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 611.958 78.3359)" class="WColor Regular15">2</text>
				</g>
			</g>
			<g id="DV7Names">
				<text transform="matrix(1 0 0 1 649.168 146.373)" class="PTEKColorAux Regular15">Paolo Rava, Andrea Salvatori</text>
				<g>
					<text transform="matrix(1 0 0 1 649.168 113.707)" class="PTEKColor Regular15">Roberto Bertoni, Raffaele Borgini</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 649.168 178.0391)" class="PTEKColor Regular15">Marco Peroni, Andrea Martelli</text>
				</g>
				<text transform="matrix(1 0 0 1 649.168 242.373)" class="ITColorAux Regular15">Maurizio Fionda, Ivano Valmori</text>
				<g>
					<text transform="matrix(1 0 0 1 649.168 210.123)" class="ITColor Regular15">Stefano Zauli</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 649.168 274.123)" class="MAVColor Regular15">Gabriele Bandini, Barbara Savorani</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 649.168 338.373)" class="MAVColor Regular15">Anna Tampieri</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 649.168 306.123)" class="MAVColorAux Regular15">Giulia Ruta</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 649.168 370.291)" class="FOODColor Regular15">Fabrizio Mantovani</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 649.168 402.291)" class="FOODColorAux Regular15">Marco Tamba</text>
				</g>
			</g>
			<g id="DV7Data1PTEK">
				<g>
					<text transform="matrix(1 0 0 1 46.2383 124.4375)"><tspan x="0" y="0" class="PTEKColor Bold21">40</tspan><tspan x="27.1" y="0" class="PTEKColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data1IT">
				<text transform="matrix(1 0 0 1 46.7637 124.4375)"><tspan x="0" y="0" class="ITColor Bold21">20</tspan><tspan x="26" y="0" class="ITColor Bold15">%</tspan></text>
			</g>
			<g id="DV7Data1MAV">
				<g>
					<text transform="matrix(1 0 0 1 46.2383 124.4375)"><tspan x="0" y="0" class="MAVColor Bold21">40</tspan><tspan x="27.1" y="0" class="MAVColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data2PTEK">
				<g>
					<text transform="matrix(1 0 0 1 46.8999 263.1875)"><tspan x="0" y="0" class="PTEKColor Bold21">50</tspan><tspan x="25.8" y="0" class="PTEKColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data2MAV">
				<g>
					<text transform="matrix(1 0 0 1 47.4043 263.1875)"><tspan x="0" y="0" class="MAVColor Bold21">25</tspan><tspan x="24.8" y="0" class="MAVColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data2FOOD">
				<g>
					<text transform="matrix(1 0 0 1 47.4043 263.1875)"><tspan x="0" y="0" class="FOODColor Bold21">25</tspan><tspan x="24.8" y="0" class="FOODColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data3PTEK">
				<g>
					<text transform="matrix(1 0 0 1 47.3306 406.1875)"><tspan x="0" y="0" class="PTEKColor Bold21">33</tspan><tspan x="24.9" y="0" class="PTEKColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data3IT">
				<g>
					<text transform="matrix(1 0 0 1 47.3306 406.1875)"><tspan x="0" y="0" class="ITColor Bold21">33</tspan><tspan x="24.9" y="0" class="ITColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data3MAV">
				<g>
					<text transform="matrix(1 0 0 1 48.7271 406.1875)"><tspan x="0" y="0" class="MAVColor Bold21">17</tspan><tspan x="22.1" y="0" class="MAVColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Data3FOOD">
				<g>
					<text transform="matrix(1 0 0 1 48.7271 406.1875)"><tspan x="0" y="0" class="FOODColor Bold21">17</tspan><tspan x="22.1" y="0" class="FOODColor Bold15">%</tspan></text>
				</g>
			</g>
			<g id="DV7Circ1FOOD">
				<circle class="FOODCircle" cx="66.3" cy="400.3" r="56.2"/>
			</g>
			<g id="DV7Circ1MAV">
				<path class="MAVCircle" d="M66.3,344c31.1,0,56.2,25.2,56.2,56.2s-25.2,56.2-56.2,56.2c-31.1,0-56.2-25.2-56.2-56.2
					c0-9.5,2.4-18.5,6.6-26.4"/>
			</g>
			<g id="DV7Circ1IT">
				<path class="ITCircle" d="M66.3,344c31.1,0,56.2,25.2,56.2,56.2s-25.2,56.2-56.2,56.2c-20.4,0-38.3-10.9-48.2-27.2"/>
			</g>
			<g id="DV7Circ1PTEK">
				<path class="PTEKCircle" d="M66.3,344c31.1,0,56.2,25.2,56.2,56.2c0,10.9-3.1,21-8.4,29.7"/>
			</g>
			<g id="DV7Circ2FOOD">
				<circle class="FOODCircle" cx="66.3" cy="257.3" r="56.2"/>
			</g>
			<g id="DV7Circ2MAV">
				<path class="MAVCircle" d="M66.3,201c31.1,0,56.2,25.2,56.2,56.2s-25.2,56.2-56.2,56.2c-31.1,0-56.2-25.2-56.2-56.2"/>
			</g>
			<g id="DV7Circ2PTEK">
				<path class="PTEKCircle" d="M66.3,201c31.1,0,56.2,25.2,56.2,56.2s-25.2,56.2-56.2,56.2"/>
			</g>
			<g id="DV7Circ3IT">
				<circle class="ITCircle" cx="66.3" cy="118.3" r="56.2"/>
			</g>
			<g id="DV7Circ3MAV">
				<path class="MAVCircle" d="M66.3,62c31.1,0,56.2,25.2,56.2,56.2s-25.2,56.2-56.2,56.2c-31.1,0-56.2-25.2-56.2-56.2c0-6,0.9-11.7,2.6-17.1
					"/>
			</g>
			<g id="DV7Circ3PTEK">
				<path class="PTEKCircle" d="M66.3,62c31.1,0,56.2,25.2,56.2,56.2c0,18.9-9.3,35.6-23.6,45.8"/>
			</g>
			<g id="DV7Letter1">
				<g>
					<text transform="matrix(1 0 0 1 45.7769 106.4824)"><tspan x="0" y="0" class="WColor Bold21">B2B</tspan><tspan x="14.3" y="19.2" class="WColor Bold21">+</tspan><tspan x="0" y="38.4" class="WColor Bold21">B2C</tspan></text>
				</g>
			</g>
			<g id="DV7Letter2">
				<g>
					<text transform="matrix(1 0 0 1 46.2812 264.4375)" class="WColor Bold21">B2C</text>
				</g>
			</g>
			<g id="DV7Letter3">
				<g>
					<text transform="matrix(1 0 0 1 45.5312 406.7715)" class="WColor Bold21">B2B</text>
				</g>
			</g>
			<g id="DV7Answers">
				<g>
					<text transform="matrix(1 0 0 1 159.2812 359.4375)"><tspan x="0" y="0" class="WColor Bold18">B2B: </tspan><tspan x="45.9" y="0" class="WColor Regular18">Business</tspan><tspan x="0" y="21.6" class="WColor Regular18">to business</tspan></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 159.2812 218.7715)"><tspan x="0" y="0" class="WColor Bold18">B2C: </tspan><tspan x="45.9" y="0" class="WColor Regular18">Business</tspan><tspan x="0" y="21.6" class="WColor Regular18">to consumer</tspan></text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 159.2812 81.1055)"><tspan x="0" y="0" class="WColor Bold18">B2B + B2C:</tspan><tspan x="0" y="21.6" class="WColor Regular18">Business</tspan><tspan x="0" y="43.2" class="WColor Regular18">to business</tspan><tspan x="0" y="64.8" class="WColor Regular18">e business</tspan><tspan x="0" y="86.4" class="WColor Regular18">to consumer</tspan></text>
				</g>
			</g>
			<g id="DV7Subtitles">
				<g>
					<text transform="matrix(1 0 0 1 2.625 16)" class="WColor Regular18">Per domanda</text>
				</g>
				<g>
					<text transform="matrix(1 0 0 1 316.625 16)" class="WColor Regular18">Per linea della metro</text>
				</g>
			</g>
		</svg>
	</div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 fakepadding">
		<a class="Backto" ng-href="{{ Link_Map.direct }}">
			<svg id="Backto" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110px" height="35px">
				<g id="XBtnStroke">
					<rect x="0.5" y="0.5" class="stroke" width="106" height="32"/>
				</g>
				<g id="XBtnTesto">
					<text transform="matrix(1 0 0 1 15 21)" class="txt Regular12">Back to map</text>
				</g>
			</svg>
		</a>
	</div>
</div>