<top-menu></top-menu>
<div class="container-fluid MAVColor MAVStroke">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 FakePaddingRight MarginBottom3pct">
			<p class="TxtLeft FloatLeft MarginZero Bold32">Barbara Savorani</p>
			<backto-map></backto-map>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a href="map/barbara_savorani/intervista">
						<svg id="Poster" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 570 320" style="enable-background:new 0 0 570 320;" xml:space="preserve">
						    <image id="PrewImg" style="overflow:visible;" width="2560" height="1440" xlink:href="https://s17.postimg.org/lb3j4qp7j/prova_immagine_preview.jpg"  transform="matrix(0.2187 0 0 0.2187 5.5552 2.5)"></image>
						    <rect x="5" y="2" class="PrewBorder MAVStroke Stroke2px" width="560" height="315"/>
						    <path class="PrewPlay MAVColor" d="M270,184.3l1-23.6l-1-22.9l40.3,23.3L270,184.3z M275,146.4l1,14.4l-1,14.9l25.3-14.6L275,146.4z"/>
						    <circle class="PrewCircle MAVStroke Stroke2px" cx="285" cy="161" r="44.9"/>
						    <path class="PrewBorderTesto MAVColor" d="M358,187H212v-53h146V187z M214,185h142v-49H214V185z"/>
						    <text transform="matrix(1 0 0 1 220.6211 156.6826)">
						        <tspan x="0" y="0" class="PrewTesto MAVColor Regular15">Clicca per vedere</tspan>
						        <tspan x="24.7" y="18" class="PrewTesto MAVColor Regular15">l’intervista</tspan>
						    </text>
						</svg>
					</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p class="TxtLeft FloatLeft W100 MarginZero PaddingTop5pct Bold15">Gigacer</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="TxtLeft FloatLeft W100 MarginZero MarginTop5pct WColor Regular12">Gigacer produce piastrelle in gres porcellanato 120x120.</p>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<p class="TxtLeft FloatLeft W100 MarginZero MarginTop5pct WColor Regular12">Barbara Savorani ha frequentato l'università insieme a <a class="MAVColor" href="map/gabriele_bandini">Gabriele Bandini</a> di Blacks composites e un master insieme a <a class="MAVColor" href="map/giulia_ruta">Giulia Ruta</a> di Certimac.</p>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a class="DataLink" ng-href="{{ Link_Revenue }}">
							<div class="DataContainer">
								<p class="TxtLeft FloatLeft W100 MarginZero PaddingBottom5pct PaddingTop5pct Bold36">~<span class="count">25</span>M</p>
								<p class="TxtLeft FloatLeft W100 MarginZero MarginBottom25pct Regular15">Fatturato annuo (€)</p>
							</div>
						</a>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a class="DataLink" ng-href="{{ Link_Employees }}">
							<div class="DataContainer">
								<p class="TxtLeft FloatLeft W100 MarginZero PaddingBottom5pct PaddingTop5pct Bold36"><span class="count">65</span></p>
								<p class="TxtLeft FloatLeft W100 MarginZero MarginBottom25pct Regular15">Numero di dipendenti</p>
							</div>
						</a>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a class="DataLink" ng-href="{{ Link_Foundation }}">
							<div class="DataContainer">
								<p class="TxtLeft FloatLeft W100 MarginZero PaddingBottom5pct PaddingTop5pct Bold36"><span class="count">2007</span></p>
								<p class="TxtLeft FloatLeft W100 MarginZero MarginBottom25pct Regular15">Anno di fondazione</p>
							</div>
						</a>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a class="DataLink" ng-href="{{ Link_Motivation }}">
							<div class="DataContainer">
								<p class="TxtLeft FloatLeft W100 MarginZero PaddingBottom5pct PaddingTop5pct Bold36">A</p>
								<p class="TxtLeft FloatLeft W100 MarginZero MarginBottom25pct Regular15">Perchè è nata l'azienda</p>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="DataContainer ServiceMAV">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct MarginBottom10pct">
								<svg version="1.1" class="TxtLeft FloatLeft" id="MAV100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
									<g id="MAV100px_1_">	
											<rect x="49.6" y="15.1" transform="matrix(0.7071 0.7071 -0.7071 0.7071 37.5906 -33.4972)" class="Stroke5pxInherit" width="19.3" height="27.1"/>
										<rect x="36.5" y="74.5" class="Stroke5pxInherit" width="18" height="13"/>
										<path class="Stroke5pxInherit" d="M48.9,74.4c19.5,0,35.2-16,35.2-35.4l-9.5-9.6"/>
										<line class="Stroke5pxInherit" x1="36.4" y1="73.5" x2="7.7" y2="44.8"/>
										<path class="Stroke5pxInherit" d="M55.5,80.9c19.5,0,35.2-16,35.2-35.4l-9.5-9.6"/>
										<rect x="70" y="8.6" transform="matrix(0.7072 0.707 -0.707 0.7072 31.5656 -47.6078)" class="Stroke5pxInherit" width="6.4" height="11.4"/>	
											<rect x="39.3" y="37.3" transform="matrix(0.7071 0.7071 -0.7071 0.7071 42.9295 -20.8495)" class="Stroke5pxInherit" width="14.7" height="8.3"/>
										<line class="Stroke2pxInherit" x1="12" y1="41.3" x2="39.6" y2="68.9"/>
										<circle class="Stroke2pxInherit" cx="45" cy="80.7" r="2.2"/>
										<path class="Stroke5pxInherit" d="M91.5,91.3c0,1.8-1.4,3.2-3.2,3.2H11.7c-1.8,0-3.2-1.4-3.2-3.2v-0.6c0-1.8,1.4-3.2,3.2-3.2h76.6
											c1.8,0,3.2,1.4,3.2,3.2V91.3z"/>
										<path class="Stroke2pxInherit" d="M66.1,25.3c0,2-1.6,3.6-3.6,3.6c-2,0-3.6-1.6-3.6-3.6c0-2,1.6-3.6,3.6-3.6C64.5,21.7,66.1,23.3,66.1,25.3z"/>
									</g>
								</svg>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct PaddingBottom10pct">
								<p class="TestoInfografica Regular15">Tipologia di servizio prodotto</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a class="DataLink" ng-href="{{ Link_Market }}">
							<div class="DataContainer">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct MarginBottom10pct">
									<svg version="1.1" class="TxtLeft FloatLeft" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
									    <g>
									        <circle class="Stroke5pxInherit" cx="55.2" cy="39.5" r="35.2"/>
									        <path class="Stroke5pxInherit" d="M23.5,8.1c-8.1,8.1-13.2,19.4-13.2,31.8c0,24.8,20.1,45,45,45c12.4,0,23.7-5,31.8-13.2"/>
									        <path class="Stroke5pxInherit" d="M73,96.6c-5.2-2.8-11.2-4-17.5-4s-12.3,1.2-17.5,4"/>
									        <line class="Stroke5pxInherit" x1="55.5" y1="93" x2="55.5" y2="84"/>
									        <polyline class="Stroke5pxInherit" points="59.5,4 59.5,16 55.6,19.5 48.5,19.5 48.5,15.5 40.5,15.5 40.5,27 48.3,34.8 42.5,40.8 53.5,51.6 53.5,57 45.4,65.3 41.5,61.1 41.5,54 27.5,39.5 27.5,30.5 21,30.5"/>
									        <polyline class="Stroke5pxInherit" points="86,23.5 72,23.5 68.8,26.5 61.5,26.5 61.5,41 66.5,46 66.5,57 70.8,61.2 75.5,56.6 75.5,45 80.5,40.5 90,40.5"/>
									    </g>
									</svg>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct PaddingBottom10pct">
									<p class="TestoInfografica Regular15">Mercato di riferimento</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a class="DataLink" ng-href="{{ Link_Growth }}">
							<div class="DataContainer">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct MarginBottom10pct">
									<p class="TxtLeft FloatLeft W100 MarginZero Interlinea Bold36">~<span class="count">300</span>%</p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct MarginBottom10pct">
									<p class="TestoInfografica TxtLeft FloatLeft W100 MarginZero Regular15">Percentuale di crescita complessiva</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a class="DataLink" ng-href="{{ Link_Type }}">
							<div class="DataContainer">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct MarginBottom10pct">
									<p class="TxtLeft FloatLeft W100 MarginZero Interlinea Bold36">B2B + B2C</p>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 FakePaddingLeft PaddingTop5pct MarginBottom10pct">
									<p class="TestoInfografica TxtLeft FloatLeft W100 MarginZero Regular15">Tipologia di cliente</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="legend in legends">
						<p class="TxtLeft FloatLeft W100 MarginZero Interlinea MarginBottom1pct MarginTop1pct WColor Regular12"> {{ legend.element }} </p>
					</div>
				</div>
			</div>
		</div>
		<div class="ArrayProfile">
			<a class="FloatDx" href="map/gabriele_bandini">
				<p class="MAVColor Bold15">Gabriele Bandini</p>
				<svg version="1.1" id="Destra" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15px" height="11px" viewBox="0 0 15 11" style="enable-background:new 0 0 15 11;" xml:space="preserve">
					<g>
						<polyline class="WLine2px" points="6,10.1 14,5.5 6,0.9"/>
						<line class="WLine2px" x1="13" y1="5.5" x2="0" y2="5.5"/>
					</g>
				</svg>
			</a>
		</div>
	</div>
</div>
<bottom-menu></bottom-menu>