<div class="BottomMenu">
    <div class="LeftBottomMenu">
        <a class="Regular12 WColor" ng-href="{{ Link_Credits.direct }}">{{ Link_Credits.name }}</a>
        <a class="Regular12 WColor" ng-href="{{ Link_Contact.direct }}">{{ Link_Contact.name }}</a>
        <a class="Regular12 WColor" ng-href="{{ Link_Manifesto.direct }}">{{ Link_Manifesto.name }}</a>
    </div>
    <div class="RightBottomMenu">
        <div class="ContainerSocial" ng-init="visible = false">
            <a class="Regular12 WColor" ng-repeat="linkshare in Link_Share" ng-href="{{ linkshare.link }}" ng-show="visible">{{ linkshare.name }}</a>
            <p class="Regular12 WColor" ng-click="visible = !visible"> {{ Toggle_Share }} </p>
        </div>
        <a class="Regular12 WColor" onclick="togglePlay()">{{ Toggle_Music }}</a>
        <a class="Regular12 WColor" onclick="toggleFullScreen()">{{ Toggle_Fullscreen }}</a>
    </div>
</div>