<div id="video0">
  <video preload autoplay autobuffer id="VideoIntervista" class="AndreaMartelli"></video>
</div>
<svg id="PlayerVideo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="8%" viewBox="0 0 785 65" style="enable-background:new 0 0 785 65;" xml:space="preserve">
	<g id="StructureCircle">
		<circle class="Stroke2px FOODStroke" cx="77.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="122.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="167.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="212.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="257.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="302.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="347.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="392.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="437.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="482.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="527.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="572.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="617.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="662.1" cy="39.3" r="14"/>
		<circle class="Stroke2px FOODStroke" cx="707.1" cy="39.3" r="14"/>
	</g>
	<g id="StructureLine">
		<line class="Stroke2px FOODStroke" x1="90.1" y1="39.3" x2="108.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="136.1" y1="39.3" x2="154.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="180.1" y1="39.3" x2="198.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="225.1" y1="39.3" x2="243.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="271.1" y1="39.3" x2="289.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="315.1" y1="39.3" x2="333.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="360.1" y1="39.3" x2="378.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="405.1" y1="39.3" x2="423.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="450.1" y1="39.3" x2="468.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="495.1" y1="39.3" x2="513.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="540.1" y1="39.3" x2="558.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="585.1" y1="39.3" x2="603.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="631.1" y1="39.3" x2="649.1" y2="39.3"/>
		<line class="Stroke2px FOODStroke" x1="676.1" y1="39.3" x2="694.1" y2="39.3"/>
	</g>
	<g id="StructureText">
		<text transform="matrix(1 0 0 1 56.75 13.6279)" class="FOODColor Regular15">storia</text>
		<text transform="matrix(1 0 0 1 95.2979 13.6279)" class="FOODColor Regular15">nascita</text>
		<text transform="matrix(1 0 0 1 143.7676 13.6279)" class="FOODColor Regular15">locale</text>
		<text transform="matrix(1 0 0 1 176.6455 13.6279)" class="FOODColor Regular15">comunità</text>
		<text transform="matrix(1 0 0 1 232.6074 13.6279)" class="FOODColor Regular15">abilità</text>
		<text transform="matrix(1 0 0 1 282.3574 13.6279)" class="FOODColor Regular15">team</text>
		<text transform="matrix(1 0 0 1 319.3779 13.6279)" class="FOODColor Regular15">digitale</text>
		<text transform="matrix(1 0 0 1 366.3252 13.6279)" class="FOODColor Regular15">scuola</text>
		<text transform="matrix(1 0 0 1 406.7705 13.6279)" class="FOODColor Regular15">ostacoli</text>
		<text transform="matrix(1 0 0 1 432.1084 13.6279)" class="FOODColor Regular15">made in Italy</text>
		<text transform="matrix(1 0 0 1 501.8203 13.6279)" class="FOODColor Regular15">estero</text>
		<text transform="matrix(1 0 0 1 532.623 13.6279)" class="FOODColor Regular15">fallimento</text>
		<text transform="matrix(1 0 0 1 582.873 13.6279)" class="FOODColor Regular15">successo</text>
		<text transform="matrix(1 0 0 1 636.9229 13.6279)" class="FOODColor Regular15">futuro</text>
		<text transform="matrix(1 0 0 1 678.1299 13.6279)" class="FOODColor Regular15">consigli</text>
	</g>
	<g id="ExitVideo">
		<line class="Stroke2px FOODStroke" x1="749.1" y1="29.2" x2="768.7" y2="48.8"/>
		<line class="Stroke2px FOODStroke" x1="768.7" y1="29.2" x2="749.1" y2="48.8"/>
		<circle ng-click="BackTo(); resetVolume();" class="Stroke2px FOODStroke" cx="759.1" cy="39.3" r="22"/>
	</g>
	<g id="PlayPause">
		<circle ng-click="PlayPause()" class="Stroke2px FOODStroke" cx="25.1" cy="39.3" r="22"/>
		<g id="npAction"></g>
	</g>
</svg>