<div id="video0">
  <video preload autoplay autobuffer id="VideoIntervista" class="AndreaMartelli"></video>
</div>
<svg id="PlayerVideo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="8%" viewBox="0 0 695 65" style="enable-background:new 0 0 695 65;" xml:space="preserve">
    <g id="StructureCircle">
        <circle class="Stroke2px MAVStroke" cx="76.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="121.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="166.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="211.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="256.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="301.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="346.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="391.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="436.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="481.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="526.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="571.8" cy="39.3" r="14"/>
        <circle class="Stroke2px MAVStroke" cx="616.8" cy="39.3" r="14"/>
    </g>
    <g id="StructureLine">
        <line class="Stroke2px MAVStroke" x1="89.8" y1="39.3" x2="107.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="135.8" y1="39.3" x2="153.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="179.8" y1="39.3" x2="197.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="224.8" y1="39.3" x2="242.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="270.8" y1="39.3" x2="288.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="314.8" y1="39.3" x2="332.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="359.8" y1="39.3" x2="377.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="404.8" y1="39.3" x2="422.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="449.8" y1="39.3" x2="467.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="494.8" y1="39.3" x2="512.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="539.8" y1="39.3" x2="557.8" y2="39.3"/>
        <line class="Stroke2px MAVStroke" x1="584.8" y1="39.3" x2="602.8" y2="39.3"/>
    </g>
    <g id="StructureText">
        <text transform="matrix(1 0 0 1 56.417 13.6279)" class="MAVColor Regular15">storia</text>
        <text transform="matrix(1 0 0 1 95.3818 13.6279)" class="MAVColor Regular15">nascita</text>
        <text transform="matrix(1 0 0 1 144.9346 13.6279)" class="MAVColor Regular15">locale</text>
        <text transform="matrix(1 0 0 1 177.3125 13.6279)" class="MAVColor Regular15">comunità</text>
        <text transform="matrix(1 0 0 1 233.2744 13.6279)" class="MAVColor Regular15">abilità</text>
        <text transform="matrix(1 0 0 1 283.0244 13.6279)" class="MAVColor Regular15">team</text>
        <text transform="matrix(1 0 0 1 321.9922 13.6279)" class="MAVColor Regular15">scuola</text>
        <text transform="matrix(1 0 0 1 362.4375 13.6279)" class="MAVColor Regular15">ostacoli</text>
        <text transform="matrix(1 0 0 1 387.7754 13.6279)" class="MAVColor Regular15">made in Italy</text>
        <text transform="matrix(1 0 0 1 457.4873 13.6279)" class="MAVColor Regular15">estero</text>
        <text transform="matrix(1 0 0 1 451.1279 13.6279)" class="MAVColor Regular15">fallimento/successo</text>
        <text transform="matrix(1 0 0 1 547.5898 13.6279)" class="MAVColor Regular15">futuro</text>
        <text transform="matrix(1 0 0 1 588.7969 13.6279)" class="MAVColor Regular15">consigli</text>
    </g>
    <g id="ExitVideo">
        <line class="Stroke2px MAVStroke" x1="658.8" y1="29.2" x2="678.3" y2="48.8"/>
        <line class="Stroke2px MAVStroke" x1="678.3" y1="29.2" x2="658.8" y2="48.8"/>
        <circle  ng-click="BackTo(); resetVolume();" class="Stroke2px MAVStroke" cx="668.8" cy="39.3" r="22"/>
    </g>
    <g id="PlayPause">
        <circle ng-click="PlayPause()" class="Stroke2px MAVStroke" cx="24.8" cy="39.3" r="22"/>
        <g id="npAction"></g>
    </g>
</svg>